# Scrapping

In [12]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [13]:
from selenium.webdriver.chrome.options import Options

In [14]:
import pandas as pd

In [15]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [16]:
driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver,options = opciones)

In [28]:
import time

import warnings   # para quitar warnings
warnings.simplefilter('ignore')

In [29]:
url='https://www.coursera.org/search?query=&index=prod_all_launched_products_term_optimization'

In [30]:
PATH=ChromeDriverManager().install()

====== WebDriver manager ======
Could not get version for google-chrome with the any command: google-chrome --version || google-chrome-stable --version
Current google-chrome version is UNKNOWN
Get LATEST chromedriver version for UNKNOWN google-chrome
Driver [/home/jesus_chao/.wdm/drivers/chromedriver/linux64/99.0.4844.51/chromedriver] found in cache

In [31]:
driver.get(url)

In [32]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [ ]:
"""curso = driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[1]/div/div/a/div/div/div[1]/h2").text
rating = driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[1]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text
students = driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[1]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text
nivel = driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[1]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text"""

In [33]:
mysql=pd.DataFrame()

In [34]:
mysql['curso'] =curso
mysql['rating'] =rating
mysql['students'] =students
mysql['nivel'] =nivel
mysql['universidad'] =universidad

In [35]:
mysql

,curso,rating,students,nivel,universidad
0,Google Data Analytics,4.8,730 mil,730 mil,Google
1,Google Project Management:,4.8,520 mil,520 mil,Google
2,Google UX Design,4.8,420 mil,420 mil,Google
3,IBM Data Science,4.6,1 m,1 m,IBM
4,Google IT Support,4.8,"1,2 m","1,2 m",Google
5,IBM Data Analyst,4.6,720 mil,720 mil,IBM
6,Introduction to Data Science,4.6,690 mil,690 mil,IBM
7,Data Science Fundamentals with Python and SQL,4.6,570 mil,570 mil,IBM
8,Deep Learning,4.8,"1,2 m","1,2 m",DeepLearning.AI
9,IBM Data Engineering,4.6,500 mil,500 mil,IBM

In [37]:
url2 = "https://www.coursera.org/search?page=2&index=prod_all_launched_products_term_optimization"

In [38]:
driver.get(url2)

In [39]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [40]:
mysql2=pd.DataFrame()
mysql2['curso'] =curso
mysql2['rating'] =rating
mysql2['students'] =students
mysql2['nivel'] =nivel
mysql2['universidad'] =universidad

In [41]:
mysql2

,curso,rating,students,nivel,universidad
0,Key Technologies for Business,4.7,730 mil,730 mil,IBM
1,IBM Data Analytics with Excel and R,4.7,200 mil,200 mil,IBM
2,IBM DevOps and Software Engineering,4.6,470 mil,470 mil,IBM
3,Data Engineering Foundations,4.6,490 mil,490 mil,IBM
4,Data Analysis and Visualization Foundations,4.7,190 mil,190 mil,IBM
5,Applied Data Science,4.6,500 mil,500 mil,IBM
6,IBM Full Stack Cloud Developer,4.6,470 mil,470 mil,IBM
7,IBM AI Foundations for Business,4.7,680 mil,680 mil,IBM
8,IBM & Darden Digital Strategy,4.7,360 mil,360 mil,University of Virginia Darden School Foundation
9,Machine Learning,4.9,"4,7 m","4,7 m",Stanford University

In [42]:
url3 = "https://www.coursera.org/search?page=3&index=prod_all_launched_products_term_optimization"

In [43]:
driver.get(url3)

In [44]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [45]:
mysql3=pd.DataFrame()
mysql3['curso'] =curso
mysql3['rating'] =rating
mysql3['students'] =students
mysql3['nivel'] =nivel
mysql3['universidad'] =universidad

In [46]:
mysql3

,curso,rating,students,nivel,universidad
0,IBM Cybersecurity Analyst,4.6,250 mil,250 mil,IBM
1,Google IT Automation with Python,4.7,600 mil,600 mil,Google
2,Python for Everybody,4.8,"2,7 m","2,7 m",University of Michigan
3,IT Fundamentals for Cybersecurity,4.6,230 mil,230 mil,IBM
4,IBM Applied AI,4.6,530 mil,530 mil,IBM
5,IBM Data Warehouse Engineer,4.6,270 mil,270 mil,IBM
6,Facebook Social Media Marketing,4.8,220 mil,220 mil,Meta
7,Machine Learning Engineering for Production (M...,4.7,47 mil,47 mil,DeepLearning.AI
8,Business Foundations,4.7,670 mil,670 mil,University of Pennsylvania
9,"DevOps, Cloud, and Agile Foundations",4.8,81 mil,81 mil,IBM

In [47]:
url4 = "https://www.coursera.org/search?page=4&index=prod_all_launched_products_term_optimization"

In [48]:
driver.get(url4)

In [49]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [50]:
mysql4=pd.DataFrame()
mysql4['curso'] =curso
mysql4['rating'] =rating
mysql4['students'] =students
mysql4['nivel'] =nivel
mysql4['universidad'] =universidad

In [51]:
mysql4

,curso,rating,students,nivel,universidad
0,"Foundations: Data, Data, Everywhere",4.8,710 mil,710 mil,Google
1,Foundations of Project Management,4.9,490 mil,490 mil,Google
2,Learn SQL Basics for Data Science,4.6,400 mil,400 mil,"University of California, Davis"
3,Cloud Application Development Foundations,4.7,80 mil,80 mil,IBM
4,DeepLearning.AI TensorFlow Developer,4.7,330 mil,330 mil,DeepLearning.AI
5,Finance & Quantitative Modeling for Analysts,4.5,350 mil,350 mil,University of Pennsylvania
6,"BI Foundations with SQL, ETL and Data Warehousing",4.6,250 mil,250 mil,IBM
7,Introduction to Finance and Accounting,4.6,410 mil,410 mil,University of Pennsylvania
8,Technical Support Fundamentals,4.8,1 m,1 m,Google
9,Indigenous Canada,4.8,460 mil,460 mil,University of Alberta

In [52]:
url5 = "https://www.coursera.org/search?page=5&index=prod_all_launched_products_term_optimization"

In [53]:
driver.get(url5)

In [54]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [55]:
mysql5=pd.DataFrame()
mysql5['curso'] =curso
mysql5['rating'] =rating
mysql5['students'] =students
mysql5['nivel'] =nivel
mysql5['universidad'] =universidad

In [56]:
mysql5

,curso,rating,students,nivel,universidad
0,Become a CBRS Certified Professional Installer...,4.7,2 mil,2 mil,Google - Spectrum Sharing
1,Business and Financial Modeling,4.5,220 mil,220 mil,University of Pennsylvania
2,Decentralized Finance (DeFi): The Future of Fi...,4.9,17 mil,17 mil,Duke University
3,Natural Language Processing,4.6,110 mil,110 mil,DeepLearning.AI
4,Business Analytics,4.6,370 mil,370 mil,University of Pennsylvania
5,Foundations of User Experience (UX) Design,4.8,400 mil,400 mil,Google
6,Excel Skills for Business,4.9,760 mil,760 mil,Macquarie University
7,Intuit Bookkeeping,4.5,33 mil,33 mil,Intuit
8,Fintech: Foundations & Applications of Financi...,4.6,70 mil,70 mil,University of Pennsylvania
9,IBM AI Engineering,4.6,300 mil,300 mil,IBM

In [57]:
mysql = pd.concat([mysql, mysql2, mysql3, mysql4, mysql5])

In [58]:
mysql = mysql.reset_index()

In [59]:
mysql.drop('index', axis=1, inplace=True)

In [61]:
lista =[]
for i in range(50):
    lista.append("MySQL")

In [62]:
mysql['skills'] = lista

In [63]:
mysql

,curso,rating,students,nivel,universidad,skills
0,Google Data Analytics,4.8,730 mil,730 mil,Google,MySQL
1,Google Project Management:,4.8,520 mil,520 mil,Google,MySQL
2,Google UX Design,4.8,420 mil,420 mil,Google,MySQL
3,IBM Data Science,4.6,1 m,1 m,IBM,MySQL
4,Google IT Support,4.8,"1,2 m","1,2 m",Google,MySQL
5,IBM Data Analyst,4.6,720 mil,720 mil,IBM,MySQL
6,Introduction to Data Science,4.6,690 mil,690 mil,IBM,MySQL
7,Data Science Fundamentals with Python and SQL,4.6,570 mil,570 mil,IBM,MySQL
8,Deep Learning,4.8,"1,2 m","1,2 m",DeepLearning.AI,MySQL
9,IBM Data Engineering,4.6,500 mil,500 mil,IBM,MySQL
10,Key Technologies for Business,4.7,730 mil,730 mil,IBM,MySQL
11,IBM Data Analytics with Excel and R,4.7,200 mil,200 mil,IBM,MySQL
12,IBM DevOps and Software Engineering,4.6,470 mil,470 mil,IBM,MySQL
13,Data Engineering Foundations,4.6,490 mil,490 mil,IBM,MySQL
14,Data Analysis and Visualization Foundations,4.7,190 mil,190 mil,IBM,MySQL
15,Applied Data Science,4.6,500 mil,500 mil,IBM,MySQL
16,IBM Full Stack Cloud Developer,4.6,470 mil,470 mil,IBM,MySQL
17,IBM AI Foundations for Business,4.7,680 mil,680 mil,IBM,MySQL
18,IBM & Darden Digital Strategy,4.7,360 mil,360 mil,University of Virginia Darden School Foundation,MySQL
19,Machine Learning,4.9,"4,7 m","4,7 m",Stanford University,MySQL
20,IBM Cybersecurity Analyst,4.6,250 mil,250 mil,IBM,MySQL
21,Google IT Automation with Python,4.7,600 mil,600 mil,Google,MySQL
22,Python for Everybody,4.8,"2,7 m","2,7 m",University of Michigan,MySQL
23,IT Fundamentals for Cybersecurity,4.6,230 mil,230 mil,IBM,MySQL
24,IBM Applied AI,4.6,530 mil,530 mil,IBM,MySQL
25,IBM Data Warehouse Engineer,4.6,270 mil,270 mil,IBM,MySQL
26,Facebook Social Media Marketing,4.8,220 mil,220 mil,Meta,MySQL
27,Machine Learning Engineering for Production (M...,4.7,47 mil,47 mil,DeepLearning.AI,MySQL
28,Business Foundations,4.7,670 mil,670 mil,University of Pennsylvania,MySQL
29,"DevOps, Cloud, and Agile Foundations",4.8,81 mil,81 mil,IBM,MySQL
30,"Foundations: Data, Data, Everywhere",4.8,710 mil,710 mil,Google,MySQL
31,Foundations of Project Management,4.9,490 mil,490 mil,Google,MySQL
32,Learn SQL Basics for Data Science,4.6,400 mil,400 mil,"University of California, Davis",MySQL
33,Cloud Application Development Foundations,4.7,80 mil,80 mil,IBM,MySQL
34,DeepLearning.AI TensorFlow Developer,4.7,330 mil,330 mil,DeepLearning.AI,MySQL
35,Finance & Quantitative Modeling for Analysts,4.5,350 mil,350 mil,University of Pennsylvania,MySQL
36,"BI Foundations with SQL, ETL and Data Warehousing",4.6,250 mil,250 mil,IBM,MySQL
37,Introduction to Finance and Accounting,4.6,410 mil,410 mil,University of Pennsylvania,MySQL
38,Technical Support Fundamentals,4.8,1 m,1 m,Google,MySQL
39,Indigenous Canada,4.8,460 mil,460 mil,University of Alberta,MySQL
40,Become a CBRS Certified Professional Installer...,4.7,2 mil,2 mil,Google - Spectrum Sharing,MySQL
41,Business and Financial Modeling,4.5,220 mil,220 mil,University of Pennsylvania,MySQL
42,Decentralized Finance (DeFi): The Future of Fi...,4.9,17 mil,17 mil,Duke University,MySQL
43,Natural Language Processing,4.6,110 mil,110 mil,DeepLearning.AI,MySQL
44,Business Analytics,4.6,370 mil,370 mil,University of Pennsylvania,MySQL
45,Foundations of User Experience (UX) Design,4.8,400 mil,400 mil,Google,MySQL
46,Excel Skills for Business,4.9,760 mil,760 mil,Macquarie University,MySQL
47,Intuit Bookkeeping,4.5,33 mil,33 mil,Intuit,MySQL
48,Fintech: Foundations & Applications of Financi...,4.6,70 mil,70 mil,University of Pennsylvania,MySQL
49,IBM AI Engineering,4.6,300 mil,300 mil,IBM,MySQL

In [64]:
mysql.to_csv("mysql.csv")

In [128]:
mongo1 = "https://www.coursera.org/search?query=mongo&index=prod_all_launched_products_term_optimization"

In [129]:
driver.get(mongo1)

In [130]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [131]:
mongo1=pd.DataFrame()
mongo1['curso'] =curso
mongo1['rating'] =rating
mongo1['students'] =students
mongo1['nivel'] =nivel
mongo1['universidad'] =universidad

In [132]:
mongo1

,curso,rating,students,nivel,universidad
0,Introduction to MongoDB,4.2,4.2,Intermediate,MongoDB Inc.
1,"Server-side Development with NodeJS, Express a...",4.7,4.7,Intermediate,The Hong Kong University of Science and Techno...
2,Introducción a bases de datos NoSQL con MongoDB,None,None,Coursera Project Network,Coursera Project Network
3,Create a C# Application to process MongoDB Data,None,None,Coursera Project Network,Coursera Project Network
4,Create a Python Application using PyMongo and ...,4.4,4.4,Intermediate,Coursera Project Network
5,Use the Apache Spark Structured Streaming API ...,None,None,Coursera Project Network,Coursera Project Network
6,MongoDB Aggregation Framework,4.5,4.5,Intermediate,MongoDB Inc.
7,Web Application Development with JavaScript an...,4.6,4.6,Mixed,University of London
8,Create Your First NoSQL Database with MongoDB ...,4.6,4.6,Intermediate,Coursera Project Network
9,CRUD Operations using MongoDB NoSQL,4.4,4.4,Beginner,Coursera Project Network

In [133]:
mongo2 = "https://www.coursera.org/search?query=mongo&page=2&index=prod_all_launched_products_term_optimization"

In [134]:
driver.get(mongo2)

In [135]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [136]:
mongo2=pd.DataFrame()
mongo2['curso'] =curso
mongo2['rating'] =rating
mongo2['students'] =students
mongo2['nivel'] =nivel
mongo2['universidad'] =universidad

In [142]:
mongo3 = "https://www.coursera.org/search?query=mongo&page=3&index=prod_all_launched_products_term_optimization"

In [143]:
driver.get(mongo3)

In [144]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [145]:
mongo3=pd.DataFrame()
mongo3['curso'] =curso
mongo3['rating'] =rating
mongo3['students'] =students
mongo3['nivel'] =nivel
mongo3['universidad'] =universidad

In [146]:
mongo4 = "https://www.coursera.org/search?query=mongo&page=4&index=prod_all_launched_products_term_optimization"

In [147]:
driver.get(mongo4)

In [148]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [149]:
mongo4=pd.DataFrame()
mongo4['curso'] =curso
mongo4['rating'] =rating
mongo4['students'] =students
mongo4['nivel'] =nivel
mongo4['universidad'] =universidad

In [150]:
mongo5 = "https://www.coursera.org/search?query=mongo&page=5&index=prod_all_launched_products_term_optimization"

In [151]:
driver.get(mongo5)

In [152]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [153]:
mongo5=pd.DataFrame()
mongo5['curso'] =curso
mongo5['rating'] =rating
mongo5['students'] =students
mongo5['nivel'] =nivel
mongo5['universidad'] =universidad

In [154]:
mongo6 = "https://www.coursera.org/search?query=mongo&page=6&index=prod_all_launched_products_term_optimization"

In [155]:
driver.get(mongo6)

In [156]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [157]:
mongo6=pd.DataFrame()
mongo6['curso'] =curso
mongo6['rating'] =rating
mongo6['students'] =students
mongo6['nivel'] =nivel
mongo6['universidad'] =universidad

In [158]:
mongo7 = "https://www.coursera.org/search?query=mongo&page=7&index=prod_all_launched_products_term_optimization"

In [159]:
driver.get(mongo7)

In [160]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [161]:
mongo7=pd.DataFrame()
mongo7['curso'] =curso
mongo7['rating'] =rating
mongo7['students'] =students
mongo7['nivel'] =nivel
mongo7['universidad'] =universidad

In [162]:
mongo8 = "https://www.coursera.org/search?query=mongo&page=8&index=prod_all_launched_products_term_optimization"

In [163]:
driver.get(mongo8)

In [164]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [165]:
mongo8=pd.DataFrame()
mongo8['curso'] =curso
mongo8['rating'] =rating
mongo8['students'] =students
mongo8['nivel'] =nivel
mongo8['universidad'] =universidad

In [166]:
mongo9 = "https://www.coursera.org/search?query=mongo&page=9&index=prod_all_launched_products_term_optimization"

In [167]:
driver.get(mongo9)

In [168]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [169]:
mongo9=pd.DataFrame()
mongo9['curso'] =curso
mongo9['rating'] =rating
mongo9['students'] =students
mongo9['nivel'] =nivel
mongo9['universidad'] =universidad

In [170]:
mongo10 = "https://www.coursera.org/search?query=mongo&page=10&index=prod_all_launched_products_term_optimization"

In [171]:
driver.get(mongo10)

In [172]:
mongo10=pd.DataFrame()
mongo10['curso'] =curso
mongo10['rating'] =rating
mongo10['students'] =students
mongo10['nivel'] =nivel
mongo10['universidad'] =universidad

In [173]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        rating.append("None")
        students.append("None")
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [174]:
mongofinal = pd.concat([mongo1, mongo2, mongo3, mongo4, mongo5, mongo6, mongo7, mongo8, mongo9, mongo10])

In [175]:
mongofinal = mongofinal.reset_index()

In [176]:
mongofinal.drop('index', axis=1, inplace=True)

In [178]:
lista =[]
for i in range(100):
    lista.append("MongoDB")

In [179]:
mongofinal['skills'] = lista

In [180]:
mongofinal

,curso,rating,students,nivel,universidad,skills
0,Introduction to MongoDB,4.2,4.2,Intermediate,MongoDB Inc.,MongoDB
1,"Server-side Development with NodeJS, Express a...",4.7,4.7,Intermediate,The Hong Kong University of Science and Techno...,MongoDB
2,Introducción a bases de datos NoSQL con MongoDB,None,None,Coursera Project Network,Coursera Project Network,MongoDB
3,Create a C# Application to process MongoDB Data,None,None,Coursera Project Network,Coursera Project Network,MongoDB
4,Create a Python Application using PyMongo and ...,4.4,4.4,Intermediate,Coursera Project Network,MongoDB
...,...,...,...,...,...,...
95,Embedded Interface Design,3.7,3.7,Intermediate,University of Colorado Boulder,MongoDB
96,Master of Science in Machine Learning and Data...,None,None,Imperial College London,Imperial College London,MongoDB
97,Введение в гладкие многообразия,None,None,HSE University,HSE University,MongoDB
98,Blockchain,4.6,4.6,Intermediate,University at Buffalo,MongoDB
99,Photography Basics and Beyond: From Smartphone...,4.7,4.7,Beginner,Michigan State University,MongoDB

In [181]:
mongofinal.to_csv("mongo.csv")