# Scrapping

In [67]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [68]:
from selenium.webdriver.chrome.options import Options

In [69]:
import pandas as pd

In [70]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [71]:
driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver,options = opciones)

In [72]:
import time

import warnings   # para quitar warnings
warnings.simplefilter('ignore')

In [21]:
url='https://www.coursera.org/search?query=&index=prod_all_launched_products_term_optimization'

In [22]:
PATH=ChromeDriverManager().install()

====== WebDriver manager ======
Could not get version for google-chrome with the any command: google-chrome --version || google-chrome-stable --version
Current google-chrome version is UNKNOWN
Get LATEST chromedriver version for UNKNOWN google-chrome
Driver [/home/jesus_chao/.wdm/drivers/chromedriver/linux64/99.0.4844.51/chromedriver] found in cache

In [23]:
driver.get(url)

In [74]:
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
    rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)

In [101]:
p_course = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[1]/h2"
p_rating = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]"
p_students = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span"
p_level = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span"
p_university = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[1]/div[1]/div[2]/span"

NameError: name 'a' is not defined

In [89]:
p_level_alt = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span"
p_university_alt = f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[1]/div[1]/div[2]/span"

In [90]:
click = "//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div/button[7]"

In [183]:
def coursera(num_pages, query):
    
    URL='https://www.coursera.org/search/'
    
    course =[]
    rating=[]
    students=[]
    level=[]
    university =[]

    for i in range(1, num_pages):

        scrape_url=''.join([
            URL,  # url base
            f'?query={query}',   # palabras clave de busqueda
            f'&page={i}', # numero de paginas (i)
            '&page=1&index=prod_all_launched_products_term_optimization'
            ])

        driver.get(scrape_url)  # el html de la pagina
        
        
        for a in range(1,11):
           
            try:
                course.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[1]/h2").text)
            
            except:
                
                course.append(None)
            try:
                rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
            
            except:
                
                rating.append(None)
                
            time.sleep(t)
            
            try:
                
                students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
            
            except:
                
                students.append(None)
            
            time.sleep(t)
            
            try:
                
                level.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
                                        
            except:
                
                level.append(None)
            
            time.sleep(t)
            
            try:
                university.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{a}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
            
            except:     
        
                university.append(None)
            
            """data =pd.DataFrame()
            data['course'] =course
            data['rating'] =rating
            data['students'] =students
            data['level'] =level
            data['university'] =university
            
            time.sleep(t)
            data.to_csv(f"{query}.{i}.csv")"""
            
            time.sleep(t)
            siguiente = driver.find_element_by_xpath("//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div/button[7]")
            siguiente.click()
            time.sleep(t)
            
    
        data_final =pd.DataFrame()
        data_final['course'] =course
        data_final['rating'] =rating
        data_final['students'] =students
        data_final['level'] =level
        data_final['university'] =university
        
        data_final.to_csv(f"{query}_final.csv")
            
        return data_final

In [184]:
coursera(6, "mysql")

MaxRetryError: HTTPConnectionPool(host='localhost', port=53821): Max retries exceeded with url: /session/77e4d2c0c3187a2e990165344e6b5388/url (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f467e656160>: Failed to establish a new connection: [Errno 111] Connection refused'))

In [ ]:
# Como no me ha funcionado por ahora la función he escrapeado los datos página por página para las siguientes búsquedas:
# MySQL, Mongo, Python, Tableau y Machine Learning.
#Aun así tengo `pendiente arreglarlo.

### MySQL Courses

In [ ]:
# Repito código porque escrapeo página por página. He escrapeado 6 páginas de MySQL (60 cursos).

In [613]:
url1 = "https://www.coursera.org/search?query=mysql&index=prod_all_launched_products_term_optimization"
driver.get(url1)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
mysql=pd.DataFrame()
mysql['course'] =curso
mysql['rating'] = rating
mysql['students'] =students
mysql['level'] = nivel
mysql['university'] = universidad

mysql

,course,rating,students,level,university
0,Learn SQL Basics for Data Science,4.6,400 mil,4.6,"University of California, Davis"
1,Excel to MySQL: Analytic Techniques for Business,4.6,660 mil,4.6,Duke University
2,Introduction to Structured Query Language (SQL),4.8,140 mil,4.8,University of Michigan
3,Managing Big Data with MySQL,4.7,170 mil,4.7,Duke University
4,Complex Retrieval Queries in MySQL Workbench,4.3,None,4.3,Coursera Project Network
5,SQL for Data Science,4.6,390 mil,4.6,"University of California, Davis"
6,Building a Dynamic Web App using PHP & MySQL,4.4,"5,8 mil",4.4,Coursera Project Network
7,Building a Company’s database using MySQL and SQL,4.5,None,4.5,Coursera Project Network
8,Data Science Math Skills,4.5,300 mil,4.5,Duke University
9,Introduction to Relational Database and SQL,4.6,28 mil,4.6,Coursera Project Network

In [614]:
url2 = "https://www.coursera.org/search?query=mysql&page=2&index=prod_all_launched_products_term_optimization"
driver.get(url2)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mysql2=pd.DataFrame()
mysql2['course'] =curso
mysql2['rating'] =rating
mysql2['students'] =students
mysql2['level'] =nivel
mysql2['university'] = universidad

mysql2

,course,rating,students,level,university
0,Create a Python Application using MySQL,4.5,5 mil,4.5,Coursera Project Network
1,Introduction to Relational Databases (RDBMS),4.6,"8,6 mil",4.6,IBM
2,Analyzing Big Data with SQL,4.9,22 mil,4.9,Cloudera
3,Create a Database with the Modeling Tool in My...,4.7,"1,9 mil",4.7,Coursera Project Network
4,Clean Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network
5,Simple Retrieval Queries in MySQL Workbench,4.6,2 mil,4.6,Coursera Project Network
6,Build Messenger Clone Using PHP and MySQL,None,None,None,Coursera Project Network
7,Working with MySQL DB instance using AWS RDS,4.7,None,4.7,Coursera Project Network
8,Using MySQL Database with PHP,None,None,None,Coursera Project Network
9,MySQL with Information Technology,4.9,None,4.9,Coursera Project Network

In [615]:
url3 = "https://www.coursera.org/search?query=mysql&page=3&index=prod_all_launched_products_term_optimization"
driver.get(url3)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mysql3=pd.DataFrame()
mysql3['course'] =curso
mysql3['rating'] =rating
mysql3['students'] =students
mysql3['level'] =nivel
mysql3['university'] =universidad

mysql3

,course,rating,students,level,university
0,Data Manipulation and Management using MYSQL W...,None,None,None,Coursera Project Network
1,Sort and Filter Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network
2,Database Creation and Modeling using MYSQL Wor...,5,None,5,Coursera Project Network
3,MySQL تكنولوجيا المعلومات مع,None,None,None,Coursera Project Network
4,MYSQL Workbench إنشاء و تصميم قواعد البيانات ب...,None,None,None,Coursera Project Network
5,Aggregate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network
6,Validate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network
7,Calculate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network
8,Relational Databases - MySQL - قواعد البيانات ...,None,None,None,Coursera Project Network
9,Microsoft Azure Relational Databases,4.9,None,4.9,Microsoft

In [616]:
url4 = "https://www.coursera.org/search?query=mysql&page=4&index=prod_all_launched_products_term_optimization"
driver.get(url4)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mysql4=pd.DataFrame()
mysql4['course'] =curso
mysql4['rating'] =rating
mysql4['students'] =students
mysql4['level'] =nivel
mysql4['university'] =universidad

mysql4

,course,rating,students,level,university
0,Deploy a Wordpress Website in AWS EC2,4.7,"1,8 mil",4.7,Coursera Project Network
1,Database Management Essentials,4.6,170 mil,4.6,University of Colorado System
2,Intermediate Relational Database and SQL,4.4,11 mil,4.4,Coursera Project Network
3,Building Web Applications in PHP,4.7,130 mil,4.7,University of Michigan
4,Google Cloud Big Data and Machine Learning Fun...,4.5,"4,5 mil",4.5,Google Cloud
5,"Data Warehouse Concepts, Design, and Data Inte...",4.4,56 mil,4.4,University of Colorado System
6,Building Database Applications in PHP,4.9,41 mil,4.9,University of Michigan
7,Google Cloud Big Data and Machine Learning Fun...,4.3,2 mil,4.3,Google Cloud
8,Relational database systems,4.4,20 mil,4.4,Universidad Nacional Autónoma de México
9,Google Cloud Big Data and Machine Learning Fun...,4.7,18 mil,4.7,Google Cloud

In [617]:
url5 = "https://www.coursera.org/search?query=mysql&page=5&index=prod_all_launched_products_term_optimization"
driver.get(url5)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mysql5=pd.DataFrame()
mysql5['course'] =curso
mysql5['rating'] =rating
mysql5['students'] =students
mysql5['level'] =nivel
mysql5['university'] =universidad

mysql5

,course,rating,students,level,university
0,SQL Joins,4.7,"2,9 mil",4.7,Coursera Project Network
1,Data-Driven Testing (via Database) with Seleni...,4.9,None,4.9,Coursera Project Network
2,Google Cloud Platform Big Data and Machine Lea...,4.8,2 mil,4.8,Google Cloud
3,Business intelligence and data warehousing,3.9,11 mil,3.9,Universidad Nacional Autónoma de México
4,Increasing Real Estate Management Profits: Har...,4.7,13 mil,4.7,Duke University
5,Cloud Computing Security,4.6,13 mil,4.6,University of Colorado System
6,Introduction To Java Database Connectivity - JDBC,4.3,None,4.3,Coursera Project Network
7,Introducción a las bases relacionales SQL,None,None,None,Coursera Project Network
8,Learn PHP Database Connectivity,4.7,None,4.7,Coursera Project Network
9,How to Use SQL with Large Datasets,None,None,None,Coursera Project Network

In [618]:
url6 = "https://www.coursera.org/search?query=mysql&page=6&index=prod_all_launched_products_term_optimization"
driver.get(url6)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"/html/body/div[3]/div/div/main/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mysql6=pd.DataFrame()
mysql6['course'] =curso
mysql6['rating'] =rating
mysql6['students'] =students
mysql6['level'] =nivel
mysql6['university'] =universidad

mysql6

,course,rating,students,level,university
0,Create your first Amazon Aurora Database in AWS,4.8,None,4.8,Coursera Project Network
1,تعليم مبادئ ال SQL Syntax,None,None,None,Coursera Project Network
2,Combine Multiple Pieces of Data in SQL,None,None,None,Coursera Project Network
3,Data-Driven Testing (via Database) with Seleni...,None,None,None,Coursera Project Network
4,Set up your dev environment for LAMP web devel...,None,None,None,Coursera Project Network
5,Introdução à base de dados relacionais e SQL,None,None,None,Coursera Project Network
6,Deploy a Complete Wordpress Video Blog in Micr...,None,None,None,Coursera Project Network
7,Introduction to Forensic Science,4.9,110 mil,4.9,"Nanyang Technological University, Singapore"
8,Excel Skills for Business: Intermediate II,4.8,150 mil,4.8,Macquarie University
9,Introduction to Economic Theories,4.5,52 mil,4.5,Erasmus University Rotterdam

In [619]:
mysql = pd.concat([mysql, mysql2, mysql3, mysql4, mysql5,mysql6])

In [620]:
mysql = mysql.reset_index()

In [621]:
mysql.drop('index', axis=1, inplace=True)

In [622]:
lista =[]
for i in range(60):
    lista.append("MySQL")

In [623]:
mysql['skills'] = lista

In [624]:
mysql

,course,rating,students,level,university,skills
0,Learn SQL Basics for Data Science,4.6,400 mil,4.6,"University of California, Davis",MySQL
1,Excel to MySQL: Analytic Techniques for Business,4.6,660 mil,4.6,Duke University,MySQL
2,Introduction to Structured Query Language (SQL),4.8,140 mil,4.8,University of Michigan,MySQL
3,Managing Big Data with MySQL,4.7,170 mil,4.7,Duke University,MySQL
4,Complex Retrieval Queries in MySQL Workbench,4.3,None,4.3,Coursera Project Network,MySQL
5,SQL for Data Science,4.6,390 mil,4.6,"University of California, Davis",MySQL
6,Building a Dynamic Web App using PHP & MySQL,4.4,"5,8 mil",4.4,Coursera Project Network,MySQL
7,Building a Company’s database using MySQL and SQL,4.5,None,4.5,Coursera Project Network,MySQL
8,Data Science Math Skills,4.5,300 mil,4.5,Duke University,MySQL
9,Introduction to Relational Database and SQL,4.6,28 mil,4.6,Coursera Project Network,MySQL
10,Create a Python Application using MySQL,4.5,5 mil,4.5,Coursera Project Network,MySQL
11,Introduction to Relational Databases (RDBMS),4.6,"8,6 mil",4.6,IBM,MySQL
12,Analyzing Big Data with SQL,4.9,22 mil,4.9,Cloudera,MySQL
13,Create a Database with the Modeling Tool in My...,4.7,"1,9 mil",4.7,Coursera Project Network,MySQL
14,Clean Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network,MySQL
15,Simple Retrieval Queries in MySQL Workbench,4.6,2 mil,4.6,Coursera Project Network,MySQL
16,Build Messenger Clone Using PHP and MySQL,None,None,None,Coursera Project Network,MySQL
17,Working with MySQL DB instance using AWS RDS,4.7,None,4.7,Coursera Project Network,MySQL
18,Using MySQL Database with PHP,None,None,None,Coursera Project Network,MySQL
19,MySQL with Information Technology,4.9,None,4.9,Coursera Project Network,MySQL
20,Data Manipulation and Management using MYSQL W...,None,None,None,Coursera Project Network,MySQL
21,Sort and Filter Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network,MySQL
22,Database Creation and Modeling using MYSQL Wor...,5,None,5,Coursera Project Network,MySQL
23,MySQL تكنولوجيا المعلومات مع,None,None,None,Coursera Project Network,MySQL
24,MYSQL Workbench إنشاء و تصميم قواعد البيانات ب...,None,None,None,Coursera Project Network,MySQL
25,Aggregate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network,MySQL
26,Validate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network,MySQL
27,Calculate Data in SQL using MySQL Workbench,None,None,None,Coursera Project Network,MySQL
28,Relational Databases - MySQL - قواعد البيانات ...,None,None,None,Coursera Project Network,MySQL
29,Microsoft Azure Relational Databases,4.9,None,4.9,Microsoft,MySQL
30,Deploy a Wordpress Website in AWS EC2,4.7,"1,8 mil",4.7,Coursera Project Network,MySQL
31,Database Management Essentials,4.6,170 mil,4.6,University of Colorado System,MySQL
32,Intermediate Relational Database and SQL,4.4,11 mil,4.4,Coursera Project Network,MySQL
33,Building Web Applications in PHP,4.7,130 mil,4.7,University of Michigan,MySQL
34,Google Cloud Big Data and Machine Learning Fun...,4.5,"4,5 mil",4.5,Google Cloud,MySQL
35,"Data Warehouse Concepts, Design, and Data Inte...",4.4,56 mil,4.4,University of Colorado System,MySQL
36,Building Database Applications in PHP,4.9,41 mil,4.9,University of Michigan,MySQL
37,Google Cloud Big Data and Machine Learning Fun...,4.3,2 mil,4.3,Google Cloud,MySQL
38,Relational database systems,4.4,20 mil,4.4,Universidad Nacional Autónoma de México,MySQL
39,Google Cloud Big Data and Machine Learning Fun...,4.7,18 mil,4.7,Google Cloud,MySQL
40,SQL Joins,4.7,"2,9 mil",4.7,Coursera Project Network,MySQL
41,Data-Driven Testing (via Database) with Seleni...,4.9,None,4.9,Coursera Project Network,MySQL
42,Google Cloud Platform Big Data and Machine Lea...,4.8,2 mil,4.8,Google Cloud,MySQL
43,Business intelligence and data warehousing,3.9,11 mil,3.9,Universidad Nacional Autónoma de México,MySQL
44,Increasing Real Estate Management Profits: Har...,4.7,13 mil,4.7,Duke University,MySQL
45,Cloud Computing Security,4.6,13 mil,4.6,University of Colorado System,MySQL
46,Introduction To Java Database Connectivity - JDBC,4.3,None,4.3,Coursera Project Network,MySQL
47,Introducción a las bases relacionales SQL,None,None,None,Coursera Project Network,MySQL
48,Learn PHP Database Connectivity,4.7,None,4.7,Coursera Project Network,MySQL
49,How to Use SQL with Large Datasets,None,None,None,Coursera Project Network,MySQL
50,Create your first Amazon Aurora Database in AWS,4.8,None,4.8,Coursera Project Network,MySQL
51,تعليم مبادئ ال SQL Syntax,None,None,None,Coursera Project Network,MySQL
52,Combine Multiple Pieces of Data in SQL,None,None,None,Coursera Project Network,MySQL
53,Data-Driven Testing (via Database) with Seleni...,None,None,None,Coursera Project Network,MySQL
54,Set up your dev environment for LAMP web devel...,None,None,None,Coursera Project Network,MySQL
55,Introdução à base de dados relacionais e SQL,None,None,None,Coursera Project Network,MySQL
56,Deploy a Complete Wordpress Video Blog in Micr...,None,None,None,Coursera Project Network,MySQL
57,Introduction to Forensic Science,4.9,110 mil,4.9,"Nanyang Technological University, Singapore",MySQL
58,Excel Skills for Business: Intermediate II,4.8,150 mil,4.8,Macquarie University,MySQL
59,Introduction to Economic Theories,4.5,52 mil,4.5,Erasmus University Rotterdam,MySQL

In [625]:
mysql.to_csv("mysql.csv")

### MongoDB Courses

In [ ]:
# Repito código porque escrapeo página por página. He escrapeado 14 páginas de Mongo DB (140 cursos).

In [626]:
mongo1 = "https://www.coursera.org/search?query=mongo&index=prod_all_launched_products_term_optimization"
driver.get(mongo1)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo1=pd.DataFrame()
mongo1['course'] =curso
mongo1['rating'] =rating
mongo1['students'] =students
mongo1['level'] =nivel
mongo1['university'] =universidad

mongo1

,course,rating,students,level,university
0,"Server-side Development with NodeJS, Express a...",4.7,130 mil,Intermediate,The Hong Kong University of Science and Techno...
1,Introduction to MongoDB,4.2,52 mil,Intermediate,MongoDB Inc.
2,Introducción a bases de datos NoSQL con MongoDB,None,None,Beginner,Coursera Project Network
3,Create a C# Application to process MongoDB Data,None,None,Intermediate,Coursera Project Network
4,Create a Python Application using PyMongo and ...,4.4,"3,2 mil",Intermediate,Coursera Project Network
5,MongoDB Aggregation Framework,4.5,"8,7 mil",Intermediate,MongoDB Inc.
6,Use the Apache Spark Structured Streaming API ...,None,None,Intermediate,Coursera Project Network
7,Web Application Development with JavaScript an...,4.6,59 mil,Mixed,University of London
8,Create Your First NoSQL Database with MongoDB ...,4.6,"2,8 mil",Intermediate,Coursera Project Network
9,CRUD Operations using MongoDB NoSQL,4.4,"1,7 mil",Beginner,Coursera Project Network

In [627]:
mongo2 = "https://www.coursera.org/search?query=mongo&page=2&index=prod_all_launched_products_term_optimization"
driver.get(mongo2)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo2=pd.DataFrame()
mongo2['course'] =curso
mongo2['rating'] =rating
mongo2['students'] =students
mongo2['level'] =nivel
mongo2['university'] =universidad

mongo2

,course,rating,students,level,university
0,"Desarrollo del lado servidor: NodeJS, Express ...",4.1,11 mil,Beginner,Universidad Austral
1,Create Fault Tolerant MongoDB Cluster,5,None,Intermediate,Coursera Project Network
2,"Crea ambientes MERN (MongoDB, Express, React, ...",None,None,Intermediate,Coursera Project Network
3,Introduction to NoSQL Databases,4.6,"6,8 mil",Beginner,IBM
4,Designing data-intensive applications,4.5,"6,2 mil",Intermediate,Universidad Nacional Autónoma de México
5,Full-Stack Web Development with React,4.7,360 mil,Intermediate,The Hong Kong University of Science and Techno...
6,Full Stack Web Development with Angular,4.7,350 mil,Intermediate,The Hong Kong University of Science and Techno...
7,Build a Node Server backend with Express,None,None,Intermediate,Coursera Project Network
8,Responsive Website Tutorial and Examples,4.2,35 mil,Mixed,University of London
9,"NoSQL, Big Data, and Spark Foundations",4.3,11 mil,Beginner,IBM

In [628]:
mongo3 = "https://www.coursera.org/search?query=mongo&page=3&index=prod_all_launched_products_term_optimization"
driver.get(mongo3)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo3=pd.DataFrame()
mongo3['course'] =curso
mongo3['rating'] =rating
mongo3['students'] =students
mongo3['level'] =nivel
mongo3['university'] =universidad

mongo3

,course,rating,students,level,university
0,Responsive Website Development and Design,4.5,250 mil,Beginner,University of London
1,Network Security & Database Vulnerabilities,4.7,46 mil,Beginner,IBM
2,History of Russia,4.4,None,Beginner,Saint Petersburg State University
3,Introduction to Meteor.js Development,4.6,43 mil,Mixed,University of London
4,Working with Big Data,None,None,Intermediate,Coursera Project Network
5,Containerize a full-stack NodeJS application i...,4.5,"2,7 mil",Intermediate,Coursera Project Network
6,The amazing world of the ethnic groups of Yunn...,None,None,Intermediate,Shanghai Jiao Tong University
7,بناء Backend لنسخة من Twitter,None,None,Beginner,Coursera Project Network
8,Build a Full Stack App using React and Express,None,None,Intermediate,Coursera Project Network
9,Microeconomics: When Markets Fail,4.8,29 mil,Mixed,University of Pennsylvania

In [629]:
mongo4 = "https://www.coursera.org/search?query=mongo&page=4&index=prod_all_launched_products_term_optimization"
driver.get(mongo4)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo4=pd.DataFrame()
mongo4['course'] =curso
mongo4['rating'] =rating
mongo4['students'] =students
mongo4['level'] =nivel
mongo4['university'] =universidad

mongo4

,course,rating,students,level,university
0,إلهام الأفراد وتحفيزهم,None,None,Mixed,University of Michigan
1,Microeconomics: The Power of Markets,4.7,50 mil,Mixed,University of Pennsylvania
2,Cómo inspirar y a motivar personas,None,None,Mixed,University of Michigan
3,Inspiração e motivação de indivíduos,None,None,Mixed,University of Michigan
4,Business Analytics,4.6,370 mil,Beginner,University of Pennsylvania
5,Leading People and Teams,4.7,350 mil,Beginner,University of Michigan
6,Marketing Mix Implementation,4.7,160 mil,Beginner,IE Business School
7,Business English Communication Skills,4.8,240 mil,Intermediate,University of Washington
8,Business English: Planning & Negotiating,4.8,45 mil,Intermediate,University of Washington
9,Accounting Analytics,4.5,95 mil,Mixed,University of Pennsylvania

In [630]:
mongo5 = "https://www.coursera.org/search?query=mongo&page=5&index=prod_all_launched_products_term_optimization"
driver.get(mongo5)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo5=pd.DataFrame()
mongo5['course'] =curso
mongo5['rating'] =rating
mongo5['students'] =students
mongo5['level'] =nivel
mongo5['university'] =universidad

mongo5

,course,rating,students,level,university
0,Inspiring and Motivating Individuals,4.8,170 mil,Mixed,University of Michigan
1,Brand and Product Management,4.7,82 mil,Mixed,IE Business School
2,Business English: Networking,4.8,170 mil,Intermediate,University of Washington
3,Lesson | Business English Skills: How to Write...,4.4,50 mil,Intermediate,University of Washington
4,Lesson | Business English Skills: How to Navig...,4.5,28 mil,Intermediate,University of Washington
5,Lesson | Business English Skills: Introducing ...,4.3,21 mil,Intermediate,University of Washington
6,Migrating a Monolithic Website to Microservice...,4.7,None,Intermediate,Google Cloud
7,Create a C# UI on Linux using MonoDevelop,None,None,Beginner,Coursera Project Network
8,Design of Experiments,4.7,12 mil,Beginner,Arizona State University
9,Spring Framework,3.7,"5,6 mil",Beginner,LearnQuest

In [631]:
mongo6 = "https://www.coursera.org/search?query=mongo&page=6&index=prod_all_launched_products_term_optimization"
driver.get(mongo6)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo6=pd.DataFrame()
mongo6['course'] =curso
mongo6['rating'] =rating
mongo6['students'] =students
mongo6['level'] =nivel
mongo6['university'] =universidad

mongo6

,course,rating,students,level,university
0,Building Containerized Applications on AWS,4.5,20 mil,Mixed,Amazon Web Services
1,Internet Giants: The Law and Economics of Medi...,4.8,53 mil,Mixed,The University of Chicago
2,Introduction to solar cells,4.8,53 mil,Beginner,Technical University of Denmark (DTU)
3,Natural Gas,4.7,28 mil,Beginner,University at Buffalo
4,Smart Working: Lavoro agile e Business English,None,None,Beginner,Università di Napoli Federico II
5,Real-Time Embedded Systems Theory and Analysis,4.4,"3,4 mil",Advanced,University of Colorado Boulder
6,Basic Cryptography and Programming with Crypto...,4.3,11 mil,Intermediate,University of Colorado System
7,Administrasi Sistem dan Layanan Infrastruktur TI,5,None,Beginner,Google
8,Sistem Operasi dan Anda: Menjadi Pengguna yang...,4.9,None,Beginner,Google
9,结构生物化学（Structural Biochemistry),4.8,12 mil,Mixed,Nanjing University

In [632]:
mongo7 = "https://www.coursera.org/search?query=mongo&page=7&index=prod_all_launched_products_term_optimization"
driver.get(mongo7)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo7=pd.DataFrame()
mongo7['course'] =curso
mongo7['rating'] =rating
mongo7['students'] =students
mongo7['level'] =nivel
mongo7['university'] =universidad

mongo7

,course,rating,students,level,university
0,Spring - Cloud Overview,4.5,None,Intermediate,LearnQuest
1,IBM Data Topology,4.8,"1,5 mil",Intermediate,IBM
2,The Power of Markets III: Input Markets and Pr...,4.8,"4,3 mil",Mixed,University of Rochester
3,Customizing color pickers and swatches in Adob...,None,None,Beginner,Coursera Project Network
4,Creating Azure Serverless Functions in a Real-...,None,None,Intermediate,Coursera Project Network
5,Diseño Instruccional: Aprendizaje activo y Ped...,4.7,14 mil,Beginner,Tecnológico de Monterrey
6,Digital Marketing for E-commerce,4.4,"2,3 mil",Beginner,Universidad de Palermo
7,Foundations of Healthcare Systems Engineering,4.6,"5,2 mil",Mixed,Johns Hopkins University
8,Experimental Design Basics,4.7,11 mil,Intermediate,Arizona State University
9,Diseño instruccional para el aprendizaje activo,4.7,11 mil,Beginner,Tecnológico de Monterrey

In [633]:
mongo8 = "https://www.coursera.org/search?query=mongo&page=8&index=prod_all_launched_products_term_optimization"
driver.get(mongo8)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo8=pd.DataFrame()
mongo8['course'] =curso
mongo8['rating'] =rating
mongo8['students'] =students
mongo8['level'] =nivel
mongo8['university'] =universidad

mongo8

,course,rating,students,level,university
0,E-Business: Negocios Online,4.6,"6,9 mil",Beginner,Universidad de Palermo
1,Factorial and Fractional Factorial Designs,4.8,"3,3 mil",Intermediate,Arizona State University
2,La formación del pensamiento crítico en la era...,4.8,None,Beginner,Universitat Autònoma de Barcelona
3,"Response Surfaces, Mixtures, and Model Building",4.7,"2,5 mil",Intermediate,Arizona State University
4,"Random Models, Nested and Split-plot Designs",4.6,2 mil,Intermediate,Arizona State University
5,Modelos de diseño instruccional para ambientes...,4.7,"4,7 mil",Beginner,Tecnológico de Monterrey
6,Proyecto de diseño instruccional para el apren...,4.6,"2,8 mil",Beginner,Tecnológico de Monterrey
7,UX and Interface Design for Embedded Systems,4,"2,7 mil",Intermediate,University of Colorado Boulder
8,M2M & IoT Interface Design & Protocols for Emb...,3.7,None,Intermediate,University of Colorado Boulder
9,Rapid Prototyping of Embedded Interface Designs,None,None,Intermediate,University of Colorado Boulder

In [634]:
mongo9 = "https://www.coursera.org/search?query=mongo&page=9&index=prod_all_launched_products_term_optimization"
driver.get(mongo9)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo9=pd.DataFrame()
mongo9['course'] =curso
mongo9['rating'] =rating
mongo9['students'] =students
mongo9['level'] =nivel
mongo9['university'] =universidad

mongo9

,course,rating,students,level,university
0,"Oralpha: Literacy for new citizens, a course f...",None,None,Beginner,Universitat Autònoma de Barcelona
1,Embedded Interface Design,3.7,"4,2 mil",Intermediate,University of Colorado Boulder
2,Master of Science in Machine Learning and Data...,None,None,None,Imperial College London
3,Blockchain,4.6,190 mil,Intermediate,University at Buffalo
4,Photography Basics and Beyond: From Smartphone...,4.7,270 mil,Beginner,Michigan State University
5,Social Media Management,4.9,70 mil,Beginner,Meta
6,International Humanitarian Law in Theory and P...,4.8,41 mil,Beginner,Universiteit Leiden
7,Healthcare IT Support,4.7,"7,5 mil",Beginner,Johns Hopkins University
8,Precision Medicine,4,"7,5 mil",Intermediate,University of Geneva
9,Suporte em TI do Google,4.9,18 mil,Beginner,Cresça com o Google

In [635]:
mongo10 = "https://www.coursera.org/search?query=mongo&page=10&index=prod_all_launched_products_term_optimization"
driver.get(mongo10)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo10=pd.DataFrame()
mongo10['course'] =curso
mongo10['rating'] =rating
mongo10['students'] =students
mongo10['level'] =nivel
mongo10['university'] =universidad

mongo10

,course,rating,students,level,university
0,Investment Management in an Evolving and Volat...,4.6,44 mil,Intermediate,HEC Paris
1,Electric Vehicles and Mobility,4.5,35 mil,Beginner,École des Ponts ParisTech
2,Diabetes – the Essential Facts,4.7,59 mil,Beginner,University of Copenhagen
3,Negociações de sucesso: estratégias e habilida...,4.9,70 mil,Mixed,University of Michigan
4,Leadership in 21st Century Organizations,4.7,58 mil,Mixed,Copenhagen Business School
5,"Faster Together, Enhancing the Recruitment of ...",4.8,"2,5 mil",Beginner,Vanderbilt University
6,Designing Effective Science Communication,4.5,None,Beginner,University of Colorado Boulder
7,Marketing de Mídias Sociais do Facebook,4.8,None,Beginner,Meta
8,Data and Urban Governance,None,None,Beginner,Sciences Po
9,Relational Database Administration (DBA),5,"2,2 mil",Beginner,IBM

In [636]:
mongo11 = "https://www.coursera.org/search?query=mongo&page=11&index=prod_all_launched_products_term_optimization"
driver.get(mongo11)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo11=pd.DataFrame()
mongo11['course'] =curso
mongo11['rating'] =rating
mongo11['students'] =students
mongo11['level'] =nivel
mongo11['university'] =universidad

mongo11

,course,rating,students,level,university
0,"Impacting the Opioid Crisis: Prevention, Educa...",4.9,"3,6 mil",Beginner,University of Michigan
1,Trademark Law,4.8,"6,1 mil",Mixed,University of Pennsylvania
2,Inteligência Artificial Aplicada ao CRM,None,None,Beginner,Fundação Instituto de Administração
3,Economic systems in different countries of the...,None,None,Beginner,National Research Tomsk State University
4,Writing and Editing: Drafting,4.8,12 mil,Beginner,University of Michigan
5,Gestão de produtos digitais: Princípios básico...,4.9,None,Beginner,University of Virginia
6,Life After COVID-19: Get Ready for our Post-Pa...,4.8,"4,8 mil",Beginner,Institute for the Future
7,Kids with Cancer Still Need School: The Provid...,None,None,Intermediate,Johns Hopkins University
8,When Disaster Meets Conflict,4.8,"3,5 mil",Intermediate,Erasmus University Rotterdam
9,"Professional development: Improve yourself, al...",4.8,17 mil,Mixed,Macquarie University

In [637]:
mongo12 = "https://www.coursera.org/search?query=mongo&page=12&index=prod_all_launched_products_term_optimization"
driver.get(mongo12)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo12=pd.DataFrame()
mongo12['course'] =curso
mongo12['rating'] =rating
mongo12['students'] =students
mongo12['level'] =nivel
mongo12['university'] =universidad

mongo12

,course,rating,students,level,university
0,PrEParing: PrEP for Providers and Patients,4.7,"5,4 mil",Beginner,Johns Hopkins University
1,Digital Business - Understand the digital world,4.4,None,Mixed,Institut Mines-Télécom
2,Operations and Patient Safety for Healthcare I...,4.8,"2,3 mil",Mixed,Johns Hopkins University
3,"Career planning: Your career, your life",4.8,"7,5 mil",Mixed,Macquarie University
4,Strategic Career Self-Management,4.5,37 mil,Mixed,The State University of New York
5,How to Use the Lean Canvas to Validate Your Bu...,None,None,Intermediate,Coursera Project Network
6,How to Get Skilled: Introduction to Individual...,3.8,51 mil,Intermediate,The State University of New York
7,Russian Invasion of Ukraine Teach-Out,None,None,Beginner,University of Michigan
8,NoSQL systems,4.3,"9,8 mil",Intermediate,Universidad Nacional Autónoma de México
9,Giving 2.0: The MOOC,4.6,30 mil,Mixed,Stanford University

In [638]:
mongo13 = "https://www.coursera.org/search?query=mongo&page=13&index=prod_all_launched_products_term_optimization"
driver.get(mongo13)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo13=pd.DataFrame()
mongo13['course'] =curso
mongo13['rating'] =rating
mongo13['students'] =students
mongo13['level'] =nivel
mongo13['university'] =universidad

mongo13

,course,rating,students,level,university
0,PRINCÍPIOS GERAIS DA TÉCNICA DO VIOLINO E DA V...,4.9,"2,1 mil",Intermediate,Universidade Estadual de Campinas
1,"Health, Society, and Wellness in COVID-19 Times",4.7,None,Beginner,University of Colorado Boulder
2,Capitalismo Consciente,4.5,12 mil,Mixed,Insper
3,Sistemática de Comércio Exterior,None,None,Beginner,Fundação Instituto de Administração
4,Google Cloud Product Fundamentals em Português...,4.6,None,Beginner,Google Cloud
5,Controle a Tempo Discreto,None,None,Intermediate,Instituto Tecnológico de Aeronáutica
6,Transportes e Logística,None,None,Beginner,Fundação Instituto de Administração
7,Design Research para Estratégia e Inovação,None,None,Beginner,Fundação Instituto de Administração
8,In the footsteps of Zika… approaching the unknown,4.7,"5,3 mil",Intermediate,University of Geneva
9,Finanças Orientada a Dados,None,None,Beginner,Fundação Instituto de Administração

In [640]:
mongo14 = "https://www.coursera.org/search?query=mongo&page=14&index=prod_all_launched_products_term_optimization"
driver.get(mongo14)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

mongo14=pd.DataFrame()
mongo14['course'] =curso
mongo14['rating'] =rating
mongo14['students'] =students
mongo14['level'] =nivel
mongo14['university'] =universidad

mongo14

,course,rating,students,level,university
0,Explorando os recursos educacionais da Khan Ac...,4.8,"6,5 mil",Mixed,Fundação Lemann
1,Business Transformation with Google Cloud em P...,4.9,None,Beginner,Google Cloud
2,"Gestão de Stakeholders, Ética e Sustentabilida...",None,None,Beginner,Fundação Instituto de Administração
3,Vieses Inconscientes e Comportamentos,None,None,Beginner,Fundação Instituto de Administração
4,Validating Your Business Model with Innovator’...,None,None,Intermediate,Coursera Project Network
5,Fundamentos de IA Aplicados ao CRM,None,None,Beginner,Fundação Instituto de Administração
6,Conclusão do Marketing de Mídias Sociais do Fa...,None,None,Beginner,Meta
7,Vozes da Mudança Social,4.8,None,Beginner,Laureate Education
8,Introdução a Mapas de Relação com Kumu,None,None,Beginner,Coursera Project Network
9,Fundamentos da Gestão do Sucesso do Cliente,None,None,Beginner,Fundação Instituto de Administração

In [641]:
mongofinal = pd.concat([mongo1, mongo2, mongo3, mongo4, mongo5, mongo6, mongo7, mongo8, mongo9, mongo10, mongo11, mongo12, mongo12, mongo14])

In [642]:
mongofinal = mongofinal.reset_index()

In [643]:
mongofinal.drop('index', axis=1, inplace=True)

In [644]:
lista =[]
for i in range(140):
    lista.append("MongoDB")

In [645]:
mongofinal['skills'] = lista

In [646]:
mongofinal

,course,rating,students,level,university,skills
0,"Server-side Development with NodeJS, Express a...",4.7,130 mil,Intermediate,The Hong Kong University of Science and Techno...,MongoDB
1,Introduction to MongoDB,4.2,52 mil,Intermediate,MongoDB Inc.,MongoDB
2,Introducción a bases de datos NoSQL con MongoDB,None,None,Beginner,Coursera Project Network,MongoDB
3,Create a C# Application to process MongoDB Data,None,None,Intermediate,Coursera Project Network,MongoDB
4,Create a Python Application using PyMongo and ...,4.4,"3,2 mil",Intermediate,Coursera Project Network,MongoDB
...,...,...,...,...,...,...
135,Fundamentos de IA Aplicados ao CRM,None,None,Beginner,Fundação Instituto de Administração,MongoDB
136,Conclusão do Marketing de Mídias Sociais do Fa...,None,None,Beginner,Meta,MongoDB
137,Vozes da Mudança Social,4.8,None,Beginner,Laureate Education,MongoDB
138,Introdução a Mapas de Relação com Kumu,None,None,Beginner,Coursera Project Network,MongoDB
139,Fundamentos da Gestão do Sucesso do Cliente,None,None,Beginner,Fundação Instituto de Administração,MongoDB

In [647]:
mongofinal.to_csv("mongo.csv")

### TABLEAU COURSES

In [ ]:
# Repito código porque escrapeo página por página. He escrapeado 7 páginas de Tableau (70 cursos).

In [524]:
tableau1 = "https://www.coursera.org/search?query=tableau&index=prod_all_launched_products_term_optimization"
driver.get(tableau1)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

tableau1=pd.DataFrame()
tableau1['course'] =curso
tableau1['rating'] =rating
tableau1['students'] =students
tableau1['level'] =nivel
tableau1['university'] =universidad

tableau1

,course,rating,students,level,university
0,Data Visualization with Tableau,4.5,170 mil,Beginner,"University of California, Davis"
1,Google Data Analytics,4.8,740 mil,Beginner,Google
2,Data Visualization and Communication with Tableau,4.7,190 mil,Mixed,Duke University
3,Excel to MySQL: Analytic Techniques for Business,4.6,660 mil,Beginner,Duke University
4,Анализ и визуализация данных в Tableau,4.8,None,Beginner,Moscow Institute of Physics and Technology
5,Fundamentals of Visualization with Tableau,4.5,150 mil,Beginner,"University of California, Davis"
6,Visualizing Citibike Trips with Tableau,4.6,17 mil,Beginner,Coursera Project Network
7,Creating Dashboards and Storytelling with Tableau,4.6,41 mil,Beginner,"University of California, Davis"
8,Use Tableau for Your Data Science Workflow,4.6,None,Beginner,"University of California, Irvine"
9,Advanced Business Analytics,4.6,210 mil,Intermediate,University of Colorado Boulder

In [525]:
tableau2 = "https://www.coursera.org/search?query=tableau&page=2&index=prod_all_launched_products_term_optimization"
driver.get(tableau2)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
tableau2=pd.DataFrame()
tableau2['course'] =curso
tableau2['rating'] =rating
tableau2['students'] =students
tableau2['level'] =nivel
tableau2['university'] =universidad

tableau2

,course,rating,students,level,university
0,Create a Big Number KPI Dashboard in Tableau P...,3.4,None,Intermediate,Coursera Project Network
1,Creating an Interactive KPI Management Dashboa...,4.3,None,Beginner,Coursera Project Network
2,Analyze City Data Using R and Tableau,4,None,Intermediate,University of Illinois at Urbana-Champaign
3,Data Visualization with Tableau Project,4.6,24 mil,Intermediate,"University of California, Davis"
4,Fundamentos de la visualización de datos con T...,4.7,None,Beginner,Universidad Austral
5,Principios esenciales de diseño en Tableau,4.3,None,Beginner,Universidad Austral
6,Share Data Through the Art of Visualization,4.5,100 mil,Beginner,Google
7,Master the Art of Data Visualization With Tabl...,4.2,None,Intermediate,Coursera Project Network
8,Create Geovisualizations in Tableau,None,None,Intermediate,Coursera Project Network
9,Business Intelligence con la Product Suite di ...,None,None,Advanced,Università di Napoli Federico II

In [526]:
tableau3 = "https://www.coursera.org/search?query=tableau&page=3&index=prod_all_launched_products_term_optimization"
driver.get(tableau3)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

tableau3=pd.DataFrame()
tableau3['course'] =curso
tableau3['rating'] =rating
tableau3['students'] =students
tableau3['level'] =nivel
tableau3['university'] =universidad

tableau3

,course,rating,students,level,university
0,Introduction to Accounting Data Analytics and ...,4.8,20 mil,Beginner,University of Illinois at Urbana-Champaign
1,Visual Analytics with Tableau,4.6,44 mil,Beginner,"University of California, Davis"
2,Essential Design Principles for Tableau,4.4,48 mil,Beginner,"University of California, Davis"
3,Create Interactive Graphs in Tableau,None,None,Intermediate,Coursera Project Network
4,Building Stock Returns Heatmap with Tableau,4.6,"2,5 mil",Intermediate,Coursera Project Network
5,Analyze Digital Marketing Spend in Tableau,3,None,Intermediate,Coursera Project Network
6,Create a Story in Tableau Public,4.5,None,Intermediate,Coursera Project Network
7,Tableau Public for Project Management and Beyond,4.3,"4,1 mil",Beginner,Coursera Project Network
8,Tableau для рабочего процесса в анализе данных,None,None,Intermediate,E-Learning Development Fund
9,Data Visualization: Analisi dei dati con Tableau,None,None,Beginner,Università di Napoli Federico II

In [527]:
tableau4 = "https://www.coursera.org/search?query=tableau&page=4&index=prod_all_launched_products_term_optimization"
driver.get(tableau4)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

tableau4=pd.DataFrame()
tableau4['course'] =curso
tableau4['rating'] =rating
tableau4['students'] =students
tableau4['level'] =nivel
tableau4['university'] =universidad

tableau4

,course,rating,students,level,university
0,Introduzione alla Data Visualization con Tableau,None,None,Beginner,Università di Napoli Federico II
1,Google Data Studio - Création de Tableaux de B...,4.4,"2,8 mil",Intermediate,Coursera Project Network
2,Creating an Interactive Graph with Tableau Public,4.6,None,Beginner,Coursera Project Network
3,Building Candlestick Charts with Tableau,4.3,"3,9 mil",Beginner,Coursera Project Network
4,How To Create A Sales Forecast In Tableau,None,None,Intermediate,Coursera Project Network
5,Data Visualization e manipolazione dei dati co...,None,None,Intermediate,Università di Napoli Federico II
6,How to Create a Gantt Chart in Tableau,None,None,Intermediate,Coursera Project Network
7,نظره عامة عن البيانات المصورة باستخدام Tableau,None,None,Beginner,Coursera Project Network
8,How to Visualize Research Data in Tableau,None,None,Intermediate,Coursera Project Network
9,Increasing Real Estate Management Profits: Har...,4.7,13 mil,Mixed,Duke University

In [528]:
tableau5 = "https://www.coursera.org/search?query=tableau&page=5&index=prod_all_launched_products_term_optimization"
driver.get(tableau5)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
tableau5=pd.DataFrame()
tableau5['course'] =curso
tableau5['rating'] =rating
tableau5['students'] =students
tableau5['level'] =nivel
tableau5['university'] =universidad

tableau5

,course,rating,students,level,university
0,"Foundations: Data, Data, Everywhere",4.8,710 mil,Beginner,Google
1,Facebook Marketing Analytics,4.7,16 mil,Beginner,Meta
2,"Aspectos básicos: Datos, datos, en todas partes",4.5,None,Beginner,Google
3,Introduction to Data Analytics,3.2,"4,5 mil",Beginner,Meta
4,Statistics for Marketing,4.9,"2,1 mil",Beginner,Meta
5,Data Analysis and Visualization,4.5,"4,1 mil",Beginner,University at Buffalo
6,"Grundlagen: Daten, überall Daten",None,None,Beginner,Google
7,Data Visualization Best Practices,4.6,None,Mixed,"University of California, Irvine"
8,Data Storytelling,None,None,Mixed,"University of California, Irvine"
9,Intro to TensorFlow en Français,3.3,None,Intermediate,Google Cloud

In [529]:
tableau6 = "https://www.coursera.org/search?query=tableau&page=6&index=prod_all_launched_products_term_optimization"
driver.get(tableau6)


curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

tableau6=pd.DataFrame()
tableau6['course'] =curso
tableau6['rating'] =rating
tableau6['students'] =students
tableau6['level'] =nivel
tableau6['university'] =universidad

tableau6

,course,rating,students,level,university
0,Compartir datos a través del arte de la visual...,None,None,Beginner,Google
1,Introduction à l'analyse de données à l'aide d...,None,None,Mixed,Rice University
2,Exploration et production de données pour les ...,None,None,Beginner,University of Illinois at Urbana-Champaign
3,Ebola : Vaincre ensemble !,4.4,"5,3 mil",Mixed,University of Geneva
4,Understanding Your Google Cloud Costs en Français,None,None,Beginner,Google Cloud
5,Choosing Which Method Is Best For Illustrating...,None,None,Beginner,Coursera Project Network
6,Scripting Bash - Découverte du Langage de Prog...,4.7,None,Intermediate,Coursera Project Network
7,Tout Pour Démarrer avec RStudio,None,None,Beginner,Coursera Project Network
8,Surveiller un hôte Linux avec Prometheus-Grafa...,None,None,Intermediate,Coursera Project Network
9,Créer un ingress controller dans Kubernetes av...,None,None,Intermediate,Coursera Project Network

In [530]:
tableau7 = "https://www.coursera.org/search?query=tableau&page=7&index=prod_all_launched_products_term_optimization"
driver.get(tableau7)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

tableau7=pd.DataFrame()
tableau7['course'] =curso
tableau7['rating'] =rating
tableau7['students'] =students
tableau7['level'] =nivel
tableau7['university'] =universidad

tableau7

,course,rating,students,level,university
0,Créer un Reverse Proxy pour conteneurs Docker ...,None,None,Intermediate,Coursera Project Network
1,Quelques instructions en PHP,None,None,Beginner,Coursera Project Network
2,Tables Statistiques Pour la Publication dans R,None,None,Intermediate,Coursera Project Network
3,Comment commencer avec Pinterest Shopping,None,None,Beginner,Coursera Project Network
4,Créer un site web Wordpress avec Amazon Lightsail,None,None,Beginner,Coursera Project Network
5,Daten über Visualisierungen Teilen,None,None,Beginner,Google
6,Utilisation et gestion des pointeurs avec la P...,None,None,Intermediate,Coursera Project Network
7,Intégrer des applications dans votre Dashboard...,None,None,Beginner,Coursera Project Network
8,Economie du sol et de l'immobilier I,4.7,14 mil,Intermediate,École Polytechnique Fédérale de Lausanne
9,Compétences Excel pour l’entreprise : les noti...,None,None,Beginner,Macquarie University

In [284]:
tableaufinal = pd.concat([tableau1, tableau2, tableau3, tableau4, tableau5, tableau6, tableau7])

In [285]:
tableaufinal = tableaufinal.reset_index()

In [286]:
tableaufinal.drop('index', axis=1, inplace=True)

In [287]:
lista =[]
for i in range(70):
    lista.append("Tableau")

In [288]:
tableaufinal['skills'] = lista

In [289]:
tableaufinal

,course,rating,students,level,university,skills
0,Data Visualization with Tableau,4.5,170 mil,Beginner,"University of California, Davis",Tableau
1,Google Data Analytics,4.8,740 mil,Beginner,Google,Tableau
2,Data Visualization and Communication with Tableau,4.7,190 mil,Mixed,Duke University,Tableau
3,Excel to MySQL: Analytic Techniques for Business,4.6,660 mil,Beginner,Duke University,Tableau
4,Анализ и визуализация данных в Tableau,4.8,None,Beginner,Moscow Institute of Physics and Technology,Tableau
...,...,...,...,...,...,...
65,Créer un ingress controller dans Kubernetes av...,None,None,Intermediate,Coursera Project Network,Tableau
66,Créer un Reverse Proxy pour conteneurs Docker ...,None,None,Intermediate,Coursera Project Network,Tableau
67,Utilisation et gestion des pointeurs avec la P...,None,None,Intermediate,Coursera Project Network,Tableau
68,Scripting Bash - Découverte du Langage de Prog...,4.7,None,Intermediate,Coursera Project Network,Tableau
69,Quelques instructions en PHP,None,None,Beginner,Coursera Project Network,Tableau

In [290]:
tableaufinal.to_csv("tableau.csv")

### PYTHON COURSES

In [ ]:
# Repito código porque escrapeo página por página. He escrapeado 50 páginas de Python (500 cursos).

In [494]:
python1 = "https://www.coursera.org/search?query=python&page=1&index=prod_all_launched_products_term_optimization"
driver.get(python1)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
python1=pd.DataFrame()
python1['course'] =curso
python1['rating'] =rating
python1['students'] =students
python1['level'] =nivel
python1['university'] =universidad

python1

,course,rating,students,level,university
0,Python for Everybody,4.8,"2,7 m",Beginner,University of Michigan
1,Google IT Automation with Python,4.7,600 mil,Beginner,Google
2,Python 3 Programming,4.7,350 mil,Beginner,University of Michigan
3,Crash Course on Python,4.8,520 mil,Beginner,Google
4,Data Science Fundamentals with Python and SQL,4.6,570 mil,Beginner,IBM
5,Applied Data Science with Python,4.5,800 mil,Intermediate,University of Michigan
6,Programming for Everybody (Getting Started wit...,4.8,"2,5 m",Mixed,University of Michigan
7,"Python for Data Science, AI & Development",4.6,380 mil,Beginner,IBM
8,IBM Data Science,4.6,1 m,Beginner,IBM
9,Introduction to Programming with Python and Java,4.4,35 mil,Beginner,University of Pennsylvania

In [495]:
python2 = "https://www.coursera.org/search?query=python&page=2&index=prod_all_launched_products_term_optimization"
driver.get(python2)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
python2=pd.DataFrame()
python2['course'] =curso
python2['rating'] =rating
python2['students'] =students
python2['level'] =nivel
python2['university'] =universidad

python2

,course,rating,students,level,university
0,IBM DevOps and Software Engineering,4.6,470 mil,Beginner,IBM
1,Bachelor of Science in Computer Science,None,None,None,University of London
2,Программирование на Python,4.5,80 mil,Intermediate,Moscow Institute of Physics and Technology
3,Python Basics,4.8,300 mil,Beginner,University of Michigan
4,Statistics with Python,4.6,110 mil,Beginner,University of Michigan
5,Data Structures and Algorithms,4.6,550 mil,Intermediate,University of California San Diego
6,Master of Science in Data Science,None,None,None,University of Colorado Boulder
7,Introduction to Scripting in Python,4.7,110 mil,Beginner,Rice University
8,IBM Data Analyst,4.6,720 mil,Beginner,IBM
9,Data Science Foundations: Data Structures and ...,4.6,12 mil,Advanced,University of Colorado Boulder

In [496]:
python3 = "https://www.coursera.org/search?query=python&page=3&index=prod_all_launched_products_term_optimization"
driver.get(python3)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python3=pd.DataFrame()
python3['course'] =curso
python3['rating'] =rating
python3['students'] =students
python3['level'] =nivel
python3['university'] =universidad

python3

,course,rating,students,level,university
0,Django for Everybody,4.7,73 mil,Intermediate,University of Michigan
1,Python for Data Analysis: Pandas & NumPy,4.4,"3,9 mil",Beginner,Coursera Project Network
2,Master of Science in Machine Learning and Data...,None,None,None,Imperial College London
3,Python and Statistics for Financial Analysis,4.4,120 mil,Intermediate,The Hong Kong University of Science and Techno...
4,Python for Cybersecurity,4.4,"6,5 mil",Intermediate,Infosec
5,Python Scripting for DevOps,4.2,"3,4 mil",Beginner,LearnQuest
6,Introduction to Python Programming,4.4,24 mil,Beginner,University of Pennsylvania
7,Master of Computer and Information Technology,None,None,None,University of Pennsylvania
8,Introduction to Python,4.5,29 mil,Beginner,Coursera Project Network
9,Data Science for Investment Professionals,4.9,"1,5 mil",Beginner,CFA Institute

In [497]:
python4 = "https://www.coursera.org/search?query=python&page=4&index=prod_all_launched_products_term_optimization"
driver.get(python4)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python4=pd.DataFrame()
python4['course'] =curso
python4['rating'] =rating
python4['students'] =students
python4['level'] =nivel
python4['university'] =universidad

python4

,course,rating,students,level,university
0,Advanced Data Science with IBM,4.3,110 mil,Advanced,IBM
1,Introducción a la programación en Python I: Ap...,4.4,200 mil,Beginner,Pontificia Universidad Católica de Chile
2,IBM AI Engineering,4.6,300 mil,Intermediate,IBM
3,Learn to Program: The Fundamentals,4.7,280 mil,Beginner,University of Toronto
4,Modern Application Development with Python on AWS,4.7,140 mil,Beginner,Amazon Web Services
5,Programming in Python: A Hands-on Introduction,4.5,"5,2 mil",Beginner,Codio
6,Python Data Products for Predictive Analytics,4.2,25 mil,Intermediate,University of California San Diego
7,Python Data Structures,4.9,830 mil,Mixed,University of Michigan
8,Introdução à Ciência da Computação com Python ...,4.9,190 mil,Beginner,Universidade de São Paulo
9,Programación en Python,4.7,12 mil,Beginner,Universidad de los Andes

In [498]:
python5 = "https://www.coursera.org/search?query=python&page=5&index=prod_all_launched_products_term_optimization"
driver.get(python5)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python5=pd.DataFrame()
python5['course'] =curso
python5['rating'] =rating
python5['students'] =students
python5['level'] =nivel
python5['university'] =universidad

python5

,course,rating,students,level,university
0,Investment Management with Python and Machine ...,4.6,52 mil,Beginner,EDHEC Business School
1,Advanced Machine Learning,4.4,350 mil,Advanced,HSE University
2,IBM Data Engineering,4.6,500 mil,Beginner,IBM
3,Facebook Marketing Analytics,4.7,16 mil,Beginner,Meta
4,Machine Learning,4.9,"4,7 m",Mixed,Stanford University
5,Python Classes and Inheritance,4.7,75 mil,Intermediate,University of Michigan
6,DeepLearning.AI TensorFlow Developer,4.7,330 mil,Intermediate,DeepLearning.AI
7,Python Data Structures,4.4,"8,4 mil",Intermediate,Coursera Project Network
8,Databases and SQL for Data Science with Python,4.6,240 mil,Beginner,IBM
9,Python Project for Data Science,4.5,54 mil,Intermediate,IBM

In [499]:
python6 = "https://www.coursera.org/search?query=python&page=6&index=prod_all_launched_products_term_optimization"
driver.get(python6)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python6=pd.DataFrame()
python6['course'] =curso
python6['rating'] =rating
python6['students'] =students
python6['level'] =nivel
python6['university'] =universidad

python6

,course,rating,students,level,university
0,Data Analysis with Python,4.7,230 mil,Beginner,IBM
1,Using Python to Access Web Data,4.8,550 mil,Mixed,University of Michigan
2,Introduction to Data Science in Python,4.5,660 mil,Intermediate,University of Michigan
3,Using Python to Interact with the Operating Sy...,4.7,130 mil,Beginner,Google
4,Data Visualization with Python,4.5,150 mil,Intermediate,IBM
5,Fundamentos de Ciencia de Datos con Python y SQL,4.3,"4,6 mil",Beginner,IBM
6,Introduction to Portfolio Construction and Ana...,4.8,44 mil,Mixed,EDHEC Business School
7,Using Databases with Python,4.8,410 mil,Mixed,University of Michigan
8,Aprende a programar con Python,4.5,49 mil,Beginner,Universidad Austral
9,Foundations of Data Science: K-Means Clusterin...,4.7,27 mil,Beginner,University of London

In [500]:
python7 = "https://www.coursera.org/search?query=python&page=7&index=prod_all_launched_products_term_optimization"
driver.get(python7)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python7=pd.DataFrame()
python7['course'] =curso
python7['rating'] =rating
python7['students'] =students
python7['level'] =nivel
python7['university'] =universidad

python7

,course,rating,students,level,university
0,Understanding and Visualizing Data with Python,4.7,97 mil,Beginner,University of Michigan
1,Data Analysis Using Python,4.6,"7,5 mil",Beginner,University of Pennsylvania
2,Python for Genomic Data Science,4.3,46 mil,Mixed,Johns Hopkins University
3,用 Python 做商管程式設計（一）(Programming for Business C...,4.9,27 mil,Beginner,National Taiwan University
4,Python Project for Data Engineering,4.6,"9,3 mil",Intermediate,IBM
5,"Capstone: Retrieving, Processing, and Visualiz...",4.7,220 mil,Mixed,University of Michigan
6,Exploratory Data Analysis With Python and Pandas,4.6,"7,6 mil",Beginner,Coursera Project Network
7,"Python Functions, Files, and Dictionaries",4.8,85 mil,Beginner,University of Michigan
8,COVID19 Data Analysis Using Python,4.5,28 mil,Intermediate,Coursera Project Network
9,Create Your First Web App with Python and Flask,4.5,13 mil,Intermediate,Coursera Project Network

In [501]:
python8 = "https://www.coursera.org/search?query=python&page=8&index=prod_all_launched_products_term_optimization"
driver.get(python8)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python8=pd.DataFrame()
python8['course'] =curso
python8['rating'] =rating
python8['students'] =students
python8['level'] =nivel
python8['university'] =universidad

python8

,course,rating,students,level,university
0,Design Computing: 3D Modeling in Rhinoceros wi...,5,"8,5 mil",Mixed,University of Michigan
1,Inferential Statistical Analysis with Python,4.6,32 mil,Intermediate,University of Michigan
2,Practical Python for AI Coding 1,4.7,"1,9 mil",Beginner,Korea Advanced Institute of Science and Techno...
3,Python Programming Essentials,4.8,75 mil,Beginner,Rice University
4,Introducción a la programación con Python,4.6,39 mil,Beginner,Universidad Austral
5,Create a Boggle Word Solver using recursion in...,4.4,"2,8 mil",Intermediate,Coursera Project Network
6,Applied Machine Learning in Python,4.6,250 mil,Intermediate,University of Michigan
7,"Applied Plotting, Charting & Data Representati...",4.5,160 mil,Intermediate,University of Michigan
8,Data Collection and Processing with Python,4.7,62 mil,Intermediate,University of Michigan
9,Game Theory with Python,4.3,"6,6 mil",Intermediate,Coursera Project Network

In [502]:
python9 = "https://www.coursera.org/search?query=python&page=9&index=prod_all_launched_products_term_optimization"
driver.get(python9)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")
        
python9=pd.DataFrame()
python9['course'] =curso
python9['rating'] =rating
python9['students'] =students
python9['level'] =nivel
python9['university'] =universidad

python9

,course,rating,students,level,university
0,Advanced Portfolio Construction and Analysis w...,4.8,15 mil,Intermediate,EDHEC Business School
1,用Python玩转数据 Data Processing Using Python,4.7,84 mil,Mixed,Nanjing University
2,Data Processing Using Python,4.1,56 mil,Beginner,Nanjing University
3,COVID19 Data Visualization Using Python,4.6,"3,3 mil",Intermediate,Coursera Project Network
4,Build a Data Science Web App with Streamlit an...,4.6,14 mil,Intermediate,Coursera Project Network
5,Python and Machine Learning for Asset Management,3.1,13 mil,Intermediate,EDHEC Business School
6,Robot Localization with Python and Particle Fi...,4.4,None,Advanced,Coursera Project Network
7,"Problem Solving, Python Programming, and Video...",4.2,36 mil,Beginner,University of Alberta
8,Python Data Representations,4.7,21 mil,Beginner,Rice University
9,An Introduction to Interactive Programming in ...,4.8,200 mil,Mixed,Rice University

In [503]:
python10 = "https://www.coursera.org/search?query=python&page=10&index=prod_all_launched_products_term_optimization"
driver.get(python10)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python10=pd.DataFrame()
python10['course'] =curso
python10['rating'] =rating
python10['students'] =students
python10['level'] =nivel
python10['university'] =universidad

python10

,course,rating,students,level,university
0,"Python Project: pillow, tesseract, and opencv",4,53 mil,Intermediate,University of Michigan
1,Sentimental Analysis on COVID-19 Tweets using ...,4.6,None,Intermediate,Coursera Project Network
2,Introduction to Python for Cybersecurity,4.4,"6,1 mil",Intermediate,Infosec
3,Automating Real-World Tasks with Python,4.8,46 mil,Beginner,Google
4,Python Data Analysis,4.7,33 mil,Beginner,Rice University
5,Create Your First Chatbot with Rasa and Python,4.5,17 mil,Beginner,Coursera Project Network
6,Build a Machine Learning Web App with Streamli...,4.7,"9,9 mil",Intermediate,Coursera Project Network
7,Create Interactive Dashboards with Streamlit a...,4.7,"8,5 mil",Intermediate,Coursera Project Network
8,Python para Data Science y AI,4.8,"2,1 mil",Beginner,IBM
9,Create an interactive fiction adventure game w...,4.6,3 mil,Beginner,Coursera Project Network

In [504]:
python11 = "https://www.coursera.org/search?query=python&page=11&index=prod_all_launched_products_term_optimization"
driver.get(python11)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python11=pd.DataFrame()
python11['course'] =curso
python11['rating'] =rating
python11['students'] =students
python11['level'] =nivel
python11['university'] =universidad

python11

,course,rating,students,level,university
0,Using SAS Viya REST APIs with Python and R,4.6,"3,1 mil",Mixed,SAS
1,"Concepts in Python: Loops, Functions and Returns",4.7,"2,6 mil",Beginner,Coursera Project Network
2,Introduction to Customer Segmentation in Python,4.6,None,Beginner,Coursera Project Network
3,The Raspberry Pi Platform and Python Programmi...,4.7,110 mil,Mixed,"University of California, Irvine"
4,Advanced Python Scripting for Cybersecurity,4,None,Beginner,Infosec
5,Introduction to Python Scripting for DevOps,4.3,"2,5 mil",Beginner,LearnQuest
6,用 Python 做商管程式設計（二）(Programming for Business C...,4.6,"7,9 mil",Intermediate,National Taiwan University
7,Logistic Regression with Python and Numpy,4.5,"5,7 mil",Intermediate,Coursera Project Network
8,Linear Regression with NumPy and Python,4.4,16 mil,Intermediate,Coursera Project Network
9,Python for Finance: Beta and Capital Asset Pri...,4.6,None,Beginner,Coursera Project Network

In [505]:
python12 = "https://www.coursera.org/search?query=python&page=12&index=prod_all_launched_products_term_optimization"
driver.get(python12)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python12=pd.DataFrame()
python12['course'] =curso
python12['rating'] =rating
python12['students'] =students
python12['level'] =nivel
python12['university'] =universidad

python12

,course,rating,students,level,university
0,Accounting Data Analytics with Python,4.1,"8,6 mil",Intermediate,University of Illinois at Urbana-Champaign
1,Image Denoising Using AutoEncoders in Keras an...,4.5,"6,6 mil",Intermediate,Coursera Project Network
2,Create a Python Application using MySQL,4.5,5 mil,Intermediate,Coursera Project Network
3,Python for Data Visualization: Matplotlib & Se...,4.7,None,Beginner,Coursera Project Network
4,Introduction to Data Science and scikit-learn ...,3.8,None,Beginner,LearnQuest
5,Create Your First Game with Python,4.5,12 mil,Intermediate,Coursera Project Network
6,Creating a Wordcloud using NLP and TF-IDF in P...,None,None,Beginner,Coursera Project Network
7,Exception Handling in Python,4.7,2 mil,Intermediate,Coursera Project Network
8,Crime Zone Heatmaps with Python and Folium,None,None,Beginner,Coursera Project Network
9,FIFA20 Data Exploration using Python,4.6,"1,9 mil",Beginner,Coursera Project Network

In [506]:
python13 = "https://www.coursera.org/search?query=python&page=13&index=prod_all_launched_products_term_optimization"
driver.get(python13)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python13=pd.DataFrame()
python13['course'] =curso
python13['rating'] =rating
python13['students'] =students
python13['level'] =nivel
python13['university'] =universidad

python13

,course,rating,students,level,university
0,Processing Data with Python,4.4,"5,7 mil",Intermediate,Coursera Project Network
1,"Python Scripting: Dates, Classes and Collections",4.4,None,Beginner,LearnQuest
2,GUI programming: Create a Calculator in Python,4.8,None,Intermediate,Coursera Project Network
3,Neural Network Visualizer Web App with Python,4.5,"6,5 mil",Intermediate,Coursera Project Network
4,Clustering Geolocation Data Intelligently in P...,4.5,10 mil,Intermediate,Coursera Project Network
5,Basic Statistics in Python (ANOVA),4.4,None,Beginner,Coursera Project Network
6,Build a Bot in Python for Basic File and Inter...,None,None,Intermediate,Coursera Project Network
7,Support Vector Machine Classification in Python,4.4,6 mil,Intermediate,Coursera Project Network
8,Version Control of a Python Project using Git,4.4,"1,8 mil",Intermediate,Coursera Project Network
9,"Merge, Sort and Filter Data in Python Pandas",4.5,"3,4 mil",Intermediate,Coursera Project Network

In [507]:
python14 = "https://www.coursera.org/search?query=python&page=14&index=prod_all_launched_products_term_optimization"
driver.get(python14)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python14=pd.DataFrame()
python14['course'] =curso
python14['rating'] =rating
python14['students'] =students
python14['level'] =nivel
python14['university'] =universidad

python14

,course,rating,students,level,university
0,Language Classification with Naive Bayes in Py...,4.5,"6,1 mil",Intermediate,Coursera Project Network
1,Determine Shortest Paths Between Routers Using...,4.6,None,Intermediate,Coursera Project Network
2,Data Analysis in Python with pandas & matplotl...,2.5,None,Beginner,Codio
3,"Python Scripting: Files, Inheritance, and Data...",4.7,None,Beginner,LearnQuest
4,Class Creation in Object Oriented Python,4.3,"2,7 mil",Beginner,Coursera Project Network
5,Data Visualization with Python,4.5,"7,7 mil",Intermediate,Coursera Project Network
6,Basic Statistics in Python (Correlations and T...,4.3,None,Beginner,Coursera Project Network
7,Aprendiendo Python con estadística descriptiva,4.7,None,Beginner,Coursera Project Network
8,Creando simulaciones con python,None,None,Intermediate,Coursera Project Network
9,Image Compression and Generation using Variati...,4.7,"3,2 mil",Intermediate,Coursera Project Network

In [508]:
python15 = "https://www.coursera.org/search?query=python&page=15&index=prod_all_launched_products_term_optimization"
driver.get(python15)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python15=pd.DataFrame()
python15['course'] =curso
python15['rating'] =rating
python15['students'] =students
python15['level'] =nivel
python15['university'] =universidad

python15

,course,rating,students,level,university
0,Python for Active Defense,4.4,None,Intermediate,Infosec
1,Estructuras de datos en Python,4.5,14 mil,Beginner,Universidad Austral
2,Improve Your Python Code Using Amazon CodeGuru,4.6,"2,1 mil",Intermediate,Amazon Web Services
3,Reverse and complement nucleic acid sequences ...,4.4,None,Beginner,Coursera Project Network
4,Create Python Linux Script to Generate a Disk ...,4.5,"4,4 mil",Intermediate,Coursera Project Network
5,Regex Python - Découvrir les Expressions Régul...,4.8,None,Beginner,Coursera Project Network
6,"Classification Trees in Python, From Start To ...",4.6,9 mil,Intermediate,Coursera Project Network
7,Create a Memory Puzzle Game in Python Using Py...,4.3,"1,7 mil",Intermediate,Coursera Project Network
8,Big-O Time Complexity in Python Code,4.6,None,Intermediate,Coursera Project Network
9,Análisis de datos con Python,4.6,"1,6 mil",Beginner,IBM

In [509]:
python16 = "https://www.coursera.org/search?query=python&page=16&index=prod_all_launched_products_term_optimization"
driver.get(python16)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python16=pd.DataFrame()
python16['course'] =curso
python16['rating'] =rating
python16['students'] =students
python16['level'] =nivel
python16['university'] =universidad

python16

,course,rating,students,level,university
0,Python 101: Develop Your First Python Program,4.8,"3,6 mil",Beginner,Coursera Project Network
1,Create Your First Python Program From UST,4.6,30 mil,Beginner,Coursera Project Network
2,An Introduction to Interactive Programming in ...,4.9,47 mil,Beginner,Rice University
3,Object-Oriented Python: Inheritance and Encaps...,4.3,"2,1 mil",Intermediate,Codio
4,Programación Orientada a Objetos con Python,4,14 mil,Beginner,Universidad Austral
5,Compose and Program Music in Python using Ears...,4.5,13 mil,Beginner,Coursera Project Network
6,Manejo de bases de datos con Python,4.2,13 mil,Beginner,Universidad Austral
7,用 Python 做商管程式設計（三）(Programming for Business C...,4.9,"5,9 mil",Mixed,National Taiwan University
8,Uso de Python para Acceder a Datos Web,None,None,Mixed,University of Michigan
9,Python Basics: Selection and Iteration,4.6,"2,8 mil",Beginner,Codio

In [510]:
python17 = "https://www.coursera.org/search?query=python&page=17&index=prod_all_launched_products_term_optimization"
driver.get(python17)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python17=pd.DataFrame()
python17['course'] =curso
python17['rating'] =rating
python17['students'] =students
python17['level'] =nivel
python17['university'] =universidad

python17

,course,rating,students,level,university
0,Global Warming II: Create Your Own Models in P...,4.1,13 mil,Mixed,The University of Chicago
1,Python Basics: Create a Guessing Number Game f...,4.6,"3,5 mil",Beginner,Coursera Project Network
2,Python Database Connection with MariaDB From I...,4.7,"2,2 mil",Intermediate,Coursera Project Network
3,Python para a Ciência de Dados e IA,None,None,Beginner,IBM
4,"Python Object Basics: Functions, Recursion, an...",4.8,None,Intermediate,Codio
5,"Python Basic Structures: Lists, Strings, and F...",4.4,None,Beginner,Codio
6,Database Operations in MariaDB Using Python Fr...,4.6,"1,8 mil",Advanced,Coursera Project Network
7,Use Python Regular Expressions to Process File...,3.3,None,Intermediate,Coursera Project Network
8,"Where, Why, and How of Lambda Functions in Python",None,None,Beginner,Coursera Project Network
9,Python에서 데이터베이스 사용하기,None,None,Mixed,University of Michigan

In [511]:
python18 = "https://www.coursera.org/search?query=python&page=18&index=prod_all_launched_products_term_optimization"
driver.get(python18)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python18=pd.DataFrame()
python18['course'] =curso
python18['rating'] =rating
python18['students'] =students
python18['level'] =nivel
python18['university'] =universidad

python18

,course,rating,students,level,university
0,Dice Game in Python,4.5,None,Beginner,Coursera Project Network
1,Python: обработка и анализ данных и ИИ,None,None,Beginner,IBM
2,Statistical Analysis using Python Numpy,None,None,Intermediate,Coursera Project Network
3,Python Dynamic HTML Web Server,4.5,6 mil,Beginner,Coursera Project Network
4,Работа с базами данных в Python,None,None,Mixed,University of Michigan
5,Визуализация данных с помощью Python,None,None,Intermediate,IBM
6,Python Scripting for DevOps,4.3,None,Intermediate,Coursera Project Network
7,"Support Vector Machines in Python, From Start ...",4.6,"4,6 mil",Intermediate,Coursera Project Network
8,Analyze Box Office Data with Plotly and Python,4.5,"8,5 mil",Beginner,Coursera Project Network
9,Snake game in Python: use Pygame to build your...,None,None,Intermediate,Coursera Project Network

In [512]:
python19 = "https://www.coursera.org/search?query=python&page=19&index=prod_all_launched_products_term_optimization"
driver.get(python19)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python19=pd.DataFrame()
python19['course'] =curso
python19['rating'] =rating
python19['students'] =students
python19['level'] =nivel
python19['university'] =universidad

python19

,course,rating,students,level,university
0,Aprendiendo Python con bases de datos,4.7,None,Beginner,Coursera Project Network
1,Primeros pasos en Python,4.6,None,Beginner,Coursera Project Network
2,Create Beautiful Data Visualizations with Pyth...,None,None,Intermediate,Coursera Project Network
3,Introduction to Search Techniques in Python: B...,None,None,Beginner,Coursera Project Network
4,Implementing Hangman Game Using Basics of Pyth...,4.5,None,Beginner,Coursera Project Network
5,Aprendiendo Python con álgebra lineal,4.6,None,Beginner,Coursera Project Network
6,Aprendiendo Python con circuitos digitales,4.8,None,Beginner,Coursera Project Network
7,Creating a Word Jumble Game in Python Using Tk...,None,None,Beginner,Coursera Project Network
8,Create a Connect Four Game in Python using Pygame,None,None,Intermediate,Coursera Project Network
9,Machine Learning with Python,4.7,250 mil,Intermediate,IBM

In [513]:
python20 = "https://www.coursera.org/search?query=python&page=20&index=prod_all_launched_products_term_optimization"
driver.get(python20)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python20=pd.DataFrame()
python20['course'] =curso
python20['rating'] =rating
python20['students'] =students
python20['level'] =nivel
python20['university'] =universidad

python20

,course,rating,students,level,university
0,Statistics for Data Science with Python,4.6,12 mil,Mixed,IBM
1,Building Modern Python Applications on AWS,4.5,73 mil,Intermediate,Amazon Web Services
2,Análise de dados com Python,None,None,Beginner,IBM
3,Introdução à Ciência da Computação com Python ...,4.9,25 mil,Beginner,Universidade de São Paulo
4,Python Project for AI & Application Development,4.5,"7,7 mil",Intermediate,IBM
5,Data Science con Python e R,4.1,None,Intermediate,Università di Napoli Federico II
6,Programación para todos (Introducción a Python),4.9,"2,2 mil",Mixed,University of Michigan
7,"Computers, Waves, Simulations: A Practical Int...",4.7,16 mil,Intermediate,Ludwig-Maximilians-Universität München (LMU)
8,Fitting Statistical Models to Data with Python,4.4,26 mil,Intermediate,University of Michigan
9,Programmation pour tous (mise en route de Python),4.9,None,Mixed,University of Michigan

In [514]:
python21 = "https://www.coursera.org/search?query=python&page=21&index=prod_all_launched_products_term_optimization"
driver.get(python21)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python21=pd.DataFrame()
python21['course'] =curso
python21['rating'] =rating
python21['students'] =students
python21['level'] =nivel
python21['university'] =universidad

python21

,course,rating,students,level,university
0,Computer Vision - Image Basics with OpenCV and...,4.3,14 mil,Beginner,Coursera Project Network
1,Applied Text Mining in Python,4.2,120 mil,Intermediate,University of Michigan
2,Programação para todos (Conceitos básicos de P...,5,None,Mixed,University of Michigan
3,Python: Istruzioni per l’uso,4.1,None,Beginner,Università di Napoli Federico II
4,Geospatial Data Visualization using Python and...,None,None,Intermediate,Coursera Project Network
5,Use Python Unit Test to Demonstrate TDD,None,None,Intermediate,Coursera Project Network
6,Python and Machine-Learning for Asset Manageme...,4.4,11 mil,Intermediate,EDHEC Business School
7,Applied Social Network Analysis in Python,4.7,85 mil,Intermediate,University of Michigan
8,Image Processing with Python,4.3,12 mil,Intermediate,Coursera Project Network
9,Traffic Sign Classification Using Deep Learnin...,4.6,10 mil,Intermediate,Coursera Project Network

In [523]:
python22 = "https://www.coursera.org/search?query=python&page=22&index=prod_all_launched_products_term_optimization"
driver.get(python22)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python22=pd.DataFrame()
python22['course'] =curso
python22['rating'] =rating
python22['students'] =students
python22['level'] =nivel
python22['university'] =universidad

python22

,course,rating,students,level,university
0,Climate Geospatial Analysis on Python with Xarray,4.2,None,Intermediate,Coursera Project Network
1,Create a Python Application using PyMongo and ...,4.4,"3,2 mil",Intermediate,Coursera Project Network
2,Network Data Science with NetworkX and Python,4.3,5 mil,Intermediate,Coursera Project Network
3,Машинное обучение с использованием Python,None,None,Intermediate,IBM
4,Dimensionality Reduction using an Autoencoder ...,4.6,"3,3 mil",Intermediate,Coursera Project Network
5,"Activity Recognition using Python, Tensorflow ...",None,None,Beginner,Coursera Project Network
6,Build a Python GUI with Tkinter,4.4,"3,2 mil",Intermediate,Coursera Project Network
7,Aprendizado de máquina com Python,None,None,Intermediate,IBM
8,Python Data Visualization,4.7,33 mil,Beginner,Rice University
9,Estadísticas para la Ciencia de Datos con Python,None,None,Mixed,IBM

In [521]:
python23 = "https://www.coursera.org/search?query=python&page=23&index=prod_all_launched_products_term_optimization"
driver.get(python23)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python23=pd.DataFrame()
python23['course'] =curso
python23['rating'] =rating
python23['students'] =students
python23['level'] =nivel
python23['university'] =universidad

python23

,course,rating,students,level,university
0,Анализ данных с использованием Python,None,None,Beginner,IBM
1,Testing and Debugging Python,4.3,"6,2 mil",Intermediate,Coursera Project Network
2,Use Python to Create a Web Testing Bot,4,None,Intermediate,Coursera Project Network
3,Analysing Covid-19 Geospatial data with Python,4.3,None,Intermediate,Coursera Project Network
4,Procesamiento del lenguaje natural con Python ...,5,None,Intermediate,Coursera Project Network
5,Extract Text Data with Python and Regex,4.4,None,Intermediate,Coursera Project Network
6,Machine Learning for Accounting with Python,4.5,"6,6 mil",Intermediate,University of Illinois at Urbana-Champaign
7,Logistic Regression with NumPy and Python,4.5,12 mil,Beginner,Coursera Project Network
8,Image Segmentation with Python and Unsupervise...,4.6,None,Intermediate,Coursera Project Network
9,Advanced Python - Reconnaissance,4,None,Mixed,Infosec

In [520]:
python24 = "https://www.coursera.org/search?query=python&page=24&index=prod_all_launched_products_term_optimization"
driver.get(python24)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python24=pd.DataFrame()
python24['course'] =curso
python24['rating'] =rating
python24['students'] =students
python24['level'] =nivel
python24['university'] =universidad

python24

,course,rating,students,level,university
0,Aprendizaje Automático con Python,5,None,Intermediate,IBM
1,Python per la Data Science,None,None,Intermediate,Università di Napoli Federico II
2,Visualizing & Communicating Results in Python ...,None,None,Beginner,Codio
3,Linear Regression with Python,4.6,10 mil,Intermediate,Coursera Project Network
4,Análisis exploratorio de datos con Python y Pa...,None,None,Beginner,Coursera Project Network
5,"Storing, Retrieving, and Processing JSON data ...",None,None,Intermediate,Coursera Project Network
6,Wrangling Data for Data Analysts with Python,None,None,Beginner,Coursera Project Network
7,Analyser vos données avec Python,None,None,Beginner,Coursera Project Network
8,Test Driven Development Process For Beginners ...,None,None,Beginner,Coursera Project Network
9,"Where, Why, and How of List Comprehension in P...",None,None,Beginner,Coursera Project Network

In [519]:
python25 = "https://www.coursera.org/search?query=python&page=25&index=prod_all_launched_products_term_optimization"
driver.get(python25)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python25=pd.DataFrame()
python25['course'] =curso
python25['rating'] =rating
python25['students'] =students
python25['level'] =nivel
python25['university'] =universidad

python25

,course,rating,students,level,university
0,Facebook Network Analysis using Python and Net...,4.3,None,Intermediate,Coursera Project Network
1,Visualización Avanzada de datos con Python,None,None,Intermediate,Coursera Project Network
2,Regresión logística con NumPy y Python,None,None,Beginner,Coursera Project Network
3,Creating a Color Game in Python Using Tkinter GUI,None,None,Beginner,Coursera Project Network
4,Creating a Supermarket App Using Python,4.5,None,Intermediate,Coursera Project Network
5,"Python for Command-and-control, Exfiltration a...",5,None,Intermediate,Infosec
6,DevOps and Build Automation with Python,4,None,Beginner,LearnQuest
7,Detect Fake News in Python with Tensorflow,3.8,None,Intermediate,Coursera Project Network
8,COVID-19 : Les séries temporelles avec Python ...,4.5,None,Intermediate,Coursera Project Network
9,Working with AWS S3 Buckets using Python & boto3,5,None,Beginner,Coursera Project Network

In [517]:
python26 = "https://www.coursera.org/search?query=python&page=26&index=prod_all_launched_products_term_optimization"
driver.get(python26)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python26=pd.DataFrame()
python26['course'] =curso
python26['rating'] =rating
python26['students'] =students
python26['level'] =nivel
python26['university'] =universidad

python26

,course,rating,students,level,university
0,Introduction to Statistics in Python,None,None,Intermediate,Coursera Project Network
1,DataViz - Grammaire des Graphiques avec Python,None,None,Intermediate,Coursera Project Network
2,Text Generation with Markov Chains in Python,None,None,Intermediate,Coursera Project Network
3,AWS Elastic Beanstalk:Deploy a Python(Flask) W...,4.6,"1,5 mil",Beginner,Coursera Project Network
4,Regular Expressions in Python,4.3,None,Intermediate,Coursera Project Network
5,Configuring Python Extension Pack with Visual ...,None,None,Beginner,Coursera Project Network
6,Build a User Interface using Python Language,None,None,Intermediate,Coursera Project Network
7,Visualización de Datos con Python,4.6,None,Intermediate,IBM
8,Hypothesis Testing with Python and Excel,4.2,"2,1 mil",Intermediate,Tufts University
9,Use Python and Java to Create a GUI Application,None,None,Intermediate,Coursera Project Network

In [516]:
python27 = "https://www.coursera.org/search?query=python&page=27&index=prod_all_launched_products_term_optimization"
driver.get(python27)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python27=pd.DataFrame()
python27['course'] =curso
python27['rating'] =rating
python27['students'] =students
python27['level'] =nivel
python27['university'] =universidad

python27

,course,rating,students,level,university
0,Программирование для всех (начало работы с Pyt...,None,None,Mixed,University of Michigan
1,Create your own Sudoku Solver using AI and Python,4.3,"2,7 mil",Intermediate,Coursera Project Network
2,Create a Tic-Tac-Toe game in Python,4.9,None,Intermediate,Coursera Project Network
3,Practical Python for AI Coding 2,None,None,Beginner,Korea Advanced Institute of Science and Techno...
4,Applied Calculus with Python,None,None,Intermediate,Johns Hopkins University
5,Uso de bancos de dados com Python,None,None,Mixed,University of Michigan
6,Uso de bases de datos con Python,None,None,Mixed,University of Michigan
7,Juniper Networks Automation Using Python and PyEZ,None,None,Beginner,Juniper Networks
8,Estructuras de datos de Python,None,None,Mixed,University of Michigan
9,Использование языка Python для доступа к веб-д...,None,None,Mixed,University of Michigan

In [489]:
python28 = "https://www.coursera.org/search?query=python&page=28&index=prod_all_launched_products_term_optimization"
driver.get(python28)
curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python28=pd.DataFrame()
python28['course'] =curso
python28['rating'] =rating
python28['students'] =students
python28['level'] =nivel
python28['university'] =universidad

python28

,course,rating,students,level,university
0,Defensive Python,None,None,Mixed,Infosec
1,Automatic Machine Learning with H2O AutoML and...,4.8,"6,3 mil",Intermediate,Coursera Project Network
2,Estruturas de dados Python,None,None,Mixed,University of Michigan
3,Deploying a Python Data Analytics web app on H...,4.3,None,Intermediate,Coursera Project Network
4,Analyze Box Office Data with Seaborn and Python,4.5,"4,1 mil",Intermediate,Coursera Project Network
5,Working with Amazon DynamoDB using Python & Boto3,None,None,Beginner,Coursera Project Network
6,Enhance your python unit testing using Coverage,None,None,Intermediate,Coursera Project Network
7,Python Optical Character Recognition using Pyt...,None,None,Beginner,Coursera Project Network
8,Структуры данных Python,None,None,Mixed,University of Michigan
9,Visualização de dados com o Python,None,None,Intermediate,IBM

In [490]:
python29 = "https://www.coursera.org/search?query=python&page=29&index=prod_all_launched_products_term_optimization"
driver.get(python29)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python29=pd.DataFrame()
python29['course'] =curso
python29['rating'] =rating
python29['students'] =students
python29['level'] =nivel
python29['university'] =universidad

python29

,course,rating,students,level,university
0,"Le Où, Pourquoi et Comment des Fonctions Lambd...",None,None,Beginner,Coursera Project Network
1,Series Temporales con Pycaret y Python,None,None,Intermediate,Coursera Project Network
2,Data Processing using Python Collections,None,None,Intermediate,Coursera Project Network
3,GUI Programming: Create a Login System in Python,3.8,None,Intermediate,Coursera Project Network
4,Plots Creation using Matplotlib Python,None,None,Beginner,Coursera Project Network
5,Build a Machine Learning Image Classifier with...,None,None,Intermediate,Coursera Project Network
6,ML: Diagnose the presence of Breast Cancer wit...,None,None,Intermediate,Coursera Project Network
7,High-dimensional Data visualization techniques...,None,None,Intermediate,Coursera Project Network
8,Decryption with Python,None,None,Intermediate,Coursera Project Network
9,Machine Learning con Python. Nivel intermedio,None,None,Beginner,Coursera Project Network

In [491]:
python30 = "https://www.coursera.org/search?query=python&page=30&index=prod_all_launched_products_term_optimization"

driver.get(python30)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python30=pd.DataFrame()
python30['course'] =curso
python30['rating'] =rating
python30['students'] =students
python30['level'] =nivel
python30['university'] =universidad

python30

,course,rating,students,level,university
0,Installation et Configuration Python avec Visu...,None,None,Beginner,Coursera Project Network
1,Nettoyer vos données avec Python,None,None,Beginner,Coursera Project Network
2,Python استخدام قواعد البيانات مع,None,None,Mixed,University of Michigan
3,Write your own Python tool to footprint a web ...,None,None,Intermediate,Coursera Project Network
4,Personal Desktop Notifier in Python: Covid-19 ...,None,None,Intermediate,Coursera Project Network
5,Python بُنى بيانات,None,None,Mixed,University of Michigan
6,Exploring and Analyzing Fifa's Datasets Using ...,None,None,Beginner,Coursera Project Network
7,Crea tu primera aplicación web con Python y Flask,None,None,Intermediate,Coursera Project Network
8,Python برنامج لحل لعبة السودوكو بالذكاء الاصطن...,None,None,Intermediate,Coursera Project Network
9,Message Encoding/Decoding in Python with GUI,None,None,Beginner,Coursera Project Network

In [492]:
python31 = "https://www.coursera.org/search?query=python&page=31&index=prod_all_launched_products_term_optimization"

driver.get(python31)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python31=pd.DataFrame()
python31['course'] =curso
python31['rating'] =rating
python31['students'] =students
python31['level'] =nivel
python31['university'] =universidad

python31

,course,rating,students,level,university
0,Create Ping-Pong Game in Python using Turtle G...,None,None,Intermediate,Coursera Project Network
1,Machine Learning con Python. Nivel Avanzado,None,None,Intermediate,Coursera Project Network
2,"Creating a Rock, Paper, Scissors Game in Python",None,None,Beginner,Coursera Project Network
3,Create a Dynamic-Link Library with DevC++ for ...,None,None,Intermediate,Coursera Project Network
4,Design and Develop an Obstacles Game using Pyg...,None,None,Intermediate,Coursera Project Network
5,Hierarchical relational data analysis using py...,None,None,Intermediate,Coursera Project Network
6,برنامج تنبيه سطح المكتب باستخدام Python: إشعار...,None,None,Intermediate,Coursera Project Network
7,Python في Pygame تصميم و تطوير لعبة العقبات با...,None,None,Intermediate,Coursera Project Network
8,Affectation de variable en Python,None,None,Beginner,Coursera Project Network
9,Création de chaînes en Python,None,None,Beginner,Coursera Project Network

In [493]:
python32 = "https://www.coursera.org/search?query=python&page=32&index=prod_all_launched_products_term_optimization"
driver.get(python32)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python32=pd.DataFrame()
python32['course'] =curso
python32['rating'] =rating
python32['students'] =students
python32['level'] =nivel
python32['university'] =universidad

python32

,course,rating,students,level,university
0,Tirer Parti des Listes Pour un Code Python Plu...,None,None,Beginner,Coursera Project Network
1,"Aprendiendo Python con textos, números y ecuac...",4.8,None,Beginner,Coursera Project Network
2,Graficando con Python,None,None,Intermediate,Coursera Project Network
3,Chicken Invaders Game in Python using Pygame,None,None,Beginner,Coursera Project Network
4,أساسيات python: برمج لعبة تخمين الرقم من الصفر,None,None,Beginner,Coursera Project Network
5,بناء Neural Network مكونه من 3 طبقات بأستخدام ...,None,None,Beginner,Coursera Project Network
6,Les Expressions Régulières en Python,None,None,Intermediate,Coursera Project Network
7,Python معالجة مسبقة للبيانات و تحليلها بواسطة,None,None,Beginner,Coursera Project Network
8,Crea tu primer juego de adivinanza con Python,None,None,Beginner,Coursera Project Network
9,MatplotLib Python باستخدام plots إنشاء ال,None,None,Beginner,Coursera Project Network

In [468]:
python33 = "https://www.coursera.org/search?query=python&page=33&index=prod_all_launched_products_term_optimization"
driver.get(python33)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python33=pd.DataFrame()
python33['course'] =curso
python33['rating'] =rating
python33['students'] =students
python33['level'] =nivel
python33['university'] =universidad

python33

,course,rating,students,level,university
0,Des nombres et plus en Python,None,None,Beginner,Coursera Project Network
1,Explorando funciones cuadráticas con Python,None,None,Beginner,Coursera Project Network
2,Aprendizaje automático con Python y Azure Note...,None,None,Beginner,Coursera Project Network
3,لعبة الثعبان عن طريق python:استخدم pygame لتصن...,None,None,Intermediate,Coursera Project Network
4,Explorando funciones lineales con Python,None,None,Beginner,Coursera Project Network
5,Extraire des Données de Texte avec Python et R...,None,None,Beginner,Coursera Project Network
6,Python для информационной безопасности,None,None,Intermediate,E-Learning Development Fund
7,Python для кибербезопасности,None,None,Intermediate,E-Learning Development Fund
8,Introduction to Data Science,4.6,690 mil,Beginner,IBM
9,Applied Data Science,4.6,500 mil,Beginner,IBM

In [469]:
python34 = "https://www.coursera.org/search?query=python&page=34&index=prod_all_launched_products_term_optimization"
driver.get(python34)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python34=pd.DataFrame()
python34['course'] =curso
python34['rating'] =rating
python34['students'] =students
python34['level'] =nivel
python34['university'] =universidad

python34

,course,rating,students,level,university
0,IBM Full Stack Cloud Developer,4.6,470 mil,Beginner,IBM
1,IBM Cybersecurity Analyst,4.6,250 mil,Beginner,IBM
2,IBM Applied AI,4.6,530 mil,Beginner,IBM
3,Learn SQL Basics for Data Science,4.6,400 mil,Beginner,"University of California, Davis"
4,Preparing for Google Cloud Certification: Mach...,4.6,350 mil,Intermediate,Google Cloud
5,IBM Machine Learning,4.6,37 mil,Intermediate,IBM
6,Mathematics for Machine Learning,4.6,300 mil,Beginner,Imperial College London
7,Sports Performance Analytics,4.5,"8,9 mil",Intermediate,University of Michigan
8,Computational Thinking for Problem Solving,4.7,75 mil,Beginner,University of Pennsylvania
9,Machine Learning for Trading,3.9,40 mil,Intermediate,New York Institute of Finance

In [470]:
python35 = "https://www.coursera.org/search?query=python&page=35&index=prod_all_launched_products_term_optimization"
driver.get(python35)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python35=pd.DataFrame()
python35['course'] =curso
python35['rating'] =rating
python35['students'] =students
python35['level'] =nivel
python35['university'] =universidad

python35

,course,rating,students,level,university
0,Advanced Statistics for Data Science,4.4,94 mil,Advanced,Johns Hopkins University
1,Ciencia de Datos de IBM,4.5,"7,4 mil",Beginner,IBM
2,Introducción a la Ciencia de Datos,4.5,"4,4 mil",Beginner,IBM
3,Spacecraft Dynamics and Control,4.8,26 mil,Advanced,University of Colorado Boulder
4,Biology Meets Programming: Bioinformatics for ...,4.2,130 mil,Beginner,University of California San Diego
5,Data Analysis and Interpretation,4.4,140 mil,Beginner,Wesleyan University
6,Introduction to Data Analytics,3.2,"4,5 mil",Beginner,Meta
7,Introduction to MongoDB,4.2,52 mil,Intermediate,MongoDB Inc.
8,Getting started with TensorFlow 2,4.9,25 mil,Intermediate,Imperial College London
9,Machine Learning Foundations: A Case Study App...,4.6,360 mil,Mixed,University of Washington

In [471]:
python36 = "https://www.coursera.org/search?query=python&page=36&index=prod_all_launched_products_term_optimization"
driver.get(python36)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python36=pd.DataFrame()
python36['course'] =curso
python36['rating'] =rating
python36['students'] =students
python36['level'] =nivel
python36['university'] =universidad

python36

,course,rating,students,level,university
0,Reinforcement Learning for Trading Strategies,3.7,11 mil,Intermediate,New York Institute of Finance
1,Mastering Data Analysis with Pandas: Learning ...,4.6,None,Beginner,Coursera Project Network
2,"Developing Applications with SQL, Databases, a...",4.5,"5,7 mil",Intermediate,IBM
3,Learn to Program: Crafting Quality Code,4.6,54 mil,Mixed,University of Toronto
4,Advanced Linear Models for Data Science 2: Sta...,4.5,20 mil,Advanced,Johns Hopkins University
5,Computer Science: Programming with a Purpose,4.7,150 mil,Beginner,Princeton University
6,Developing AI Applications on Azure,4.4,45 mil,Advanced,LearnQuest
7,Build & Deploy AI Messenger Chatbot using IBM ...,4.5,"4,4 mil",Beginner,Coursera Project Network
8,Tweet Emotion Recognition with TensorFlow,4.7,"4,3 mil",Intermediate,Coursera Project Network
9,Agile Project: Product Prototype Touchpoint An...,4.6,"2,1 mil",Intermediate,Coursera Project Network

In [472]:
python37 = "https://www.coursera.org/search?query=python&page=37&index=prod_all_launched_products_term_optimization"
driver.get(python37)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python37=pd.DataFrame()
python37['course'] =curso
python37['rating'] =rating
python37['students'] =students
python37['level'] =nivel
python37['university'] =universidad

python37

,course,rating,students,level,university
0,Data for Machine Learning,4.4,"6,5 mil",Intermediate,Alberta Machine Intelligence Institute
1,Data Science at Scale,4.2,83 mil,Intermediate,University of Washington
2,Principios de ingeniería de software automatiz...,None,None,None,Universidad de los Andes
3,Machine Learning for Analytics MasterTrack™ Ce...,None,None,None,University of Chicago
4,Google IT Support,4.8,"1,2 m",Beginner,Google
5,Modern Application Development with Node.js on...,4.8,83 mil,Beginner,Amazon Web Services
6,"HTML, CSS, and Javascript for Web Developers",4.7,690 mil,Mixed,Johns Hopkins University
7,Object Oriented Programming in Java,4.6,510 mil,Beginner,University of California San Diego
8,Introduction to Web Development,4.7,190 mil,Beginner,"University of California, Davis"
9,Machine Learning for All,4.7,110 mil,Beginner,University of London

In [473]:
python38 = "https://www.coursera.org/search?query=python&page=38&index=prod_all_launched_products_term_optimization"
driver.get(python38)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python38=pd.DataFrame()
python38['course'] =curso
python38['rating'] =rating
python38['students'] =students
python38['level'] =nivel
python38['university'] =universidad

python38

,course,rating,students,level,university
0,Introduction to Machine Learning,4.7,160 mil,Intermediate,Duke University
1,Advanced Django: Mastering Django and Django R...,4.8,"1,8 mil",Advanced,Codio
2,Introduction to Java and Object-Oriented Progr...,4.3,"9,8 mil",Beginner,University of Pennsylvania
3,Fundamentals of Scalable Data Science,4.3,63 mil,Beginner,IBM
4,Web Application Technologies and Django,4.7,63 mil,Intermediate,University of Michigan
5,"Introduction to Trading, Machine Learning & GCP",4,32 mil,Intermediate,Google Cloud
6,Advanced Machine Learning and Signal Processing,4.5,39 mil,Advanced,IBM
7,Building Web Applications in Django,4.7,31 mil,Intermediate,University of Michigan
8,Guided Tour of Machine Learning in Finance,3.8,28 mil,Intermediate,New York University
9,Using Machine Learning in Trading and Finance,4,16 mil,Intermediate,New York Institute of Finance

In [474]:
python39 = "https://www.coursera.org/search?query=python&page=39&index=prod_all_launched_products_term_optimization"
driver.get(python39)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python39=pd.DataFrame()
python39['course'] =curso
python39['rating'] =rating
python39['students'] =students
python39['level'] =nivel
python39['university'] =universidad

python39

,course,rating,students,level,university
0,Introduction to Accounting Data Analytics and ...,4.8,20 mil,Beginner,University of Illinois at Urbana-Champaign
1,Advanced Django: Building a Blog,4.9,None,Advanced,Codio
2,Object-Oriented Programming Concepts,4.6,"1,5 mil",Beginner,LearnQuest
3,"Cloud Virtualization, Containers and APIs",4.4,"2,5 mil",Beginner,Duke University
4,Statistics for Machine Learning for Investment...,None,None,Beginner,CFA Institute
5,Cloud Data Engineering,4.2,"2,4 mil",Intermediate,Duke University
6,Advanced Django: Introduction to Django Rest F...,4.4,None,Advanced,Codio
7,بايثون لعلوم البيانات والذكاء الصناعي,None,None,Beginner,IBM
8,Exploratory Data Analysis,4.2,"5,2 mil",Intermediate,Coursera Project Network
9,Build Your First Android App (Project-Centered...,4.2,330 mil,Mixed,CentraleSupélec

In [475]:
python40 = "https://www.coursera.org/search?query=python&page=40&index=prod_all_launched_products_term_optimization"
driver.get(python40)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python40=pd.DataFrame()
python40['course'] =curso
python40['rating'] =rating
python40['students'] =students
python40['level'] =nivel
python40['university'] =universidad

python40

,course,rating,students,level,university
0,The Fundamental of Data-Driven Investment,None,None,Beginner,Sungkyunkwan University
1,Introduction to Bayesian Statistics,3.2,"2,1 mil",Beginner,Databricks
2,Advanced Django: Advanced Django Rest Framework,None,None,Advanced,Codio
3,Deploy an NLP Text Generator: Bart Simpson Cha...,None,None,Intermediate,Coursera Project Network
4,Advanced Django: External APIs and Task Queuing,None,None,Advanced,Codio
5,التعلّم الآلي باستخدام لغة بايثون,None,None,Intermediate,IBM
6,Build a Classification Model using PyCaret,None,None,Beginner,Coursera Project Network
7,Deep Learning,4.8,"1,2 m",Intermediate,DeepLearning.AI
8,Data Engineering Foundations,4.6,490 mil,Beginner,IBM
9,IBM Data Warehouse Engineer,4.6,270 mil,Beginner,IBM

In [477]:
python41 = "https://www.coursera.org/search?query=python&page=41&index=prod_all_launched_products_term_optimization"
driver.get(python41)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python41=pd.DataFrame()
python41['course'] =curso
python41['rating'] =rating
python41['students'] =students
python41['level'] =nivel
python41['university'] =universidad

python41

,course,rating,students,level,university
0,"BI Foundations with SQL, ETL and Data Warehousing",4.6,250 mil,Beginner,IBM
1,Natural Language Processing,4.6,110 mil,Intermediate,DeepLearning.AI
2,Preparing for Google Cloud Certification: Clou...,4.6,250 mil,Intermediate,Google Cloud
3,"Data Engineering, Big Data, and Machine Learni...",4.6,250 mil,Intermediate,Google Cloud
4,Genomic Data Science,4.5,120 mil,Intermediate,Johns Hopkins University
5,Security Analyst Fundamentals,4.6,36 mil,Beginner,IBM
6,Neural Networks and Deep Learning,4.9,1 m,Intermediate,DeepLearning.AI
7,IBM Introduction to Machine Learning,4.6,32 mil,Intermediate,IBM
8,Generative Adversarial Networks (GANs),4.7,40 mil,Intermediate,DeepLearning.AI
9,TensorFlow: Advanced Techniques,4.8,27 mil,Intermediate,DeepLearning.AI

In [478]:
python42 = "https://www.coursera.org/search?query=python&page=42&index=prod_all_launched_products_term_optimization"
driver.get(python42)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python42=pd.DataFrame()
python42['course'] =curso
python42['rating'] =rating
python42['students'] =students
python42['level'] =nivel
python42['university'] =universidad

python42

,course,rating,students,level,university
0,Self-Driving Cars,4.7,130 mil,Advanced,University of Toronto
1,"NoSQL, Big Data, and Spark Foundations",4.3,11 mil,Beginner,IBM
2,Practical Data Science,4.5,16 mil,Advanced,DeepLearning.AI
3,Tools for Data Science,4.5,260 mil,Beginner,IBM
4,Introduction to Discrete Mathematics for Compu...,4.5,160 mil,Beginner,University of California San Diego
5,Improving Deep Neural Networks: Hyperparameter...,4.9,440 mil,Intermediate,DeepLearning.AI
6,Machine Learning with TensorFlow on Google Cloud,4.5,120 mil,Intermediate,Google Cloud
7,AI for Medicine,4.7,53 mil,Intermediate,DeepLearning.AI
8,Машинное обучение и анализ данных,4.7,110 mil,Intermediate,Moscow Institute of Physics and Technology
9,Introduction to TensorFlow for Artificial Inte...,4.7,280 mil,Intermediate,DeepLearning.AI

In [480]:
python43 = "https://www.coursera.org/search?query=python&page=43&index=prod_all_launched_products_term_optimization"
driver.get(python43)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python43=pd.DataFrame()
python43['course'] =curso
python43['rating'] =rating
python43['students'] =students
python43['level'] =nivel
python43['university'] =universidad

python43

,course,rating,students,level,university
0,Big Data,4.5,340 mil,Beginner,University of California San Diego
1,Convolutional Neural Networks,4.9,400 mil,Intermediate,DeepLearning.AI
2,PostgreSQL for Everybody,4.8,15 mil,Intermediate,University of Michigan
3,Become a Sustainable Business Change Agent,4.7,13 mil,Intermediate,University of Colorado System
4,An Introduction to Programming the Internet of...,4.7,440 mil,Beginner,"University of California, Irvine"
5,Convolutional Neural Networks in TensorFlow,4.7,110 mil,Intermediate,DeepLearning.AI
6,Build Basic Generative Adversarial Networks (G...,4.7,38 mil,Intermediate,DeepLearning.AI
7,Microsoft Azure Data Scientist Associate - DP-...,4.6,"3,2 mil",Intermediate,Microsoft
8,Advanced Machine Learning on Google Cloud,4.4,69 mil,Advanced,Google Cloud
9,Analista de Datos de IBM,4.4,11 mil,Beginner,IBM

In [481]:
python44 = "https://www.coursera.org/search?query=python&page=44&index=prod_all_launched_products_term_optimization"
driver.get(python44)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python44=pd.DataFrame()
python44['course'] =curso
python44['rating'] =rating
python44['students'] =students
python44['level'] =nivel
python44['university'] =universidad

python44

,course,rating,students,level,university
0,Machine Learning,4.6,430 mil,Intermediate,University of Washington
1,"Modern Robotics: Mechanics, Planning, and Control",4.7,44 mil,Intermediate,Northwestern University
2,Natural Language Processing in TensorFlow,4.6,100 mil,Intermediate,DeepLearning.AI
3,TensorFlow: Data and Deployment,4.6,40 mil,Intermediate,DeepLearning.AI
4,Mathematics for Machine Learning: Linear Algebra,4.7,280 mil,Beginner,Imperial College London
5,TensorFlow 2 for Deep Learning,4.9,30 mil,Intermediate,Imperial College London
6,"Sequences, Time Series and Prediction",4.7,91 mil,Intermediate,DeepLearning.AI
7,"Data Engineering, Big Data and ML on Google Cl...",4.5,"4,7 mil",Intermediate,Google Cloud
8,Analyze Datasets and Train ML Models using AutoML,4.5,14 mil,Advanced,DeepLearning.AI
9,程序设计与算法,4.8,93 mil,Beginner,Peking University

In [483]:
python45 = "https://www.coursera.org/search?query=python&page=45&index=prod_all_launched_products_term_optimization"
driver.get(python45)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python45=pd.DataFrame()
python45['course'] =curso
python45['rating'] =rating
python45['students'] =students
python45['level'] =nivel
python45['university'] =universidad

python45

,course,rating,students,level,university
0,Mastering Software Development in R,4.3,69 mil,Beginner,Johns Hopkins University
1,Machine Learning and Reinforcement Learning in...,3.7,41 mil,Intermediate,New York University
2,Natural Language Processing with Probabilistic...,4.7,43 mil,Intermediate,DeepLearning.AI
3,Exploratory Data Analysis for Machine Learning,4.6,28 mil,Intermediate,IBM
4,Машинное обучение: от статистики до нейросетей,4.4,"6,1 mil",Intermediate,HSE University
5,IBM AI Enterprise Workflow,4.3,"9,7 mil",Advanced,IBM
6,Математика для анализа данных,4.4,"4,9 mil",Beginner,HSE University
7,Mathematics for Data Science,4.4,67 mil,Beginner,HSE University
8,Fundamentals of Computing,4.8,250 mil,Beginner,Rice University
9,"Penetration Testing, Incident Response and For...",4.6,30 mil,Beginner,IBM

In [484]:
python46 = "https://www.coursera.org/search?query=python&page=46&index=prod_all_launched_products_term_optimization"
driver.get(python46)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python46=pd.DataFrame()
python46['course'] =curso
python46['rating'] =rating
python46['students'] =students
python46['level'] =nivel
python46['university'] =universidad

python46

,course,rating,students,level,university
0,"Custom Models, Layers, and Loss Functions with...",4.9,17 mil,Intermediate,DeepLearning.AI
1,Natural Language Processing with Sequence Models,4.5,37 mil,Intermediate,DeepLearning.AI
2,Accounting Data Analytics,4.7,29 mil,Intermediate,University of Illinois at Urbana-Champaign
3,Advanced Computer Vision with TensorFlow,4.8,16 mil,Intermediate,DeepLearning.AI
4,Psicología,4.8,24 mil,Beginner,Universidad de Palermo
5,Analítica de Datos en Finanzas,4.9,None,Intermediate,Universidad de los Andes
6,Computational Neuroscience,4.6,95 mil,Beginner,University of Washington
7,AI for Scientific Research,3.3,"1,7 mil",Beginner,LearnQuest
8,Custom and Distributed Training with TensorFlow,4.8,"9,1 mil",Intermediate,DeepLearning.AI
9,Serverless Data Processing with Dataflow,4.1,"3,8 mil",Intermediate,Google Cloud

In [485]:
python47 = "https://www.coursera.org/search?query=python&page=47&index=prod_all_launched_products_term_optimization"
driver.get(python47)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python47=pd.DataFrame()
python47['course'] =curso
python47['rating'] =rating
python47['students'] =students
python47['level'] =nivel
python47['university'] =universidad

python47

,course,rating,students,level,university
0,Data-driven Astronomy,4.8,26 mil,Intermediate,The University of Sydney
1,Ciencia de Datos Aplicada,4.6,"3,5 mil",Beginner,IBM
2,Introduction to Big Data with Spark and Hadoop,4.4,"6,5 mil",Beginner,IBM
3,AI for Medical Prognosis,4.7,19 mil,Intermediate,DeepLearning.AI
4,Deep Neural Networks with PyTorch,4.4,32 mil,Intermediate,IBM
5,"Foundations of Sports Analytics: Data, Represe...",4.5,"7,4 mil",Mixed,University of Michigan
6,Introduction to Deep Learning & Neural Network...,4.7,23 mil,Intermediate,IBM
7,Bases de Inteligencia Artificial para Todos,4.7,8 mil,Beginner,IBM
8,Mental Health and Resilience for Healthcare Wo...,4.8,"3,6 mil",Beginner,University of Toronto
9,Machine Learning for Supply Chains,3.3,"1,7 mil",Intermediate,LearnQuest

In [486]:
python48 = "https://www.coursera.org/search?query=python&page=48&index=prod_all_launched_products_term_optimization"
driver.get(python48)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python48=pd.DataFrame()
python48['course'] =curso
python48['rating'] =rating
python48['students'] =students
python48['level'] =nivel
python48['university'] =universidad

python48

,course,rating,students,level,university
0,Algorithms for DNA Sequencing,4.7,32 mil,Mixed,Johns Hopkins University
1,Sentiment Analysis with Deep Learning using BERT,4.5,12 mil,Intermediate,Coursera Project Network
2,Hands-on Machine Learning with Google Cloud Labs,3.8,3 mil,Intermediate,Google Cloud
3,SAS Statistical Business Analyst,4.6,6 mil,Intermediate,SAS
4,State Estimation and Localization for Self-Dri...,4.7,38 mil,Advanced,University of Toronto
5,Data Science in Stratified Healthcare and Prec...,4.6,17 mil,Intermediate,The University of Edinburgh
6,IBM Data Analyst Capstone Project,4.6,14 mil,Intermediate,IBM
7,Generative Deep Learning with TensorFlow,4.8,"7,3 mil",Intermediate,DeepLearning.AI
8,Detecting COVID-19 with Chest X-Ray using PyTorch,4.5,"9,9 mil",Intermediate,Coursera Project Network
9,"Data Engineer, Big Data and ML on Google Cloud...",4.4,"2,3 mil",Intermediate,Google Cloud

In [487]:
python49 = "https://www.coursera.org/search?query=python&page=49&index=prod_all_launched_products_term_optimization"
driver.get(python49)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python49=pd.DataFrame()
python49['course'] =curso
python49['rating'] =rating
python49['students'] =students
python49['level'] =nivel
python49['university'] =universidad

python49

,course,rating,students,level,university
0,Data Science and Analysis Tools - from Jupyter...,3.2,"3,4 mil",Beginner,Codio
1,Kinematics: Describing the Motions of Spacecraft,4.9,19 mil,Advanced,University of Colorado Boulder
2,Data Analytics Foundations for Accountancy I,4.1,"7,4 mil",Mixed,University of Illinois at Urbana-Champaign
3,Machine Learning with TensorFlow on Google Clo...,4.6,"9,6 mil",Intermediate,Google Cloud
4,"Modern Robotics, Course 1: Foundations of Robo...",4.7,39 mil,Intermediate,Northwestern University
5,Ciencia de datos,4.5,None,Beginner,Universidad de los Andes
6,Data and Statistics Foundation for Investment ...,4.8,None,Beginner,CFA Institute
7,SQL for Data Science Capstone Project,4.2,20 mil,Intermediate,"University of California, Davis"
8,Django Features and Libraries,4.8,18 mil,Intermediate,University of Michigan
9,More on Change and Sustainability,4.8,"3,9 mil",Beginner,University of Colorado System

In [488]:
python50 = "https://www.coursera.org/search?query=python&page=50&index=prod_all_launched_products_term_optimization"
driver.get(python50)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

python50=pd.DataFrame()
python50['course'] =curso
python50['rating'] =rating
python50['students'] =students
python50['level'] =nivel
python50['university'] =universidad

python50

,course,rating,students,level,university
0,Browser-based Models with TensorFlow.js,4.7,32 mil,Intermediate,DeepLearning.AI
1,Facial Expression Recognition with Keras,4.5,21 mil,Intermediate,Coursera Project Network
2,Data Analysis Using Pyspark,4.4,7 mil,Intermediate,Coursera Project Network
3,Applied AI with DeepLearning,4.4,48 mil,Advanced,IBM
4,Simulation and modeling of natural processes,4.2,32 mil,Mixed,University of Geneva
5,Data Engineering and Machine Learning using Spark,3.6,"3,1 mil",Beginner,IBM
6,파이썬 단기집중과정,4.8,None,Beginner,Google
7,Create Machine Learning Models in Microsoft Azure,4.7,"2,3 mil",Intermediate,Microsoft
8,Deploy Machine Learning Model into AWS Cloud S...,4.3,None,Intermediate,Coursera Project Network
9,The R Programming Environment,4.3,48 mil,Intermediate,Johns Hopkins University

In [531]:
pythonfinal = pd.concat([python1, python2, python3, python4, python5, python6, python7, python8, python9, python10, python11, python12, python13, python14, python15, python16, python17, python18, python19, python20, python21, python22, python23, python24, python25, python26, python27, python28, python29, python30, python31, python32, python33, python34, python35, python36, python37, python38, python39, python40, python41, python42, python43, python44, python45, python46, python47, python48, python49, python50])

In [532]:
pythonfinal = pythonfinal.reset_index()

In [533]:
pythonfinal.drop('index', axis=1, inplace=True)

In [534]:
lista =[]
for i in range(500):
    lista.append("Python")

In [535]:
pythonfinal['skills'] = lista

In [536]:
pythonfinal

,course,rating,students,level,university,skills
0,Python for Everybody,4.8,"2,7 m",Beginner,University of Michigan,Python
1,Google IT Automation with Python,4.7,600 mil,Beginner,Google,Python
2,Python 3 Programming,4.7,350 mil,Beginner,University of Michigan,Python
3,Crash Course on Python,4.8,520 mil,Beginner,Google,Python
4,Data Science Fundamentals with Python and SQL,4.6,570 mil,Beginner,IBM,Python
...,...,...,...,...,...,...
495,Data Engineering and Machine Learning using Spark,3.6,"3,1 mil",Beginner,IBM,Python
496,파이썬 단기집중과정,4.8,None,Beginner,Google,Python
497,Create Machine Learning Models in Microsoft Azure,4.7,"2,3 mil",Intermediate,Microsoft,Python
498,Deploy Machine Learning Model into AWS Cloud S...,4.3,None,Intermediate,Coursera Project Network,Python
499,The R Programming Environment,4.3,48 mil,Intermediate,Johns Hopkins University,Python

In [537]:
pythonfinal.to_csv("python.csv")

### MACHINE LEARNING COURSES

In [ ]:
# Repito código porque escrapeo página por página. He escrapeado 50 páginas de Machine LEarning (500 cursos).

In [538]:
ml1 = "https://www.coursera.org/search?query=machine%20learning&page=1&index=prod_all_launched_products_term_optimization"
driver.get(ml1)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml1=pd.DataFrame()
ml1['course'] =curso
ml1['rating'] =rating
ml1['students'] =students
ml1['level'] =nivel
ml1['university'] =universidad

ml1

,course,rating,students,level,university
0,Machine Learning,4.9,"4,7 m",Mixed,Stanford University
1,IBM Machine Learning,4.6,37 mil,Intermediate,IBM
2,Machine Learning,4.6,430 mil,Intermediate,University of Washington
3,Deep Learning,4.8,"1,2 m",Intermediate,DeepLearning.AI
4,Mathematics for Machine Learning,4.6,300 mil,Beginner,Imperial College London
5,Machine Learning for All,4.7,110 mil,Beginner,University of London
6,Applied Data Science with Python,4.5,800 mil,Intermediate,University of Michigan
7,Machine Learning Engineering for Production (M...,4.7,47 mil,Advanced,DeepLearning.AI
8,Advanced Machine Learning,4.4,350 mil,Advanced,HSE University
9,Google Data Analytics,4.8,740 mil,Beginner,Google

In [539]:
ml2 = "https://www.coursera.org/search?query=machine%20learning&page=2&index=prod_all_launched_products_term_optimization"
driver.get(ml2)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml2=pd.DataFrame()
ml2['course'] =curso
ml2['rating'] =rating
ml2['students'] =students
ml2['level'] =nivel
ml2['university'] =universidad

ml2

,course,rating,students,level,university
0,Deep Learning for Healthcare,None,None,Advanced,University of Illinois at Urbana-Champaign
1,Introduction to Machine Learning: Supervised L...,None,None,Intermediate,University of Colorado Boulder
2,IBM Data Science,4.6,1 m,Beginner,IBM
3,Preparing for Google Cloud Certification: Mach...,4.6,350 mil,Intermediate,Google Cloud
4,IBM Introduction to Machine Learning,4.6,32 mil,Intermediate,IBM
5,Data Science,4.5,"1,2 m",Beginner,Johns Hopkins University
6,Advanced Machine Learning on Google Cloud,4.4,69 mil,Advanced,Google Cloud
7,DeepLearning.AI TensorFlow Developer,4.7,330 mil,Intermediate,DeepLearning.AI
8,IBM AI Engineering,4.6,300 mil,Intermediate,IBM
9,Generative Adversarial Networks (GANs),4.7,40 mil,Intermediate,DeepLearning.AI

In [540]:
ml3 = "https://www.coursera.org/search?query=machine%20learning&page=3&index=prod_all_launched_products_term_optimization"
driver.get(ml3)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml3=pd.DataFrame()
ml3['course'] =curso
ml3['rating'] =rating
ml3['students'] =students
ml3['level'] =nivel
ml3['university'] =universidad

ml3

,course,rating,students,level,university
0,AI Product Management,4.5,"4,9 mil",Beginner,Duke University
1,Bachelor of Science in Computer Science,None,None,None,University of London
2,Machine Learning for Telecom Customers Churn P...,4.5,None,Beginner,Coursera Project Network
3,IBM Data Analyst,4.6,720 mil,Beginner,IBM
4,Applied Machine Learning in Python,4.6,250 mil,Intermediate,University of Michigan
5,Unsupervised Machine Learning for Customer Mar...,4.8,"9,8 mil",Beginner,Coursera Project Network
6,Introduction to Machine Learning,4.7,160 mil,Intermediate,Duke University
7,Machine Learning with Python,4.7,250 mil,Intermediate,IBM
8,Post Graduate Certificate in Advanced Machine ...,None,None,None,IIT Roorkee
9,Fake News Detection with Machine Learning,4.6,"8,8 mil",Beginner,Coursera Project Network

In [542]:
ml4 = "https://www.coursera.org/search?query=machine%20learning&page=4&index=prod_all_launched_products_term_optimization"
driver.get(ml4)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml4=pd.DataFrame()
ml4['course'] =curso
ml4['rating'] =rating
ml4['students'] =students
ml4['level'] =nivel
ml4['university'] =universidad

ml4

,course,rating,students,level,university
0,Master of Computer and Information Technology,None,None,None,University of Pennsylvania
1,Google Cloud Digital Leader Training,4.8,37 mil,Beginner,Google Cloud
2,First Principles of Computer Vision,4.8,3 mil,Beginner,Columbia University
3,Introduction to Machine Learning: Language Pro...,3.9,"2,8 mil",Beginner,Google Cloud
4,Breast Cancer Prediction Using Machine Learning,4.3,None,Intermediate,Coursera Project Network
5,Introduction to Statistics,4.6,100 mil,Beginner,Stanford University
6,Google IT Automation with Python,4.7,600 mil,Beginner,Google
7,Машинное обучение и анализ данных,4.7,110 mil,Intermediate,Moscow Institute of Physics and Technology
8,Reinforcement Learning,4.7,64 mil,Intermediate,University of Alberta
9,Practical Data Science with MATLAB,4.7,39 mil,Beginner,MathWorks

In [543]:
ml5 = "https://www.coursera.org/search?query=machine%20learning&page=5&index=prod_all_launched_products_term_optimization"
driver.get(ml5)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml5=pd.DataFrame()
ml5['course'] =curso
ml5['rating'] =rating
ml5['students'] =students
ml5['level'] =nivel
ml5['university'] =universidad

ml5

,course,rating,students,level,university
0,SAS Statistical Business Analyst,4.6,6 mil,Intermediate,SAS
1,Mathematics for Data Science,4.4,67 mil,Beginner,HSE University
2,Python 3 Programming,4.7,350 mil,Beginner,University of Michigan
3,Facebook Marketing Analytics,4.7,16 mil,Beginner,Meta
4,Data Science at Scale,4.2,83 mil,Intermediate,University of Washington
5,Introduction to TensorFlow for Artificial Inte...,4.7,280 mil,Intermediate,DeepLearning.AI
6,Hands-on Machine Learning with Google Cloud Labs,3.8,3 mil,Intermediate,Google Cloud
7,Hands-on Foundations for Data Science and Mach...,4.3,"4,6 mil",Intermediate,Google Cloud
8,Executive Data Science,4.5,230 mil,Beginner,Johns Hopkins University
9,"Data Engineering, Big Data, and Machine Learni...",4.6,250 mil,Intermediate,Google Cloud

In [544]:
ml6 = "https://www.coursera.org/search?query=machine%20learning&page=6&index=prod_all_launched_products_term_optimization"
driver.get(ml6)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml6=pd.DataFrame()
ml6['course'] =curso
ml6['rating'] =rating
ml6['students'] =students
ml6['level'] =nivel
ml6['university'] =universidad

ml6

,course,rating,students,level,university
0,Introduction to Machine Learning in Production,4.8,44 mil,Advanced,DeepLearning.AI
1,Investment Management with Python and Machine ...,4.6,52 mil,Beginner,EDHEC Business School
2,Machine Learning with TensorFlow on Google Cloud,4.5,120 mil,Intermediate,Google Cloud
3,Data Science: Statistics and Machine Learning,4.4,290 mil,Intermediate,Johns Hopkins University
4,Structuring Machine Learning Projects,4.8,370 mil,Beginner,DeepLearning.AI
5,Machine Learning Data Lifecycle in Production,4.4,17 mil,Advanced,DeepLearning.AI
6,Machine Learning for Trading,3.9,40 mil,Intermediate,New York Institute of Finance
7,Mathematics for Machine Learning: Linear Algebra,4.7,280 mil,Beginner,Imperial College London
8,Google Cloud Big Data and Machine Learning Fun...,4.7,240 mil,Intermediate,Google Cloud
9,Machine Learning and Reinforcement Learning in...,3.7,41 mil,Intermediate,New York University

In [547]:
ml7 = "https://www.coursera.org/search?query=machine%20learning&page=7&index=prod_all_launched_products_term_optimization"
driver.get(ml7)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml7=pd.DataFrame()
ml7['course'] =curso
ml7['rating'] =rating
ml7['students'] =students
ml7['level'] =nivel
ml7['university'] =universidad

ml7

,course,rating,students,level,university
0,Machine Learning Modeling Pipelines in Production,4.5,11 mil,Advanced,DeepLearning.AI
1,Exploratory Data Analysis for Machine Learning,4.6,28 mil,Intermediate,IBM
2,Machine Learning Foundations for Product Managers,4.6,"4,2 mil",Beginner,Duke University
3,Machine Learning Rock Star – the End-to-End Pr...,4.8,11 mil,Beginner,SAS
4,Deploying Machine Learning Models in Production,4.6,"9,2 mil",Advanced,DeepLearning.AI
5,Fundamentals of Machine Learning for Healthcare,4.8,"9,5 mil",Beginner,Stanford University
6,Getting Started with AWS Machine Learning,4.5,190 mil,Intermediate,Amazon Web Services
7,Mathematics for Machine Learning: Multivariate...,4.7,100 mil,Beginner,Imperial College London
8,Supervised Machine Learning: Regression,4.7,"9,8 mil",Intermediate,IBM
9,Introduction to Embedded Machine Learning,4.8,15 mil,Intermediate,Edge Impulse

In [551]:
ml8 = "https://www.coursera.org/search?query=machine%20learning&page=8&index=prod_all_launched_products_term_optimization"
driver.get(ml8)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml8=pd.DataFrame()
ml8['course'] =curso
ml8['rating'] =rating
ml8['students'] =students
ml8['level'] =nivel
ml8['university'] =universidad

ml8

,course,rating,students,level,university
0,Machine Learning for Supply Chains,3.3,"1,7 mil",Intermediate,LearnQuest
1,"The Power of Machine Learning: Boost Business,...",4.8,"9,2 mil",Beginner,SAS
2,"Introduction to Trading, Machine Learning & GCP",4,32 mil,Intermediate,Google Cloud
3,Computer Vision with Embedded Machine Learning,4.7,4 mil,Intermediate,Edge Impulse
4,Scalable Machine Learning on Big Data using Ap...,3.8,20 mil,Intermediate,IBM
5,Advanced Machine Learning and Signal Processing,4.5,39 mil,Advanced,IBM
6,機器學習基石上 (Machine Learning Foundations)---Mathe...,4.9,40 mil,Beginner,National Taiwan University
7,Machine Learning with TensorFlow on Google Clo...,4.1,"1,8 mil",Intermediate,Google Cloud
8,Supervised Machine Learning: Classification,4.9,"7,8 mil",Intermediate,IBM
9,Machine Learning Foundations: A Case Study App...,4.6,360 mil,Mixed,University of Washington

In [550]:
ml9 = "https://www.coursera.org/search?query=machine%20learning&page=9&index=prod_all_launched_products_term_optimization"
driver.get(ml9)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml9=pd.DataFrame()
ml9['course'] =curso
ml9['rating'] =rating
ml9['students'] =students
ml9['level'] =nivel
ml9['university'] =universidad

ml9

,course,rating,students,level,university
0,"Smart Analytics, Machine Learning, and AI on GCP",4.6,26 mil,Intermediate,Google Cloud
1,How Google does Machine Learning,4.6,110 mil,Beginner,Google Cloud
2,Mathematics for Machine Learning: PCA,4,65 mil,Intermediate,Imperial College London
3,Machine Learning with TensorFlow on Google Clo...,4.6,"9,6 mil",Intermediate,Google Cloud
4,Guided Tour of Machine Learning in Finance,3.8,28 mil,Intermediate,New York University
5,Using Machine Learning in Trading and Finance,4,16 mil,Intermediate,New York Institute of Finance
6,Managing Machine Learning Projects,4.4,None,Beginner,Duke University
7,Unsupervised Machine Learning,4.8,"7,1 mil",Intermediate,IBM
8,Python and Machine Learning for Asset Management,3.1,13 mil,Intermediate,EDHEC Business School
9,Launching into Machine Learning,4.6,39 mil,Beginner,Google Cloud

In [552]:
ml10 = "https://www.coursera.org/search?query=machine%20learning&page=10&index=prod_all_launched_products_term_optimization"
driver.get(ml10)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml10=pd.DataFrame()
ml10['course'] =curso
ml10['rating'] =rating
ml10['students'] =students
ml10['level'] =nivel
ml10['university'] =universidad

ml10

,course,rating,students,level,university
0,Machine Learning Rapid Prototyping with IBM Wa...,None,None,Intermediate,IBM
1,Data Engineering and Machine Learning using Spark,3.6,"3,1 mil",Beginner,IBM
2,Create Machine Learning Models in Microsoft Azure,4.7,"2,3 mil",Intermediate,Microsoft
3,Machine Learning Using SAS Viya,4.7,"6,7 mil",Intermediate,SAS
4,Deploy Machine Learning Model into AWS Cloud S...,4.3,None,Intermediate,Coursera Project Network
5,Google Cloud Big Data and Machine Learning Fun...,4.5,"4,5 mil",Intermediate,Google Cloud
6,MLOps (Machine Learning Operations) Fundamentals,4,24 mil,Intermediate,Google Cloud
7,Fundamentals of Machine Learning in Finance,3.8,17 mil,Intermediate,New York University
8,Production Machine Learning Systems,4.6,21 mil,Advanced,Google Cloud
9,Employee Attrition Prediction Using Machine Le...,None,None,Beginner,Coursera Project Network

In [553]:
ml11 = "https://www.coursera.org/search?query=machine%20learning&page=11&index=prod_all_launched_products_term_optimization"
driver.get(ml11)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml11=pd.DataFrame()
ml11['course'] =curso
ml11['rating'] =rating
ml11['students'] =students
ml11['level'] =nivel
ml11['university'] =universidad

ml11

,course,rating,students,level,university
0,Practical Machine Learning,4.5,140 mil,Mixed,Johns Hopkins University
1,Building Machine Learning Pipelines in PySpark...,4.3,"2,5 mil",Intermediate,Coursera Project Network
2,End-to-End Machine Learning with TensorFlow on...,4.5,54 mil,Advanced,Google Cloud
3,Microsoft Azure Machine Learning for Data Scie...,4.6,None,Intermediate,Microsoft
4,Build a Machine Learning Web App with Streamli...,4.7,"9,9 mil",Intermediate,Coursera Project Network
5,Machine Learning: Regression,4.8,150 mil,Mixed,University of Washington
6,Predictive Modeling and Machine Learning with ...,4.8,11 mil,Intermediate,MathWorks
7,Microsoft Azure Machine Learning,4.7,"3,3 mil",Beginner,Microsoft
8,Algoritmos de negociación basados en machine l...,None,None,Intermediate,Universidad de los Andes
9,Machine Learning Aplicado ao Marketing,None,None,Beginner,Fundação Instituto de Administração

In [554]:
ml12 = "https://www.coursera.org/search?query=machine%20learning&page=12&index=prod_all_launched_products_term_optimization"
driver.get(ml12)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml12=pd.DataFrame()
ml12['course'] =curso
ml12['rating'] =rating
ml12['students'] =students
ml12['level'] =nivel
ml12['university'] =universidad

ml12

,course,rating,students,level,university
0,Cloud Machine Learning Engineering and MLOps,4.5,"1,7 mil",Intermediate,Duke University
1,Statistics for Machine Learning for Investment...,None,None,Beginner,CFA Institute
2,Python and Machine-Learning for Asset Manageme...,4.4,11 mil,Intermediate,EDHEC Business School
3,Machine Learning Models in Science,4,None,Intermediate,LearnQuest
4,Art and Science of Machine Learning,4.6,23 mil,Intermediate,Google Cloud
5,Build and Operate Machine Learning Solutions w...,None,None,Intermediate,Microsoft
6,Predictive Modelling with Azure Machine Learni...,4.5,"9,5 mil",Beginner,Coursera Project Network
7,Fundamentals of Machine Learning for Supply Chain,3.9,None,Beginner,LearnQuest
8,Google Cloud Big Data and Machine Learning Fun...,4.3,2 mil,Intermediate,Google Cloud
9,機器學習基石下 (Machine Learning Foundations)---Algor...,4.9,14 mil,Intermediate,National Taiwan University

In [555]:
ml13 = "https://www.coursera.org/search?query=machine%20learning&page=13&index=prod_all_launched_products_term_optimization"
driver.get(ml13)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml13=pd.DataFrame()
ml13['course'] =curso
ml13['rating'] =rating
ml13['students'] =students
ml13['level'] =nivel
ml13['university'] =universidad

ml13

,course,rating,students,level,university
0,Applying Machine Learning to your Data with GCP,4.7,16 mil,Intermediate,Google Cloud
1,Machine Learning With Big Data,4.6,63 mil,Mixed,University of California San Diego
2,Life Expectancy Prediction Using Machine Learning,None,None,Beginner,Coursera Project Network
3,Interpretable Machine Learning Applications: P...,4,None,Beginner,Coursera Project Network
4,Using R for Regression and Machine Learning in...,None,None,Intermediate,Sungkyunkwan University
5,Interactive Machine Learning Dashboards using ...,4.4,None,Intermediate,Coursera Project Network
6,Google Cloud Big Data and Machine Learning Fun...,4.7,18 mil,Intermediate,Google Cloud
7,Explainable Machine Learning with LIME and H2O...,4.7,2 mil,Intermediate,Coursera Project Network
8,Managing Machine Learning Projects with Google...,4.6,110 mil,Beginner,Google Cloud
9,"Smart Analytics, Machine Learning, and AI on G...",4.6,None,Intermediate,Google Cloud

In [556]:
ml14 = "https://www.coursera.org/search?query=machine%20learning&page=14&index=prod_all_launched_products_term_optimization"
driver.get(ml14)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml14=pd.DataFrame()
ml14['course'] =curso
ml14['rating'] =rating
ml14['students'] =students
ml14['level'] =nivel
ml14['university'] =universidad

ml14

,course,rating,students,level,university
0,Practical Machine Learning on H2O,4.5,"7,5 mil",Intermediate,H2O
1,Ensemble Methods in Machine Learning,4.2,None,Intermediate,Coursera Project Network
2,Intermediate Machine Learning: TensorFlow on G...,4.4,None,Intermediate,Google Cloud
3,Machine Learning: Classification,4.7,110 mil,Mixed,University of Washington
4,Machine Learning - Anomaly Detection via PyCaret,None,None,Intermediate,Coursera Project Network
5,Machine Learning for Accounting with Python,4.5,"6,6 mil",Intermediate,University of Illinois at Urbana-Champaign
6,Train Machine Learning Models,None,None,Intermediate,CertNexus
7,Machine Learning for Kyphosis Disease Classifi...,None,None,Beginner,Coursera Project Network
8,Machine Learning for Investment Professionals,None,None,Beginner,CFA Institute
9,Launching Machine Learning: Delivering Operati...,4.9,"3,4 mil",Beginner,SAS

In [557]:
ml15 = "https://www.coursera.org/search?query=machine%20learning&page=15&index=prod_all_launched_products_term_optimization"
driver.get(ml15)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml15=pd.DataFrame()
ml15['course'] =curso
ml15['rating'] =rating
ml15['students'] =students
ml15['level'] =nivel
ml15['university'] =universidad

ml15

,course,rating,students,level,university
0,How Google does Machine Learning en Español,4.6,"6,2 mil",Intermediate,Google Cloud
1,"AI Workflow: Machine Learning, Visual Recognit...",4.4,"3,1 mil",Advanced,IBM
2,Data Science on Google Cloud: Machine Learning,2.3,None,Advanced,Google Cloud
3,Machine Learning: Clustering & Retrieval,4.7,88 mil,Mixed,University of Washington
4,Build your first Machine Learning Pipeline usi...,4.6,None,Beginner,Coursera Project Network
5,Business Application of Machine Learning and A...,4.2,"5,7 mil",Intermediate,Northeastern University
6,Machine Learning for Data Analysis,4.2,42 mil,Mixed,Wesleyan University
7,Solve Business Problems with AI and Machine Le...,4.7,2 mil,Intermediate,CertNexus
8,Cervical Cancer Risk Prediction Using Machine ...,4.7,None,Beginner,Coursera Project Network
9,Explaining machine learning models,None,None,Intermediate,Coursera Project Network

In [558]:
ml16 = "https://www.coursera.org/search?query=machine%20learning&page=16&index=prod_all_launched_products_term_optimization"
driver.get(ml16)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml16=pd.DataFrame()
ml16['course'] =curso
ml16['rating'] =rating
ml16['students'] =students
ml16['level'] =nivel
ml16['university'] =universidad

ml16

,course,rating,students,level,university
0,Automated Machine Learning en Power BI Clasifi...,4.9,None,Intermediate,Coursera Project Network
1,Visual Machine Learning with Yellowbrick,4.7,"3,6 mil",Intermediate,Coursera Project Network
2,Diseñando modelos con Azure Machine Learning S...,4.9,None,Beginner,Coursera Project Network
3,Google Cloud Platform Big Data and Machine Lea...,4.8,2 mil,Intermediate,Google Cloud
4,Naive Bayes 101: Resume Selection with Machine...,4.7,None,Intermediate,Coursera Project Network
5,Interpretable Machine Learning Applications: P...,None,None,Beginner,Coursera Project Network
6,Machine Learning con Spark (MLlib) en Databricks,None,None,Advanced,Coursera Project Network
7,Introduction to Machine Learning in Sports Ana...,None,None,Intermediate,University of Michigan
8,Launching into Machine Learning en Español,4.7,3 mil,Intermediate,Google Cloud
9,How Google does Machine Learning en Français,4.3,None,Intermediate,Google Cloud

In [559]:
ml17 = "https://www.coursera.org/search?query=machine%20learning&page=17&index=prod_all_launched_products_term_optimization"
driver.get(ml17)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml17=pd.DataFrame()
ml17['course'] =curso
ml17['rating'] =rating
ml17['students'] =students
ml17['level'] =nivel
ml17['university'] =universidad

ml17

,course,rating,students,level,university
0,Launching into Machine Learning en Français,4.5,None,Intermediate,Google Cloud
1,Art and Science of Machine Learning en Français,None,None,Intermediate,Google Cloud
2,Machine Learning Pipelines with Azure ML Studio,4.6,26 mil,Beginner,Coursera Project Network
3,Introduction to Applied Machine Learning,4.7,20 mil,Intermediate,Alberta Machine Intelligence Institute
4,Machine Learning Algorithms with R in Business...,4.7,"1,5 mil",Intermediate,University of Illinois at Urbana-Champaign
5,機器學習技法 (Machine Learning Techniques),4.9,"3,8 mil",Intermediate,National Taiwan University
6,Machine Learning Algorithms: Supervised Learni...,4.7,14 mil,Mixed,Alberta Machine Intelligence Institute
7,Data for Machine Learning,4.4,"6,5 mil",Intermediate,Alberta Machine Intelligence Institute
8,Project Planning and Machine Learning,4.7,6 mil,Intermediate,University of Colorado Boulder
9,Deploying Machine Learning Models,3.6,"8,8 mil",Mixed,University of California San Diego

In [560]:
ml18 = "https://www.coursera.org/search?query=machine%20learning&page=18&index=prod_all_launched_products_term_optimization"
driver.get(ml18)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml18=pd.DataFrame()
ml18['course'] =curso
ml18['rating'] =rating
ml18['students'] =students
ml18['level'] =nivel
ml18['university'] =universidad

ml18

,course,rating,students,level,university
0,Follow a Machine Learning Workflow,None,None,Intermediate,CertNexus
1,Optimizing Machine Learning Performance,4.6,"5,5 mil",Mixed,Alberta Machine Intelligence Institute
2,Machine Learning Under the Hood: The Technical...,4.8,"3,5 mil",Beginner,SAS
3,Titanic Survival Prediction Using Machine Lear...,None,None,Beginner,Coursera Project Network
4,How Google does Machine Learning 日本語版,4.5,"2,5 mil",Intermediate,Google Cloud
5,Machine Learning Basics,None,None,Mixed,Sungkyunkwan University
6,Machine Learning e Data Mining in R,None,None,Intermediate,Università di Napoli Federico II
7,"Smart Analytics, Machine Learning, and AI on G...",4.7,None,Intermediate,Google Cloud
8,Advanced Machine Learning: Machine Learning In...,None,None,Advanced,Google Cloud
9,Automatic Machine Learning with H2O AutoML and...,4.8,"6,3 mil",Intermediate,Coursera Project Network

In [561]:
ml19 = "https://www.coursera.org/search?query=machine%20learning&page=19&index=prod_all_launched_products_term_optimization"
driver.get(ml19)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml19=pd.DataFrame()
ml19['course'] =curso
ml19['rating'] =rating
ml19['students'] =students
ml19['level'] =nivel
ml19['university'] =universidad

ml19

,course,rating,students,level,university
0,Machine Learning with H2O Flow,4.7,"3,9 mil",Intermediate,Coursera Project Network
1,Curso Completo de Machine Learning en Microsof...,4.3,None,Advanced,Coursera Project Network
2,Medical Insurance Premium Prediction with Mach...,None,None,Beginner,Coursera Project Network
3,Machine Learning: Predict Numbers from Handwri...,4.4,"4,7 mil",Intermediate,Coursera Project Network
4,How Google does Machine Learning em Português ...,4.8,"1,6 mil",Intermediate,Google Cloud
5,Automated Machine Learning en Microsoft Power BI,4.3,None,Intermediate,Coursera Project Network
6,"Smart Analytics, Machine Learning, and AI on G...",4.9,None,Intermediate,Google Cloud
7,Deploy a predictive machine learning model usi...,None,None,Intermediate,Coursera Project Network
8,Build a Machine Learning Image Classifier with...,None,None,Intermediate,Coursera Project Network
9,Machine Learning Algorithms,None,None,Mixed,Sungkyunkwan University

In [562]:
ml20 = "https://www.coursera.org/search?query=machine%20learning&page=20&index=prod_all_launched_products_term_optimization"
driver.get(ml20)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml20=pd.DataFrame()
ml20['course'] =curso
ml20['rating'] =rating
ml20['students'] =students
ml20['level'] =nivel
ml20['university'] =universidad

ml20

,course,rating,students,level,university
0,Launching into Machine Learning 日本語版,4.4,None,Intermediate,Google Cloud
1,Serverless Machine Learning with Tensorflow on...,None,None,Intermediate,Google Cloud
2,Applying Machine Learning to your Data with GC...,None,None,Intermediate,Google Cloud
3,Machine Learning con Python. Nivel intermedio,None,None,Beginner,Coursera Project Network
4,Interpretable Machine Learning Applications: P...,None,None,Intermediate,Coursera Project Network
5,Preparing Data for Machine Learning Models,None,None,Intermediate,Coursera Project Network
6,"Machine Learning Interpretable: SHAP, PDP y pe...",None,None,Intermediate,Coursera Project Network
7,Machine Learning para series temporales con AR...,None,None,Intermediate,Coursera Project Network
8,Machine Learning y Regresión con PySpark. Guía...,None,None,Beginner,Coursera Project Network
9,Machine Learning con Azure Machine Learning St...,None,None,Beginner,Coursera Project Network

In [563]:
ml21 = "https://www.coursera.org/search?query=machine%20learning&page=21&index=prod_all_launched_products_term_optimization"
driver.get(ml21)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml21=pd.DataFrame()
ml21['course'] =curso
ml21['rating'] =rating
ml21['students'] =students
ml21['level'] =nivel
ml21['university'] =universidad

ml21

,course,rating,students,level,university
0,Evaluate Machine Learning Models with Yellowbrick,4.8,"2,9 mil",Intermediate,Coursera Project Network
1,Generando modelos con Auto Machine Learning,4.4,None,Intermediate,Coursera Project Network
2,Serverless Machine Learning with Tensorflow on...,4.4,None,Intermediate,Google Cloud
3,Art and Science of Machine Learning em Portugu...,4.6,None,Intermediate,Google Cloud
4,Interpretable machine learning applications: P...,None,None,Intermediate,Coursera Project Network
5,Machine Learning con Python. Nivel Avanzado,None,None,Intermediate,Coursera Project Network
6,Machine Learning Introduction for Everyone,None,None,Beginner,IBM
7,Interpretable machine learning applications: P...,None,None,Beginner,Coursera Project Network
8,Machine Learning Interpretable: interpretML y ...,None,None,Intermediate,Coursera Project Network
9,Interpreting Machine Learning datasets,None,None,Beginner,Coursera Project Network

In [564]:
ml22 = "https://www.coursera.org/search?query=machine%20learning&page=22&index=prod_all_launched_products_term_optimization"
driver.get(ml22)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml22=pd.DataFrame()
ml22['course'] =curso
ml22['rating'] =rating
ml22['students'] =students
ml22['level'] =nivel
ml22['university'] =universidad

ml22

,course,rating,students,level,university
0,Machine Learning: Predict Poisonous Mushrooms ...,4.6,"4,5 mil",Intermediate,Coursera Project Network
1,Art and Science of Machine Learning en Español,4.6,"2,2 mil",Intermediate,Google Cloud
2,Launching into Machine Learning em Português B...,4.5,None,Intermediate,Google Cloud
3,"Smart Analytics, Machine Learning, and AI on G...",None,None,Intermediate,Google Cloud
4,Art and Science of Machine Learning 日本語版,4.3,None,Intermediate,Google Cloud
5,"Crea un app de Machine Learning con Spark, Syn...",None,None,Advanced,Coursera Project Network
6,Machine Learning con Pyspark aplicado al campo...,None,None,Advanced,Coursera Project Network
7,Introdução a Machine Learning em uma Competiçã...,None,None,Beginner,Coursera Project Network
8,Desplegando modelos de Machine Learning con Py...,None,None,Beginner,Coursera Project Network
9,Aplicando privacidad en modelos de Machine Lea...,None,None,Beginner,Coursera Project Network

In [565]:
ml23= "https://www.coursera.org/search?query=machine%20learning&page=23&index=prod_all_launched_products_term_optimization"
driver.get(ml23)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml23=pd.DataFrame()
ml23['course'] =curso
ml23['rating'] =rating
ml23['students'] =students
ml23['level'] =nivel
ml23['university'] =universidad

ml23

,course,rating,students,level,university
0,Unsupervised Algorithms in Machine Learning,None,None,Intermediate,University of Colorado Boulder
1,Bike Rental Sharing Demand Prediction with Mac...,None,None,Beginner,Coursera Project Network
2,Machine Learning: Algorithms in the Real World,4.6,30 mil,Intermediate,Alberta Machine Intelligence Institute
3,Machine Learning with TensorFlow Google Cloud ...,4.4,"2,8 mil",Intermediate,Google Cloud
4,Machine Learning with TensorFlow on Google Clo...,4.7,2 mil,Intermediate,Google Cloud
5,Machine Learning for Analytics MasterTrack™ Ce...,None,None,None,University of Chicago
6,AI and Machine Learning MasterTrack Certificate,None,None,None,Arizona State University
7,Master of Science in Machine Learning and Data...,None,None,None,Imperial College London
8,Post Graduate Certificate in Data Science & Ma...,None,None,None,IIT Roorkee
9,IBM Data Engineering,4.6,500 mil,Beginner,IBM

In [566]:
ml24= "https://www.coursera.org/search?query=machine%20learning&page=24&index=prod_all_launched_products_term_optimization"
driver.get(ml24)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml24=pd.DataFrame()
ml24['course'] =curso
ml24['rating'] =rating
ml24['students'] =students
ml24['level'] =nivel
ml24['university'] =universidad

ml24

,course,rating,students,level,university
0,AI For Everyone,4.8,750 mil,Beginner,DeepLearning.AI
1,TensorFlow: Advanced Techniques,4.8,27 mil,Intermediate,DeepLearning.AI
2,Practical Data Science,4.5,16 mil,Advanced,DeepLearning.AI
3,Introduction to Discrete Mathematics for Compu...,4.5,160 mil,Beginner,University of California San Diego
4,"Python for Data Science, AI & Development",4.6,380 mil,Beginner,IBM
5,Big Data,4.5,340 mil,Beginner,University of California San Diego
6,Computational Thinking for Problem Solving,4.7,75 mil,Beginner,University of Pennsylvania
7,Convolutional Neural Networks in TensorFlow,4.7,110 mil,Intermediate,DeepLearning.AI
8,Advanced Statistics for Data Science,4.4,94 mil,Advanced,Johns Hopkins University
9,Data Analysis with Python,4.7,230 mil,Beginner,IBM

In [567]:
ml25= "https://www.coursera.org/search?query=machine%20learning&page=25&index=prod_all_launched_products_term_optimization"
driver.get(ml25)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml25=pd.DataFrame()
ml25['course'] =curso
ml25['rating'] =rating
ml25['students'] =students
ml25['level'] =nivel
ml25['university'] =universidad

ml25

,course,rating,students,level,university
0,Introduction to Data Science in Python,4.5,660 mil,Intermediate,University of Michigan
1,"Sequences, Time Series and Prediction",4.7,91 mil,Intermediate,DeepLearning.AI
2,AI for Medical Diagnosis,4.7,50 mil,Intermediate,DeepLearning.AI
3,An Intuitive Introduction to Probability,4.8,49 mil,Beginner,University of Zurich
4,Applied Social Network Analysis in Python,4.7,85 mil,Intermediate,University of Michigan
5,Building Recommendation System Using MXNET on ...,3,None,Advanced,Coursera Project Network
6,Exploratory Data Analysis,4.2,"5,2 mil",Intermediate,Coursera Project Network
7,Introduction to Data Science and scikit-learn ...,3.8,None,Beginner,LearnQuest
8,Aprendizado de máquina com Python,None,None,Intermediate,IBM
9,ML Pipelines on Google Cloud,3.5,"5,4 mil",Advanced,Google Cloud

In [568]:
ml26= "https://www.coursera.org/search?query=machine%20learning&page=26&index=prod_all_launched_products_term_optimization"
driver.get(ml26)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml26=pd.DataFrame()
ml26['course'] =curso
ml26['rating'] =rating
ml26['students'] =students
ml26['level'] =nivel
ml26['university'] =universidad

ml26

,course,rating,students,level,university
0,Object Detection with Amazon Sagemaker,4.5,7 mil,Advanced,Coursera Project Network
1,Math for AI beginner part 1 Linear Algebra,None,None,Beginner,Korea Advanced Institute of Science and Techno...
2,Semantic Segmentation with Amazon Sagemaker,4.6,"5,5 mil",Advanced,Coursera Project Network
3,الشبكات العصبية والتعلم العميق,4.6,"3,9 mil",Intermediate,DeepLearning.AI
4,التعلّم الآلي باستخدام لغة بايثون,None,None,Intermediate,IBM
5,Build a Classification Model using PyCaret,None,None,Beginner,Coursera Project Network
6,Introduction to Data Science,4.6,690 mil,Beginner,IBM
7,Data Science Fundamentals with Python and SQL,4.6,570 mil,Beginner,IBM
8,Key Technologies for Business,4.7,730 mil,Beginner,IBM
9,Applied Data Science,4.6,500 mil,Beginner,IBM

In [569]:
ml27= "https://www.coursera.org/search?query=machine%20learning&page=27&index=prod_all_launched_products_term_optimization"
driver.get(ml27)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml27=pd.DataFrame()
ml27['course'] =curso
ml27['rating'] =rating
ml27['students'] =students
ml27['level'] =nivel
ml27['university'] =universidad

ml27

,course,rating,students,level,university
0,IBM AI Foundations for Business,4.7,680 mil,Beginner,IBM
1,IBM & Darden Digital Strategy,4.7,360 mil,Beginner,IBM
2,IBM Applied AI,4.6,530 mil,Beginner,IBM
3,Learn SQL Basics for Data Science,4.6,400 mil,Beginner,"University of California, Davis"
4,Natural Language Processing,4.6,110 mil,Intermediate,DeepLearning.AI
5,Preparing for Google Cloud Certification: Clou...,4.7,610 mil,Intermediate,Google Cloud
6,Preparing for Google Cloud Certification: Clou...,4.7,610 mil,Intermediate,Google Cloud
7,Preparing for Google Cloud Certification: Clou...,4.6,250 mil,Intermediate,Google Cloud
8,Blockchain,4.6,190 mil,Intermediate,University at Buffalo
9,Architecting with Google Kubernetes Engine,4.7,580 mil,Beginner,Google Cloud

In [570]:
ml28= "https://www.coursera.org/search?query=machine%20learning&page=28&index=prod_all_launched_products_term_optimization"
driver.get(ml28)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml28=pd.DataFrame()
ml28['course'] =curso
ml28['rating'] =rating
ml28['students'] =students
ml28['level'] =nivel
ml28['university'] =universidad

ml28

,course,rating,students,level,university
0,Preparing for Google Cloud Certification: Clou...,4.7,590 mil,Intermediate,Google Cloud
1,AI in Healthcare,4.7,28 mil,Beginner,Stanford University
2,Preparing for Google Cloud Certification: Clou...,4.7,650 mil,Beginner,Google Cloud
3,Preparing for Google Cloud Certification: Clou...,4.7,580 mil,Intermediate,Google Cloud
4,Networking in Google Cloud,4.7,580 mil,Intermediate,Google Cloud
5,Developing Applications with Google Cloud,4.7,590 mil,Intermediate,Google Cloud
6,Algorithms,4.8,220 mil,Intermediate,Stanford University
7,Security in Google Cloud,4.7,580 mil,Intermediate,Google Cloud
8,Modern Application Development with Java on AWS,4.8,83 mil,Beginner,Amazon Web Services
9,Neural Networks and Deep Learning,4.9,1 m,Intermediate,DeepLearning.AI

In [571]:
ml29= "https://www.coursera.org/search?query=machine%20learning&page=29&index=prod_all_launched_products_term_optimization"
driver.get(ml29)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml29=pd.DataFrame()
ml29['course'] =curso
ml29['rating'] =rating
ml29['students'] =students
ml29['level'] =nivel
ml29['university'] =universidad

ml29

,course,rating,students,level,university
0,Accelerated Computer Science Fundamentals,4.7,73 mil,Intermediate,University of Illinois at Urbana-Champaign
1,AI Foundations for Everyone,4.7,180 mil,Beginner,IBM
2,Self-Driving Cars,4.7,130 mil,Advanced,University of Toronto
3,Geographic Information Systems (GIS),4.8,140 mil,Beginner,"University of California, Davis"
4,"NoSQL, Big Data, and Spark Foundations",4.3,11 mil,Beginner,IBM
5,Tools for Data Science,4.5,260 mil,Beginner,IBM
6,Statistics with R,4.6,330 mil,Beginner,Duke University
7,Microsoft Azure Fundamentals AZ-900 Exam Prep,4.6,36 mil,Beginner,Microsoft
8,Microsoft Azure Data Engineering Associate DP-...,4.4,"7,5 mil",Intermediate,Microsoft
9,MATLAB Programming for Engineers and Scientists,4.8,440 mil,Beginner,Vanderbilt University

In [572]:
ml30= "https://www.coursera.org/search?query=machine%20learning&page=30&index=prod_all_launched_products_term_optimization"
driver.get(ml30)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml30=pd.DataFrame()
ml30['course'] =curso
ml30['rating'] =rating
ml30['students'] =students
ml30['level'] =nivel
ml30['university'] =universidad

ml30

,course,rating,students,level,university
0,Improving Deep Neural Networks: Hyperparameter...,4.9,440 mil,Intermediate,DeepLearning.AI
1,Impact Measurement & Management for the SDGs,4.8,"7,4 mil",Mixed,Duke University
2,Analyze Data to Answer Questions,4.6,120 mil,Beginner,Google
3,AI for Medicine,4.7,53 mil,Intermediate,DeepLearning.AI
4,Financial Technology (Fintech) Innovations,4.7,53 mil,Beginner,University of Michigan
5,Algorithms for Battery Management Systems,4.7,39 mil,Intermediate,University of Colorado Boulder
6,Biostatistics in Public Health,4.8,43 mil,Beginner,Johns Hopkins University
7,AI For Everyone （すべての人のためのAIリテラシー講座）,4.8,18 mil,Beginner,DeepLearning.AI
8,Advanced Data Science with IBM,4.3,110 mil,Advanced,IBM
9,Программирование на Python,4.5,80 mil,Intermediate,Moscow Institute of Physics and Technology

In [573]:
ml31= "https://www.coursera.org/search?query=machine%20learning&page=31&index=prod_all_launched_products_term_optimization"
driver.get(ml31)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml31=pd.DataFrame()
ml31['course'] =curso
ml31['rating'] =rating
ml31['students'] =students
ml31['level'] =nivel
ml31['university'] =universidad

ml31

,course,rating,students,level,university
0,Neuroscience and Neuroimaging,4.6,93 mil,Intermediate,Johns Hopkins University
1,Creating Business Value with Data and Looker,4.8,17 mil,Intermediate,Google Cloud
2,Natural Language Processing with Classificatio...,4.6,100 mil,Intermediate,DeepLearning.AI
3,Probabilistic Graphical Models,4.6,84 mil,Advanced,Stanford University
4,Statistics with Python,4.6,110 mil,Beginner,University of Michigan
5,Convolutional Neural Networks,4.9,400 mil,Intermediate,DeepLearning.AI
6,Statistical Analysis with R for Public Health,4.7,42 mil,Beginner,Imperial College London
7,Robotics,4.4,150 mil,Beginner,University of Pennsylvania
8,Interaction Design,4.5,200 mil,Intermediate,University of California San Diego
9,"GIS, Mapping, and Spatial Analysis",4.9,64 mil,Beginner,University of Toronto

In [574]:
ml32= "https://www.coursera.org/search?query=machine%20learning&page=32&index=prod_all_launched_products_term_optimization"
driver.get(ml32)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml32=pd.DataFrame()
ml32['course'] =curso
ml32['rating'] =rating
ml32['students'] =students
ml32['level'] =nivel
ml32['university'] =universidad

ml32

,course,rating,students,level,university
0,PostgreSQL for Everybody,4.8,15 mil,Intermediate,University of Michigan
1,Advanced Business Analytics,4.6,210 mil,Intermediate,University of Colorado Boulder
2,Learn English: Beginning Grammar,4.9,12 mil,Beginner,"University of California, Irvine"
3,Health Informatics,4.4,31 mil,Beginner,Johns Hopkins University
4,Build Basic Generative Adversarial Networks (G...,4.7,38 mil,Intermediate,DeepLearning.AI
5,Customer Experiences with Contact Center AI - ...,4.4,"3,7 mil",Beginner,Google Cloud
6,From Data to Insights with Google Cloud,4.6,59 mil,Beginner,Google Cloud
7,Microsoft Azure Data Scientist Associate - DP-...,4.6,"3,2 mil",Intermediate,Microsoft
8,Google Cloud Fundamentals: Core Infrastructure,4.7,580 mil,Intermediate,Google Cloud
9,Digital Manufacturing & Design Technology,4.6,89 mil,Beginner,University at Buffalo

In [575]:
ml33= "https://www.coursera.org/search?query=machine%20learning&page=33&index=prod_all_launched_products_term_optimization"
driver.get(ml33)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml33=pd.DataFrame()
ml33['course'] =curso
ml33['rating'] =rating
ml33['students'] =students
ml33['level'] =nivel
ml33['university'] =universidad

ml33

,course,rating,students,level,university
0,Data Mining,4.5,190 mil,Intermediate,University of Illinois at Urbana-Champaign
1,Microsoft Azure Data Fundamentals DP-900 Exam ...,4.7,"7,1 mil",Beginner,Microsoft
2,Ciencia de Datos de IBM,4.5,"7,4 mil",Beginner,IBM
3,AI For Business,4.6,"2,4 mil",Beginner,University of Pennsylvania
4,Analista de Datos de IBM,4.4,11 mil,Beginner,IBM
5,Digital Transformation Using AI/ML with Google...,4.6,150 mil,Beginner,Google Cloud
6,Customer Experiences with Contact Center AI - ...,4.4,"3,7 mil",Intermediate,Google Cloud
7,Systems Biology and Biotechnology,4.4,66 mil,Intermediate,Icahn School of Medicine at Mount Sinai
8,Agile Leadership,4.7,13 mil,Beginner,University of Colorado System
9,Recommender Systems,4.3,42 mil,Intermediate,University of Minnesota

In [576]:
ml34= "https://www.coursera.org/search?query=machine%20learning&page=34&index=prod_all_launched_products_term_optimization"
driver.get(ml34)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml34=pd.DataFrame()
ml34['course'] =curso
ml34['rating'] =rating
ml34['students'] =students
ml34['level'] =nivel
ml34['university'] =universidad

ml34

,course,rating,students,level,university
0,Natural Language Processing in TensorFlow,4.6,100 mil,Intermediate,DeepLearning.AI
1,TensorFlow: Data and Deployment,4.6,40 mil,Intermediate,DeepLearning.AI
2,Fundamentals of Reinforcement Learning,4.8,61 mil,Intermediate,University of Alberta
3,Preparing for Google Cloud Certification: Clou...,4.5,"4,9 mil",Intermediate,Google Cloud
4,Extended Reality for Everybody,4.6,"9,8 mil",Beginner,University of Michigan
5,Building Cloud Computing Solutions at Scale,4.5,"9,2 mil",Intermediate,Duke University
6,TensorFlow 2 for Deep Learning,4.9,30 mil,Intermediate,Imperial College London
7,"Data Engineering, Big Data and ML on Google Cl...",4.5,"4,7 mil",Intermediate,Google Cloud
8,A Crash Course in Causality: Inferring Causal ...,4.7,30 mil,Intermediate,University of Pennsylvania
9,"Open Source Software Development, Linux and Git",4.5,58 mil,Beginner,The Linux Foundation

In [577]:
ml35= "https://www.coursera.org/search?query=machine%20learning&page=35&index=prod_all_launched_products_term_optimization"
driver.get(ml35)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml35=pd.DataFrame()
ml35['course'] =curso
ml35['rating'] =rating
ml35['students'] =students
ml35['level'] =nivel
ml35['university'] =universidad

ml35

,course,rating,students,level,university
0,Process Mining: Data science in Action,4.7,63 mil,Intermediate,Eindhoven University of Technology
1,Business Analytics,4.6,57 mil,Beginner,University of Illinois at Urbana-Champaign
2,Analyze Datasets and Train ML Models using AutoML,4.5,14 mil,Advanced,DeepLearning.AI
3,Responsive Website Development and Design,4.5,250 mil,Beginner,University of London
4,程序设计与算法,4.8,93 mil,Beginner,Peking University
5,Swift 5 iOS Application Developer,4.5,23 mil,Beginner,LearnQuest
6,Unity XR: How to Build AR and VR Apps,4.1,30 mil,Beginner,Unity
7,Natural Language Processing with Probabilistic...,4.7,43 mil,Intermediate,DeepLearning.AI
8,Embedding Sensors and Motors,4.6,61 mil,Intermediate,University of Colorado Boulder
9,Data Science with Databricks for Data Analysts,4.5,14 mil,Intermediate,Databricks

In [578]:
ml36= "https://www.coursera.org/search?query=machine%20learning&page=36&index=prod_all_launched_products_term_optimization"
driver.get(ml36)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml36=pd.DataFrame()
ml36['course'] =curso
ml36['rating'] =rating
ml36['students'] =students
ml36['level'] =nivel
ml36['university'] =universidad

ml36

,course,rating,students,level,university
0,AI & Law,4.7,"9,4 mil",Mixed,Lund University
1,Analytics for Decision Making,4.7,"4,8 mil",Beginner,University of Minnesota
2,Introduction to Artificial Intelligence (AI),4.7,160 mil,Beginner,IBM
3,Машинное обучение: от статистики до нейросетей,4.4,"6,1 mil",Intermediate,HSE University
4,Artificial Intelligence in Marketing,4.6,"8,7 mil",Beginner,University of Virginia
5,Microsoft Azure AI Fundamentals AI-900 Exam Prep,4.7,"7,4 mil",Beginner,Microsoft
6,IBM AI Enterprise Workflow,4.3,"9,7 mil",Advanced,IBM
7,Clinical Data Science,4.5,19 mil,Intermediate,University of Colorado System
8,Uncommon Sense Teaching,4.8,12 mil,Beginner,Deep Teaching Solutions
9,Strategic Sales Management,4.5,21 mil,Intermediate,Fundação Instituto de Administração

In [579]:
ml37= "https://www.coursera.org/search?query=machine%20learning&page=37&index=prod_all_launched_products_term_optimization"
driver.get(ml37)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml37=pd.DataFrame()
ml37['course'] =curso
ml37['rating'] =rating
ml37['students'] =students
ml37['level'] =nivel
ml37['university'] =universidad

ml37

,course,rating,students,level,university
0,Mind Control: Managing Your Mental Health Duri...,4.8,180 mil,Beginner,University of Toronto
1,Introduction to Self-Driving Cars,4.7,120 mil,Advanced,University of Toronto
2,Introduction to Portfolio Construction and Ana...,4.8,44 mil,Mixed,EDHEC Business School
3,Digitalisation in Aeronautics and Space,4.6,8 mil,Intermediate,Technische Universität München (TUM)
4,Microsoft Azure Developer Associate AZ-204 Tes...,4.5,"2,4 mil",Intermediate,Microsoft
5,Build Better Generative Adversarial Networks (...,4.7,16 mil,Intermediate,DeepLearning.AI
6,Computational Social Science,4.6,35 mil,Beginner,"University of California, Davis"
7,Foundations of Teaching for Learning: Being a ...,4.6,44 mil,Mixed,Commonwealth Education Trust
8,Introduction to Microsoft Azure Cloud Services,4.6,32 mil,Beginner,Microsoft
9,Biology Meets Programming: Bioinformatics for ...,4.2,130 mil,Beginner,University of California San Diego

In [580]:
ml38= "https://www.coursera.org/search?query=machine%20learning&page=38&index=prod_all_launched_products_term_optimization"
driver.get(ml38)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml38=pd.DataFrame()
ml38['course'] =curso
ml38['rating'] =rating
ml38['students'] =students
ml38['level'] =nivel
ml38['university'] =universidad

ml38

,course,rating,students,level,university
0,"Custom Models, Layers, and Loss Functions with...",4.9,17 mil,Intermediate,DeepLearning.AI
1,Cloud Computing Basics (Cloud 101),4.5,130 mil,Beginner,LearnQuest
2,Cloud Computing,4.4,170 mil,Intermediate,University of Illinois at Urbana-Champaign
3,Natural Language Processing with Sequence Models,4.5,37 mil,Intermediate,DeepLearning.AI
4,Natural Language Processing with Attention Models,4.3,37 mil,Intermediate,DeepLearning.AI
5,Introduction to Augmented Reality and ARCore,4.5,67 mil,Beginner,Google AR & VR
6,Image Processing for Engineering and Science,4.6,None,Beginner,MathWorks
7,"Sleep: Neurobiology, Medicine, and Society",4.8,46 mil,Beginner,University of Michigan
8,Architecting Hybrid Cloud Infrastructure with ...,4.7,"9,2 mil",Intermediate,Google Cloud
9,Ordered Data Structures,4.8,17 mil,Mixed,University of Illinois at Urbana-Champaign

In [581]:
ml39= "https://www.coursera.org/search?query=machine%20learning&page=39&index=prod_all_launched_products_term_optimization"
driver.get(ml39)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml39=pd.DataFrame()
ml39['course'] =curso
ml39['rating'] =rating
ml39['students'] =students
ml39['level'] =nivel
ml39['university'] =universidad

ml39

,course,rating,students,level,university
0,Foundations of Data Science: K-Means Clusterin...,4.7,27 mil,Beginner,University of London
1,Interviewing and Resume Writing in English,4.6,110 mil,Intermediate,"University of Maryland, College Park"
2,Summary Statistics in Public Health,4.8,34 mil,Beginner,Johns Hopkins University
3,Accounting Data Analytics,4.7,29 mil,Intermediate,University of Illinois at Urbana-Champaign
4,Advanced Computer Vision with TensorFlow,4.8,16 mil,Intermediate,DeepLearning.AI
5,Big Data – Introducción al uso práctico de dat...,4.6,44 mil,Beginner,Universitat Autònoma de Barcelona
6,Apply Generative Adversarial Networks (GANs),4.8,14 mil,Intermediate,DeepLearning.AI
7,Psicología,4.8,24 mil,Beginner,Universidad de Palermo
8,"Build, Train, and Deploy ML Pipelines using BERT",4.6,"6,4 mil",Advanced,DeepLearning.AI
9,Word Forms and Simple Present Tense,4.9,12 mil,Beginner,"University of California, Irvine"

In [582]:
ml40= "https://www.coursera.org/search?query=machine%20learning&page=40&index=prod_all_launched_products_term_optimization"
driver.get(ml40)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml40=pd.DataFrame()
ml40['course'] =curso
ml40['rating'] =rating
ml40['students'] =students
ml40['level'] =nivel
ml40['university'] =universidad

ml40

,course,rating,students,level,university
0,Model Thinking,4.8,180 mil,Mixed,University of Michigan
1,Data Analysis and Interpretation,4.4,140 mil,Beginner,Wesleyan University
2,Introduction to Applied Cryptography,4.6,29 mil,Beginner,University of Colorado System
3,Healthcare Marketplace,4.5,61 mil,Beginner,University of Minnesota
4,Applied Cryptography,4.5,23 mil,Intermediate,University of Colorado System
5,Computational Neuroscience,4.6,95 mil,Beginner,University of Washington
6,Bayesian Statistics: Techniques and Models,4.8,48 mil,Intermediate,"University of California, Santa Cruz"
7,Healthcare Trends for Business Professionals,4.4,12 mil,Beginner,Northeastern University
8,Preparing for Google Cloud Certification: Clou...,4.8,18 mil,Intermediate,Google Cloud
9,Introduction to Clinical Data,4.6,"8,4 mil",Beginner,Stanford University

In [583]:
ml41= "https://www.coursera.org/search?query=machine%20learning&page=41&index=prod_all_launched_products_term_optimization"
driver.get(ml41)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml41=pd.DataFrame()
ml41['course'] =curso
ml41['rating'] =rating
ml41['students'] =students
ml41['level'] =nivel
ml41['university'] =universidad

ml41

,course,rating,students,level,university
0,Custom and Distributed Training with TensorFlow,4.8,"9,1 mil",Intermediate,DeepLearning.AI
1,Sample-based Learning Methods,4.8,22 mil,Intermediate,University of Alberta
2,Applied Data Science Capstone,4.7,93 mil,Intermediate,IBM
3,Innovating with Data and Google Cloud,4.8,"8,5 mil",Beginner,Google Cloud
4,Data-driven Astronomy,4.8,26 mil,Intermediate,The University of Sydney
5,Practical Time Series Analysis,4.6,66 mil,Intermediate,The State University of New York
6,Ciencia de Datos Aplicada,4.6,"3,5 mil",Beginner,IBM
7,Developing Industrial Internet of Things,4.6,25 mil,Intermediate,University of Colorado Boulder
8,SAS Visual Business Analytics,4.7,26 mil,Beginner,SAS
9,Embedded Software and Hardware Architecture,4.5,29 mil,Intermediate,University of Colorado Boulder

In [584]:
ml42= "https://www.coursera.org/search?query=machine%20learning&page=42&index=prod_all_launched_products_term_optimization"
driver.get(ml42)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml42=pd.DataFrame()
ml42['course'] =curso
ml42['rating'] =rating
ml42['students'] =students
ml42['level'] =nivel
ml42['university'] =universidad

ml42

,course,rating,students,level,university
0,Data-Driven Decision Making (DDDM),4.5,"7,7 mil",Beginner,University at Buffalo
1,Statistics with SAS,4.8,24 mil,Intermediate,SAS
2,Fundamentals of Digital Image and Video Proces...,4.6,110 mil,Mixed,Northwestern University
3,Data Literacy,4.6,"5,4 mil",Beginner,Johns Hopkins University
4,AI for Medical Prognosis,4.7,19 mil,Intermediate,DeepLearning.AI
5,Fundamentals of Scalable Data Science,4.3,63 mil,Beginner,IBM
6,Deep Neural Networks with PyTorch,4.4,32 mil,Intermediate,IBM
7,Distributed Computing with Spark SQL,4.5,27 mil,Intermediate,"University of California, Davis"
8,Introduction to Deep Learning & Neural Network...,4.7,23 mil,Intermediate,IBM
9,Preparing for Google Cloud Certification: Clou...,4.7,20 mil,Intermediate,Google Cloud

In [585]:
ml43= "https://www.coursera.org/search?query=machine%20learning&page=43&index=prod_all_launched_products_term_optimization"
driver.get(ml43)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml43=pd.DataFrame()
ml43['course'] =curso
ml43['rating'] =rating
ml43['students'] =students
ml43['level'] =nivel
ml43['university'] =universidad

ml43

,course,rating,students,level,university
0,"Data Engineering, Big Data and ML on Google Cl...",4.7,19 mil,Intermediate,Google Cloud
1,The Basics of Trauma Surgery,4.5,11 mil,Intermediate,Technische Universität München (TUM)
2,Bases de Inteligencia Artificial para Todos,4.7,8 mil,Beginner,IBM
3,Introduction to Computer Vision and Image Proc...,4.4,28 mil,Beginner,IBM
4,Protecting the World: Introducing Corrosion Sc...,4.6,12 mil,Intermediate,University of Manchester
5,Liderazgo y habilidades de negociación,4.7,"3,8 mil",Advanced,Tecnológico de Monterrey
6,Architecting with Google Compute Engine en Esp...,4.8,17 mil,Intermediate,Google Cloud
7,Solving Complex Problems,4.6,24 mil,Beginner,Macquarie University
8,"Greedy Algorithms, Minimum Spanning Trees, and...",4.8,62 mil,Intermediate,Stanford University
9,Supply Chain Excellence,4.7,"8,8 mil",Intermediate,Rutgers the State University of New Jersey

In [586]:
ml44= "https://www.coursera.org/search?query=machine%20learning&page=44&index=prod_all_launched_products_term_optimization"
driver.get(ml44)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml44=pd.DataFrame()
ml44['course'] =curso
ml44['rating'] =rating
ml44['students'] =students
ml44['level'] =nivel
ml44['university'] =universidad

ml44

,course,rating,students,level,university
0,Philosophy and the Sciences: Introduction to t...,4.6,63 mil,Mixed,The University of Edinburgh
1,Emerging Technologies: From Smartphones to IoT...,4.7,75 mil,Beginner,Yonsei University
2,Rédaction de contrats,4.8,20 mil,Mixed,University of Geneva
3,Supervision du raisonnement clinique,4.8,2 mil,Beginner,University of Geneva
4,Apprendre comment apprendre (ACA) : Des outils...,4.8,26 mil,Beginner,Deep Teaching Solutions
5,Data Science Fundamentals,4.1,"5,4 mil",Beginner,"University of California, Irvine"
6,Improving your statistical inferences,4.9,61 mil,Intermediate,Eindhoven University of Technology
7,A Crash Course in Data Science,4.5,180 mil,Beginner,Johns Hopkins University
8,NLP: Twitter Sentiment Analysis,4.6,"8,6 mil",Beginner,Coursera Project Network
9,Sentiment Analysis with Deep Learning using BERT,4.5,12 mil,Intermediate,Coursera Project Network

In [594]:
ml45= "https://www.coursera.org/search?query=machine%20learning&page=45&index=prod_all_launched_products_term_optimization"
driver.get(ml45)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml45=pd.DataFrame()
ml45['course'] =curso
ml45['rating'] =rating
ml45['students'] =students
ml45['level'] =nivel
ml45['university'] =universidad

ml45

,course,rating,students,level,university
0,Evaluations of AI Applications in Healthcare,4.5,"5,5 mil",Beginner,Stanford University
1,"Introduction to XR: VR, AR, and MR Foundations",4.2,22 mil,Beginner,Unity
2,The Social and Technical Context of Health Inf...,4.2,20 mil,Beginner,Johns Hopkins University
3,Mastering Digital Twins,4,"6,6 mil",Beginner,EIT Digital
4,Getting Started with AI using IBM Watson,4.5,33 mil,Beginner,IBM
5,Autodesk Certified Professional: Revit for Str...,4.7,27 mil,Advanced,Autodesk
6,Infection Prevention in Nursing Homes,4.8,21 mil,Mixed,The University of North Carolina at Chapel Hill
7,Applied Digital Literacy,4.8,"1,6 mil",Beginner,The State University of New York
8,Probability and Statistics: To p or not to p?,4.6,66 mil,Beginner,University of London
9,Strategising: Management for Global Competitiv...,4.8,36 mil,Beginner,Macquarie University

In [596]:
ml46= "https://www.coursera.org/search?query=machine%20learning&page=46&index=prod_all_launched_products_term_optimization"
driver.get(ml46)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml46=pd.DataFrame()
ml46['course'] =curso
ml46['rating'] =rating
ml46['students'] =students
ml46['level'] =nivel
ml46['university'] =universidad

ml46

,course,rating,students,level,university
0,Motion Planning for Self-Driving Cars,4.8,29 mil,Advanced,University of Toronto
1,Transformación digital,4.8,"1,6 mil",Beginner,BCG
2,The Bilingual Brain,4.6,28 mil,Mixed,University of Houston
3,"Intro to AR/VR/MR/XR: Technologies, Applicatio...",4.7,"7,1 mil",Beginner,University of Michigan
4,Analítica de Procesos: Optimización desde los ...,4.9,None,Beginner,Universidad de los Andes
5,HR Analytics- Build an HR dashboard using Powe...,4.3,None,Beginner,Coursera Project Network
6,Data Science in Stratified Healthcare and Prec...,4.6,17 mil,Intermediate,The University of Edinburgh
7,Particle Physics: an Introduction,4.4,67 mil,Mixed,University of Geneva
8,Building AI Powered Chatbots Without Programming,4.8,39 mil,Beginner,IBM
9,Generative Deep Learning with TensorFlow,4.8,"7,3 mil",Intermediate,DeepLearning.AI

In [597]:
ml47= "https://www.coursera.org/search?query=machine%20learning&page=47&index=prod_all_launched_products_term_optimization"
driver.get(ml47)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml47=pd.DataFrame()
ml47['course'] =curso
ml47['rating'] =rating
ml47['students'] =students
ml47['level'] =nivel
ml47['university'] =universidad

ml47

,course,rating,students,level,university
0,MRI Fundamentals,4.6,15 mil,Intermediate,Korea Advanced Institute of Science and Techno...
1,AI in Healthcare Capstone,4.7,"3,6 mil",Mixed,Stanford University
2,Detecting COVID-19 with Chest X-Ray using PyTorch,4.5,"9,9 mil",Intermediate,Coursera Project Network
3,Preparing for the Google Cloud Professional Da...,4.6,37 mil,Advanced,Google Cloud
4,Getting started with TensorFlow 2,4.9,25 mil,Intermediate,Imperial College London
5,Introduction to High-Performance and Parallel ...,3,"5,1 mil",Beginner,University of Colorado Boulder
6,Interactive Teaching（インタラクティブ・ティーチング）,4.7,"1,7 mil",Mixed,The University of Tokyo
7,"Philosophy, Science and Religion: Science and ...",4.5,43 mil,Beginner,The University of Edinburgh
8,"Data Engineer, Big Data and ML on Google Cloud...",4.4,"2,3 mil",Intermediate,Google Cloud
9,Mind and Machine,4.4,15 mil,Beginner,University of Colorado Boulder

In [598]:
ml48= "https://www.coursera.org/search?query=machine%20learning&page=48&index=prod_all_launched_products_term_optimization"
driver.get(ml48)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml48=pd.DataFrame()
ml48['course'] =curso
ml48['rating'] =rating
ml48['students'] =students
ml48['level'] =nivel
ml48['university'] =universidad

ml48

,course,rating,students,level,university
0,Optimize ML Models and Deploy Human-in-the-Loo...,4.7,"3,5 mil",Advanced,DeepLearning.AI
1,"AI, Business & the Future of Work",4.6,None,Beginner,Lund University
2,AI Fundamentals for Non-Data Scientists,4.8,None,Mixed,University of Pennsylvania
3,Materials Data Sciences and Informatics,4.5,13 mil,Intermediate,Georgia Institute of Technology
4,Oceanography: a key to better understand our w...,4.5,19 mil,Mixed,Universitat de Barcelona
5,Architecting with Google Kubernetes Engine en ...,4.8,16 mil,Beginner,Google Cloud
6,Blockchain Platforms,4.6,25 mil,Intermediate,University at Buffalo
7,New Technologies for Business Leaders,4.4,20 mil,Intermediate,Rutgers the State University of New Jersey
8,Introduction to Image Processing,4.7,None,Beginner,MathWorks
9,Prediction and Control with Function Approxima...,4.8,17 mil,Intermediate,University of Alberta

In [601]:
ml49= "https://www.coursera.org/search?query=machine%20learning&page=49&index=prod_all_launched_products_term_optimization"
driver.get(ml49)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml49=pd.DataFrame()
ml49['course'] =curso
ml49['rating'] =rating
ml49['students'] =students
ml49['level'] =nivel
ml49['university'] =universidad

ml49

,course,rating,students,level,university
0,Introducción a la inteligencia artificial,4.6,22 mil,Intermediate,Universidad Nacional Autónoma de México
1,Cloud Computing Foundations,4.6,"6,2 mil",Beginner,Duke University
2,Autodesk Generative Design for Manufacturing,4.8,16 mil,Advanced,Autodesk
3,Alternative Mobility Narratives,4.8,"1,8 mil",Intermediate,University of Amsterdam
4,Engineering Systems in Motion: Dynamics of Par...,4.9,40 mil,Mixed,Georgia Institute of Technology
5,"Introduction to Data, Signal, and Image Analys...",4.8,18 mil,Intermediate,Vanderbilt University
6,Introduction to advanced tomography,4.6,3 mil,Mixed,Technical University of Denmark (DTU)
7,AI For Medical Treatment,4.7,17 mil,Intermediate,DeepLearning.AI
8,Ethics in the Age of AI,4.7,"7,3 mil",Beginner,LearnQuest
9,Sports and Building Aerodynamics,4.8,12 mil,Intermediate,Eindhoven University of Technology

In [602]:
ml50= "https://www.coursera.org/search?query=machine%20learning&page=50&index=prod_all_launched_products_term_optimization"
driver.get(ml50)

curso =[]
rating=[]
students=[]
nivel=[]
universidad =[]

for i in range(1,11):
    try:
        curso.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/h2").text)
        rating.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[1]/div/span[1]").text)
    except:
        rating.append("None")
    try:
        students.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[1]/div[2]/span/span").text)
    except:
        students.append("None")
    try:
        nivel.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[3]/div/div[2]/div/div[2]/span").text)
    except:
        nivel.append("None")
    try:
        universidad.append(driver.find_element_by_xpath(f"//*[@id='main']/div[2]/div/div[1]/div/div[2]/div/div/ul/li[{i}]/div/div/a/div/div/div[1]/div[1]/div[2]/span").text)
    except:
        universidad.append("None")

ml50=pd.DataFrame()
ml50['course'] =curso
ml50['rating'] =rating
ml50['students'] =students
ml50['level'] =nivel
ml50['university'] =universidad

ml50

,course,rating,students,level,university
0,Initiation à la programmation (en C++),4.8,39 mil,Beginner,École Polytechnique Fédérale de Lausanne
1,Blended Language Learning: Design and Practice...,4.8,"9,4 mil",Intermediate,University of Colorado Boulder
2,Contact Center AI: Conversational Design Funda...,4.4,"3,4 mil",Beginner,Google Cloud
3,Introduction to Predictive Modeling,4.9,"2,6 mil",Mixed,University of Minnesota
4,Preparing for the AZ-900 Microsoft Azure Funda...,4.8,"8,7 mil",Beginner,Microsoft
5,Equivalent Circuit Cell Model Simulation,4.7,12 mil,Intermediate,University of Colorado Boulder
6,Life 101: Mental and Physical Self-Care,4.8,"5,2 mil",Beginner,"University of California, Irvine"
7,Manejo del enfermo semicrítico y crítico por C...,4.8,"8,3 mil",Advanced,Universitat de Barcelona
8,IA para todos,4.9,23 mil,Beginner,DeepLearning.AI
9,Microsoft Azure Management Tools and Security ...,4.8,"7,5 mil",Beginner,Microsoft

In [603]:
mlfinal = pd.concat([ml1, ml2, ml3, ml4, ml5, ml6, ml7, ml8, ml9, ml10, ml11, ml12, ml13, ml14, ml15, ml16, ml17, ml18, ml19, ml20, ml21, ml22, ml23, ml24, ml25, ml26, ml27, ml28, ml29, ml30, ml31, ml32, ml33, ml34, ml35, ml36, ml37, ml38, ml39, ml40, ml41, ml42, ml43, ml44, ml45, ml46, ml47, ml48, ml49, ml50])

In [604]:
mlfinal = mlfinal.reset_index()

In [605]:
mlfinal.drop('index', axis=1, inplace=True)

In [606]:
lista =[]
for i in range(500):
    lista.append("Machine Learning")

In [607]:
mlfinal['skills'] = lista

In [608]:
mlfinal

,course,rating,students,level,university,skills
0,Machine Learning,4.9,"4,7 m",Mixed,Stanford University,Machine Learning
1,IBM Machine Learning,4.6,37 mil,Intermediate,IBM,Machine Learning
2,Machine Learning,4.6,430 mil,Intermediate,University of Washington,Machine Learning
3,Deep Learning,4.8,"1,2 m",Intermediate,DeepLearning.AI,Machine Learning
4,Mathematics for Machine Learning,4.6,300 mil,Beginner,Imperial College London,Machine Learning
...,...,...,...,...,...,...
495,Equivalent Circuit Cell Model Simulation,4.7,12 mil,Intermediate,University of Colorado Boulder,Machine Learning
496,Life 101: Mental and Physical Self-Care,4.8,"5,2 mil",Beginner,"University of California, Irvine",Machine Learning
497,Manejo del enfermo semicrítico y crítico por C...,4.8,"8,3 mil",Advanced,Universitat de Barcelona,Machine Learning
498,IA para todos,4.9,23 mil,Beginner,DeepLearning.AI,Machine Learning
499,Microsoft Azure Management Tools and Security ...,4.8,"7,5 mil",Beginner,Microsoft,Machine Learning

In [609]:
mlfinal.to_csv("machine_learning.csv")